<header>
	<span class="icon bd-cross close-me"></span>
	<h1>About Us</h1>
</header>

<main>
	<div>
		<div class="grey-area text-center">
			<img src="resources/logo-active.png" class="logo" />
			<a class="terms">Terms and Conditions</a>
			<p class="version">Version 3.0.1</p>
			<div class="social">
				<h1>Find us here</h1>
				<div class="links">
					<a class="open-browser icon bd-facebook" href="https://www.facebook.com/261894800656872"></a>
					<a class="open-browser icon bd-twitter" href="https://twitter.com/boatdayapp"></a>
					<a class="open-browser icon bd-instagram" href="https://instagram.com/boatdayapp/"></a>
					<a class="open-browser icon bd-web" href="http://www.boatdayapp.com"></a>
				</div>
			</div>
		</div>
		<div class="white-area feedback">

			<label for="email" class="field">Email</label>
			<input type="email" name="email" id="email" placeholder="E-mail" value="<%= typeof Parse.User.current().get('email') != typeof undefined ? '' : Parse.User.current().get('email') %>" />
		
			<!-- <label for="phone" class="field">Phone number</label>
			<input type="number" name="phone" id="phone" placeholder="Phone" value="<%= typeof Parse.User.current().get('phone') != typeof undefined ? '' : Parse.User.current().get('phone') %>" pattern="[0-9]*" /> -->
		
			<label for="feedback" class="field">Please give us your feedback</label>
			<textarea name="feedback" id="feedback" rows="3" placeholder="It is our mission to create the best boating app for you. Tell us what's on your mind."></textarea>

		</div>
	</div>
</main>
<footer>
	<button class="btn-primary send">Send Feedback</button>
</footer>