<header class="bar bar-nav">
	<a class="icon icon-bars pull-left btn-drawer"></a>
	<h1 class="title">About Us</h1>
</header>

<div class="content">

	<div class="content-padded text-center">
		<img src="resources/logo-colors.png" class="logo" />
		<p class="version">Version 2.0.0</p>
	</div>

	<ul class="table-view">
		<!-- 
		<li class="table-view-cell">
			<a href="http://www.boatdayapp.com" class="open-browser navigate-right">
				Our website
			</a>
		</li><li class="table-view-cell">
			<a href="itms-apps://itunes.apple.com/us/app/boatday/id953574487" class="open-browser navigate-right">
				Rate us on the App Store
			</a>
		</li>
		<li class="table-view-cell">
			<a href="https://www.facebook.com/261894800656872" class="open-browser navigate-right">
				Like us on facebook
			</a>
		</li>
		<li class="table-view-cell">
			<a href="https://twitter.com/boatdayapp" class="open-browser navigate-right">
				Follow us on twitter
			</a>
		</li>
		<li class="table-view-cell">
			<a href="https://instagram.com/boatdayapp/" class="open-browser navigate-right">
				Follow us on Instagram
			</a>
		</li>
		-->
		<li class="table-view-cell">
			<a href="#/terms" class="navigate-right">
				Terms &amp; Conditions
			</a>
		</li>
	</ul>

	<nav class="bar bar-tab">
		<a class="tab-item open-browser" href="itms-apps://itunes.apple.com/us/app/boatday/id953574487">
			<span class="fa fa-fw fa-star-o icon"></span>
			<span class="tab-label">Rate us</span>
		</a>
		<a class="tab-item open-browser" href="https://www.facebook.com/261894800656872">
			<span class="fa fa-fw fa-facebook icon"></span>
			<span class="tab-label">Facebook</span>
		</a>
		<a class="tab-item open-browser" href="https://twitter.com/boatdayapp">
			<span class="fa fa-fw fa-twitter icon"></span>
			<span class="tab-label">Twitter</span>
		</a>
		<a class="tab-item open-browser" href="https://instagram.com/boatdayapp/">
			<span class="fa fa-fw fa-instagram icon"></span>
			<span class="tab-label">Instagramm</span>
		</a>
		<a class="tab-item open-browser" href="http://www.boatdayapp.com">
			<span class="fa fa-fw fa-globe icon"></span>
			<span class="tab-label">Website</span>
		</a>
	</nav>

</div>