<header class="bar bar-nav">
	<a class="icon icon-bars pull-left btn-drawer"></a>
	<h1 class="title">About Us</h1>
</header>

<div class="content">

	<div class="content-padded text-center">
		<p class="version">Version 2.4.16</p>
		<p class="date">October 1st, 2015</p>
		<img src="resources/logo-colors.png" class="logo" />

		<div class="feedback">
			<input type="email" name="email" placeholder="E-mail" value="<%= typeof Parse.User.current().get('email') != typeof undefined ? '' : Parse.User.current().get('email') %>" />
			<textarea name="feedback" rows="3" placeholder="It is our mission to create the best boating app for you. Tell us what's on your mind."></textarea>
			<button class="btn btn-block btn-send">
				<span class="fa fa-paper-plane-o"></span>
				Send feedback
			</button>
		</div>

		
		<div class="social">
			<p>You can find us on</p>
			<a class="open-browser" href="https://www.facebook.com/261894800656872">
				<img src="resources/ico-social-fb.png" />
				Facebook
			</a>
			<a class="open-browser" href="https://twitter.com/boatdayapp">
				<img src="resources/ico-social-twitter.png" />
				Twitter
			</a>
			<a class="open-browser" href="https://instagram.com/boatdayapp/">
				<img src="resources/ico-social-instagram.png" />
				Instagram
			</a>
			<span class="clear"></span>
		</div>

		<div class="website">
			<p class="text-center">or visit our website</p>
			<a class="btn btn-primary btn-block open-browser" href="http://www.boatdayapp.com">www.boatdayapp.com</a>
		</div>

		<p>
			<a class="terms-modal">Terms and Conditions</a>
		</p>
	</div>

	<!-- <a class="tab-item open-browser" href="itms-apps://itunes.apple.com/us/app/boatday/id953574487">
		<span class="fa fa-fw fa-star-o icon"></span>
		<span class="tab-label">Rate us</span>
	</a> -->

</div>