<header class="bar bar-nav">
	<a class="icon icon-close pull-left close-me"></a>
	<h1 class="title">Contribute &amp; Review</h1>
</header>

<div class="content">
	
	<div class="content-padded">
		<h1>Rating</h1>
		
		<label>BoatDay Experience</label>
		<img class="rating-3 star" src="resources/star.png" />
		<img class="rating-3 star" src="resources/star.png" />
		<img class="rating-3 star" src="resources/star.png" />
		<img class="rating-3 star" src="resources/star.png" />
		<img class="rating-3 star" src="resources/star.png" />

		<label>Host Communication</label>
		<img class="rating-1 star" src="resources/star.png" />
		<img class="rating-1 star" src="resources/star.png" />
		<img class="rating-1 star" src="resources/star.png" />
		<img class="rating-1 star" src="resources/star.png" />
		<img class="rating-1 star" src="resources/star.png" />

		<label>Listing Accuracy</label>
		<img class="rating-2 star" src="resources/star.png" />
		<img class="rating-2 star" src="resources/star.png" />
		<img class="rating-2 star" src="resources/star.png" />
		<img class="rating-2 star" src="resources/star.png" />
		<img class="rating-2 star" src="resources/star.png" />

		<label>Host Review</label>
		<textarea name="review" rows="3"></textarea>

		<h1>Payment</h1>


		<button class="btn btn-block btn-book btn-action">Contribute &amp; Review</button>
	</div>
</div>