<div class="boatday-card card-<%=id%>" data-id="<%= id %>">
	<div class="boat-img">
		<div class="picture">
			<div class="owner">
				<div class="header">
					<div class="left">
						Your contribution
						$<strong>165</strong>
					</div>
					<div class="right">
						Your rating
						<img src="resources/rating-<%= rating %>.png" />
					</div>
				</div>
				<div class="profile-picture" style="background-image:url(<%= captainProfilePicture %>)"></div>
			</div>
		</div>
	</div>
	<div class="details">
		<div class="captain text-center">Hosted By <strong><%= captainName %></strong></div>
		<h1 class="text-center"><%= title %></h1>
		<div class="date text-center"><%= dateDisplay + ', ' + timeDisplay %></div>
	</div>
</div>