<!-- <header class="bar bar-nav">
	<a class="icon icon-bars pull-left btn-drawer"></a>
	<h1 class="title">PICK A CATEGORY</h1>
</header> -->

<div class="content">

	<div class="category leisure" bd-category="leisure">
		<div class="next"></div>
		<h1>Leisure</h1>
	</div>
	<div class="category fishing" bd-category="fishing">
		<div class="next"></div>
		<h1>Fishing</h1>
	</div>
	<div class="category sailing" bd-category="sailing">
		<div class="next"></div>
		<h1>Sailing</h1>
	</div>
	<div class="category sports" bd-category="sports">
		<div class="next"></div>
		<h1>Water Sports</h1>
	</div>

</div>
