<header class="bar bar-nav">
	<a class="icon bd-drawer pull-left btn-drawer"></a>
	<h1 class="title">My BoatDays</h1>
</header>
<div class="bar bar-standard bar-header-secondary categories">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><a class="boatdays-upcoming">Upcoming Trips</a></div>
			<div class="swiper-slide"><a class="boatdays-pending">Pending Trips</a></div>
			<div class="swiper-slide"><a class="boatdays-past">Past Trips</a></div>
			<div class="swiper-slide"><a class="boatdays-cancelled">Cancelled Trips</a></div>
			<div class="swiper-slide"><a class="boatdays-favorite">Favorite Trips</a></div>
		</div>
	</div>
</div>
<div class="content">
	
</div>