<div class="boatday-card card-<%=id%>" data-id="<%= id %>">
	<div class="boat-img">
		<div class="picture">
			<div class="price"><sup>$</sup><%= price %><sub>/person</sub></div>
			<div class="owner">
				<div class="profile-picture" style="background-image:url(<%= captainProfilePicture %>)"></div>
				<div class="name"><strong><%= captainName %></strong></div>
				<% if( captainRating ) { %>
					<div class="rating">
						<img src="resources/rating-<%= captainRating %>.png" />
					</div>
				<% } %>
			</div>
		</div>
	</div>
	<div class="details">
		<h1><%= title %></h1>
		<div class="seats">
			<strong><%= availableSeats - bookedSeats %></strong>/<%= availableSeats %> seats
		</div>
		<div class="date">
			<%= dateDisplay + ', ' + timeDisplay %>
		</div>
		<div class="duration">
			Duration: <%= duration %> hours
		</div>
		<div class="position">
			<strong><span class="fa fa-map-marker"></span></strong> <%= position %>
		</div>
	</div>
</div>