<main>
	<div class="header grey-area">
		<img class="logo" src="resources/logo-active.png" />
		<p>We hope you’re enjoying yourself on "<%= self.model.get('boatday').get('name') %>"</p>
	</div>
	<div class="links">
		<a class="item chat">
			<span class="icon bd-speech-bubble"></span>
			<span class="label">Open Chat</span>
		</a>
		<a class="item call">
			<span class="icon bd-smartphone"></span>
			<span class="label">Call Host</span>
		</a>
		<a class="item map">
			<span class="icon bd-navigate"></span>
			<span class="label">BoatDay Map</span>
		</a>
		<!--
		<a class="item take-picture">
			<span class="icon bd-camera-plus"></span>
			<span class="label">Take pictures</span>
		</a>
		-->
		<a class="item emergency">
			<span class="icon bd-camera-plus"></span>
			<span class="label">Emergency services</span>
		</a>
	</div>
</main>
<footer>
	<a class="info">What is this screen?</a>
</footer>