<div class="boatday-card card-<%= boatday.id %>" data-id="<%= boatday.id %>" data-request="<%= request.id %>">
	<div class="boat-img">
		<div class="picture">
			<div class="owner">
				<div class="header">
					<% if( boatday.get('status') == 'cancelled' ) { %>
						<div class="center">
							Cancelled by the host
						</div>
					<% } else  if( request.get('status') == 'approved' )  { %>
						<% if( request.get('ratingGuest') ) { %>
							<div class="left">
								Your contribution<br/>
								<sup>$</sup><strong><%= request.get('contribution') %></strong>
							</div>
							<div class="right">
								Your Rating<br/>
								<% if( request.get('ratingGuest') ) { %>
									<img src="resources/rating-<%= Math.ceil(request.get('ratingGuest')) %>.png" />
								<% } else { %>
									(no ratings yet)
								<% } %>
							</div>
						<% } else { %>
							<div class="center btn-pay">
								<% if( !request.get('contribution') ) { %>
									Review this BoatDay
								<% } else { %>
									Review this BoatDay
								<% } %>
							</div>
						<% } %>

					<% } else { %>
						<div class="center">
							<%= request.get('status') == 'cancelled-guest' ? 'You cancelled your seats for this BoatDay' : '' %>
							<%= request.get('status') == 'cancelled-host' ? 'Host cancelled this seat request' : '' %>
							<%= request.get('status') == 'denied' ? 'Seat request denied' : '' %>
							<%= request.get('status') == 'pending' ? 'This seat request was not not acceepted.' : '' %>
						</div>
					<% } %>
				</div>
				<div class="profile-picture" data-id="<%= boatday.get('captain').id %>" style="background-image:url(<%= boatday.get('captain').get('profilePicture').url() %>)"></div>
			</div>
		</div>
	</div>
	<div class="details">
		<div class="captain text-center">Hosted By <strong><%= boatday.get('captain').get('displayName') %></strong></div>
		<h1 class="text-center"><%= boatday.get('name') %></h1>
		<div class="date text-center"><%= self.dateParseToDisplayDate(boatday.get('date')) + ', ' + self.departureTimeToDisplayTime(boatday.get('departureTime')) %></div>
		<% if( boatday.get('status') == 'cancelled' ) { %>
			<p class="text-center">
				<br/>
				<strong>Cancellation reason:</strong>
				<br/>
				<%= boatday.get('cancelReason') %>
			</p>
		<% } %>
	</div>
</div>