<header class="bar bar-nav">
	<a class="icon icon-close pull-left close-me"></a>
	<h1 class="title">BOAT</h1>
</header>
<div class="content">
	<div class="boat-card">
		<h1><%= name %></h1>
		<h2>Year <%= buildYear %></h2>
	</div>
	<div class="boat-pictures"></div>
	<div class="grey-area">
		<div class="boat-info ">
			<div id="capacity"><h3>Capacity</h3> <p><%= capacity %></p></div>
			<div id="length"><h3>Length</h3> <p><%= length %> ft.</p></div>
			<div id="type"><h3>Type</h3> <p><%= type %></p></div>
		</div>
	</div>
	<div class="boat-amenities grey-area">
			<h3>BOAT AMENITIES</h3>
		<div class="features">
			<% if( self.model.get('features').airConditioning ) { %>
				<p>Air Conditioning</p>
			<% } %>
			<% if( self.model.get('features').autopilot ) { %>
				<p>Autopilot</p>
			<% } %>
			<% if( self.model.get('features').cooler ) { %>
				<p>Cooler</p>
			<% } %>
			<% if( self.model.get('features').depthFinder ) { %>
				<p>Depth Finder</p>
			<% } %>
			<% if( self.model.get('features').fishFinder ) { %>
				<p>Fish Finder</p>
			<% } %>
			<% if( self.model.get('features').gps ) { %>
				<p>GPS</p>
			<% } %>
			<% if( self.model.get('features').grill ) { %>
				<p>Grill</p>
			<% } %>
			<% if( self.model.get('features').internet ) { %>
				<p>Internet</p>
			<% } %>
			<% if( self.model.get('features').liveBaitWell ) { %>
				<p>Live Bait Well</p>
			<% } %>
			<% if( self.model.get('features').microwave ) { %>
				<p>Microwave</p>
			<% } %>
			<% if( self.model.get('features').refrigeration ) { %>
				<p>Refrigeration</p>
			<% } %>
			<% if( self.model.get('features').rodHolder ) { %>
				<p>Rod Holder</p>
			<% } %>
			<% if( self.model.get('features').shower ) { %>
				<p>Shower</p>
			<% } %>
			<% if( self.model.get('features').sink ) { %>
				<p>Sink</p>
			<% } %>
			<% if( self.model.get('features').stereo ) { %>
				<p>Stereo</p>
			<% } %>
			<% if( self.model.get('features').stereoAuxInput ) { %>
				<p>Stereo Aux Input</p>
			<% } %>
			<% if( self.model.get('features').sonar ) { %>
				<p>Sonar</p>
			<% } %>
			<% if( self.model.get('features').swimLadder ) { %>
				<p>Swim Ladder</p>
			<% } %>
			<% if( self.model.get('features').tvDvd ) { %>
				<p>TV/DVD</p>
			<% } %>
			<% if( self.model.get('features').trollingMotor ) { %>
				<p>Trolling Motor</p>
			<% } %>
			<% if( self.model.get('features').wakeboardTower ) { %>
				<p>Wakeboard Tower</p>
			<% } %>
		</div>
	</div>
</div>