<main>
	
	<div class="header grey-area">
		<img class="logo" src="resources/bd-team.jpg" />
		<p class="welcome">We hope you’re enjoying yourself on "<%= self.model.get('boatday').get('name') %>"</p>
	</div>

	<div class="actions">
		<div class="option" id="chat">
			<a class="icon bd-speech-bubble "></a>
			<span class="label">Open Chat</span>
		</div>
		<div class="option" id="call-host">
			<a class="icon bd-speech-bubble "></a>
			<span class="label">Call Host</span>
		</div>
		<div class="option" id="map">
			<a class="icon bd-navigate "></a>
			<span class="label">BoatDay Map</span>
		</div>
		<div class="option" id="take-picture">
			<a class="icon bd-camera-plus "></a>
			<span class="label">Take pictures</span>
		</div>
		<div class="option" id="call-emergency">
			<a class="icon  bd-camera-plus "></a>
			<span class="label">Emergency services</span>
		</div>

	</div>
</main>
<footer>
	<p>What is this screen?</p>
</footer>