<div class="content">
	
	<div class="content-padded">
		<img class="logo" src="resources/logo-white.png" />
		<p class="welcome">We hope you’re enjoying yourself "<%= self.model.get('boatday').get('name') %>" out on the water!</p>
	</div>

	<div class="actions">
		<a class="btn-map"><span class="fa fa-fw fa-location-arrow"></span></a>
		<a class="btn-call"><span class="fa fa-fw fa-phone"></span></a>
		<a class="btn-chat"><span class="fa fa-fw fa-comment"></span></a>
		<!-- <a class="btn-camera"><span class="fa fa-fw fa-camera-retro"></span></a> -->
	</div>

	<div class="clip-to-bottom">
		<div class="content-padded">
			<button class="btn btn-block btn-primary btn-emergency">
				<span class="fa fa-phone"></span>
				Emergency Services
			</button>
		</div>
	</div>
</div>