<div class="boatday-card card-<%=id%>" data-id="<%= id %>">
	<div class="boat-img">
		<div class="picture">
			<div class="owner">
				<div class="header">
					<% if(status == 'approved')  { %>
						<div class="left">
							Your contribution<br/>
							<sup>$</sup><strong><%= contribution %></strong>
						</div>
						<div class="right">
							Your rating<br/>
							<% if( rating ) { %>
								<img src="resources/rating-<%= rating %>.png" />
							<% } else { %>
								(no ratings yet)
							<% } %>
						</div>
					<% } else { %>
						<div class="center">
							<%= status == 'cancelled-guest' ? 'You cancelled this event' : '' %>
							<%= status == 'cancelled-host' ? 'Host cancelled this event' : '' %>
							<%= status == 'denied' ? 'Seat request denied' : '' %>
							<%= status == 'pending' ? 'This event was pending' : '' %>
						</div>
					<% } %>
				</div>
				<div class="profile-picture" style="background-image:url(<%= captainProfilePicture %>)"></div>
			</div>
		</div>
	</div>
	<div class="details">
		<div class="captain text-center">Hosted By <strong><%= captainName %></strong></div>
		<h1 class="text-center"><%= title %></h1>
		<div class="date text-center"><%= dateDisplay + ', ' + timeDisplay %></div>
	</div>
</div>