<header class="bar bar-nav">
	<a class="icon icon-close pull-left close-me"></a>
	<h1 class="title">Book Seats</h1>
</header>

<div class="content">
	
	<div class="content-padded">
		<h1>Contribution Calculator</h1>
		
		<div class="seats">
			<select name="seats">
				<% for(var i = 1; i <= (availableSeats - bookedSeats); i++) { %>
				<option value="<%= i %>"><%= i %> seat<%= i != 1 ? 's' : '' %></option>
				<% } %>
			</select>

			<table>
				<tr class="contribution">
					<td class="label">Contribution</td>
					<td class="amount-seats"></td>
					<td class="amount"></td>
				</tr>
				<tr class="fee" style="display:hidden;">
					<td class="label">BoatDay Fee</td>
					<td class="amount-seats"></td>
					<td class="amount"></td>
				</tr>
				<tr class="tsf" style="display:hidden;">
					<td class="label">Trust &amp; Safety Fee</td>
					<td class="amount-seats"></td>
					<td class="amount"></td>
				</tr>
				<tr class="discount-per-seat" style="display:hidden;">
					<td class="label"></td>
					<td class="amount-seats"></td>
					<td class="amount"></td>
				</tr>
				<tr class="promo-per-seat" style="display:hidden;">
					<td class="label"></td>
					<td class="amount-seats"></td>
					<td class="amount"></td>
				</tr>
				<tr class="discount" style="display:hidden;">
					<td class="label"></td>
					<td></td>
					<td class="amount"></td>
				</tr>
				<tr class="promo" style="display:hidden;">
					<td class="label"></td>
					<td></td>
					<td class="amount"></td>
				</tr>
			</table>

			<p class="total">
				<sup>$</sup><span class="price-total"></span>
			</p>
		</div>

		<div class="payment">
			<label>Pick a credit card</label>
			<div class="field-card">
				<select name="card"></select>
			</div>
		</div>

		<div class="submit-request">
			<button class="btn btn-block btn-book btn-action">Submit Seat Request</button>
			<p class="text-center">By tapping on "Submit Seat Request" you agree to the <a class="btn-terms">Terms &amp; Conditions</a> and <a class="btn-cancellation">Cancellation Policy</a>.<p>
		</div>
	</div>
</div>