<div class="boatday-card card-<%=id%>" data-id="<%= id %>" request-id="<%= seatRequestId %>"> 
	<div class="boat-img btn-boatday">
		<div class="picture">
			<div class="owner">
				<div class="profile-picture" style="background-image:url(<%= captainProfilePicture %>)"></div>
				<div class="name"><strong><%= captainName %></strong></div>
				<% if( captainRating ) { %>
					<div class="rating">
						<img src="resources/rating-<%= captainRating %>.png" />
					</div>
				<% } %>
			</div>
		</div>
	</div>
	<div class="details btn-boatday">
		<h1><%= title %></h1>
		<div class="date">
			<%= dateDisplay + ', ' + timeDisplay %>
		</div>
		<div class="duration">
			Duration: <%= duration %> hours
		</div>
		<div class="duration">
			<%= seats %> seat<%= seats == 1 ? '': 's' %> requested
		</div>
		<div class="status">
			<%= status == 'pending' ? 'Request Pending' : '' %>
			<%= status == 'approved' ? 'Request Approved' : '' %>
			<%= status == 'denied' ? 'Request Denied' : '' %>
			<%= status == 'cancelled-guest' ? 'Seats Cancelled' : '' %>
			<%= status == 'cancelled-host' ? 'Seats Cancelled' : '' %>
		</div>
	</div>
	<% if( status == 'approved' ) { %>
		<div class="chat btn-chat">
			<a>Open Group Discussion</a>
			<% if( newMessages > 0 ) { %> 
				<p class="new" style="display:none">
					<span class="bullet"></span> <span class="amount"></span>
				</p>
			<% } %>
		</div>
	<% } %>
</div>
	