<header class="bar bar-nav">
	<a class="icon icon-close pull-left close-me"></a>
	<h1 class="title">Book seats</h1>
</header>

<div class="content">
	
	<div class="content-padded">
		<h1>Contribution Calculator</h1>
		
		<div class="seats">
			<select name="seats">
				<% for(var i = 1; i <= availableSeats; i++) { %>
				<option value="<%= i %>"><%= i %> seat<%= i != 1 ? 's' : '' %></option>
				<% } %>
			</select>

			<table>
				<tr>
					<td>Contribution per seat</td>
					<td class="price"></td>
				</tr>
				<tr>
					<td>BoatDay Fee</td>
					<td class="bdfee"></td>
				</tr>
				<tr>
					<td>Trust &amp; Safety Fee</td>
					<td class="fee"></td>
				</tr>
			</table>

			<p class="total">
				<sup>$</sup><span class="price-total"></span>
			</p>
		</div>

		<div class="payment">
			<label>Pick a credit card</label>
			<div class="field-card">
				<select name="card"></select>
			</div>
		</div>

		<button class="btn btn-block btn-book btn-action">Book seats</button>
	</div>
</div>