<header>
	<span class="icon bd-drawer pull-left btn-drawer"></span>
	<h1>Boatdays</h1>
	<span class="icon bd-location btn-map"></span>
</header>

<main>
	<div class="filters">
		<div class="left location">
			<span class="icon bd-pin"></span>
			<label class="change-location">Miami, FL</label>
			<div class="hidden-content">
				<select name="location">
					<option value="my-location" lat="" lng="">My location</option>
					<option value="wpb-fl" lat="26.713361" lng="-80.048790">West Palm Beach, FL</option>
					<option value="ftl-fl" lat="26.119363" lng="-80.129802">Ft. Lauderdale, FL</option>
					<option value="mia-fl" lat="25.774382" lng="-80.185515">Miami, FL</option>
				</select>
			</div>
		</div>
		<div class="right open-filters">
			<span class="icon bd-sliders"></span>
			<label>Add Filters</label>
		</div>
	</div>

	<div class="category-empty">
		<p class="text-center">Currently no BoatDays for this filters. try less restrictive filters!</p>
	</div>

	<div class="inner"></div>
</main>