<header class="bar bar-nav">
	<a class="icon fa fa-times pull-left close-me"></a>
	<h1 class="title">Group Discussion</h1>
</header>

<div class="content">
	<div class="content-padded">
		<div class="line">
			<div class="profile-picture"></div>
			<div class="text">
				<div class="speech-bubble">
					<p>Hi everyone! I’m planning on bringing a bottle of wine, could some one else bring food for a picnic?</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="line">
			<div class="profile-picture"></div>
			<div class="text">
				<div class="speech-bubble">
					<p>I’ll bring some snacks along!</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="line me">
			<div class="profile-picture"></div>
			<div class="text">
				<div class="speech-bubble">
					<p>I won’t bte able to pick anything up...</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div class="clip-to-bottom">
	<div class="field">
		<input type="text" name="text" placeholder="Your comment..." />
	</div>
	<button class="btn btn-default btn-send">Send</button>
</div>
