<header>
	<span class="icon bd-arrow-left close-me"></span>
	<h1>Choose seats</h1>
	<span class="icon"></span>
</header>
<main>
	<div>
		<div class="white-area date">
			<div class="date-calendar">
				<input type="text" class="form-control calendar" name="calendar" value= "" />
			</div> 
		</div>

		<div class="white-area time">
			<label for="departureTime" class="control-label">Departure Time</label>
			<label class="preview-departureTime control-label pull-right"><%= self.departureTimeToDisplayTime(departureTime) %></label>
			
			<div class="departureTime">
				<input type="text" class="form-control" id="departure" data-slider-id="departureTime" name="departureTime" data-slider-min="0" data-slider-max="23.5" data-slider-handle="round" data-slider-step="0.5" data-slider-value="<%= departureTime %>">
			</div> 
		</div>

		<div class="white-area duration">
			<label for="duration" class="control-label">Duration</label>
			<label class="preview-duration control-label pull-right"><%= duration %></label>
			<div class="duration-slider">	
				<input type="text" class="form-control" data-slider-id="duration-slider" name="duration" data-slider-min="0.5" data-slider-max="12" data-slider-step="0.5" data-slider-value="<%= duration %>">
			</div>
		</div>
		

	 	<div class="items">
	 		<div class="item">
	 			<span class="icon bd-person"></span>
	 			<select name="seats" class="chevron">
					<% for(var i = 1; i <= (availableSeats - bookedSeats); i++) { %>
						<option value="<%= i %>"><%= i %> seat<%= i != 1 ? 's' : '' %></option>
					<% } %>
				</select>
	 		</div>
	 		<div class="item field-card">
				<select name="card"></select>
			</div>
	 	</div>

	 	<div class="price-pay grey-area">
	 		<div class="boatday-picture"><div class="with-price"></div></div>
	 	</div>
	 </div>
</main>
<footer>
	<div class="btn-group">
		<button class="promo">Promo Code</button>
		<button class="info">Pricing Info</button>
	</div>
	<button class="btn-action book">Book Seats</button>
</footer>