<header>
	<span class="icon bd-drawer btn-drawer"></span>
	<h1 class="title">Choose seats</h1>
</header>

<main>
 	<div class="header">
 		<div class="select-seats">
 			<a class="icon-person bd-person "></a>
 			<select name="seats">
					<% for(var i = 1; i <= (availableSeats - bookedSeats); i++) { %>
					<option value="<%= i %>"><%= i %> seat<%= i != 1 ? 's' : '' %></option>
					<% } %>
			</select>
			<!-- <a class="icon-bottom bd-chevron-bottom "></a> -->
 		</div>
 		<div class="field-card">
			<select name="card"></select>
			<!-- <a class="icon-bottom-card bd-chevron-bottom "></a> -->
		</div>
 	</div>

 	<div class="price-pay grey-area">
 		<div class="circle">
 			<h3>Total</h3>
 			<span class="price-total"></span>
 		</div>
 		<p>Your credit card will be charged after your BoatDay has taken place. </p>
 		<div class="btn-group">
			<button class="btn btn-block add-promo-code">Add Promo Code</button>
			<button class="btn btn-block price-info">Pricing Info</button>
		</div>
 	</div>
</main>
<footer>
	<button class="btn btn-block btn-primary book-seat">Book Seat</button>
</footer>