<main>
	<div class="header">
		<h1>Cancelation Policy</h1>
	</div>
	<div class="content-padded">
		<div class="flexible">
			<h1>Flexible</h1>
			<p class="text-center">
				No charge for cancellations up to 1 day prior to departure, except Trust &amp; Safety Fee.
			</p>
		</div>
		<div class="moderate">
			<h1>Moderate</h1>
			<p class="text-center">
				No charge for cancellations up to 3 days prior to departure, except Trust &amp; Safety Fee.
			</p>
		</div>
		<div class="strict">
			<h1>Strict</h1>
			<p class="text-center">
				50% charge for cancellations up to five days prior to departure time, including Trust &amp; Safety Fee.
			</p>
		</div>
	</div>
</main>
