<div class="boatday-card-past" data-id="<%= model.id %>">
	<div class="header-part">
		<div class="host-picture big" data-id="<%= model.get('boatday').get('captain').id %>" style="background-image:url(<%= model.get('boatday').get('captain').get('profilePicture').url() %>)"></div>
		<% if( typeof model.get('ratingGuest') === typeof undefined || !model.get('ratingGuest') ) { %>
			<p class="not-reviewed">You didn't review <strong><%= model.get('boatday').get('captain').get('displayName') %></strong> yet.</p>
		<% } else { %>
			<p class="reviewed">You gave <strong><%= model.get('boatday').get('captain').get('displayName') %></strong></p>
			<div class="rating rating-<%= Math.ceil(model.get('ratingGuest')) %> bd-icons"></div>
		<% } %>
	</div>
	<div class="details">
		<h1><%= model.get('boatday').get('name') %></h1>
		<div class="items">
			<div class="item">
				<div class="bd-pin icon"></div>
				<div class="label"><%= self.getCityFromLocation(model.get('boatday').get('locationText')) %></div>
			</div>
			<div class="item">
				<div class="bd-calendar-day icon"></div>
				<div class="label"><%= self.dateToEnBoatDayCard(model.get('boatday').get('date')) %></div>
			</div>
			<div class="item">
				<% if(model.get('contribution')) { %>
					<div class="bd-money icon"></div>
					<div class="label">$<%= model.get('contribution') %></div>
				<% } %>
			</div>
		</div>
	</div>
</div>