<div class="boatday-card-pending" data-id="<%= model.id %>">
	<div class="image" style="background-image: url(resources/placeholder-boatday.png)">
		<div class="banner left">
			<div class="host-picture small" data-id="<%= model.get('boatday').get('captain').id %>" style="background-image:url(<%= model.get('boatday').get('captain').get('profilePicture').url() %>)"></div>
			<% if( model.get('boatday').get('captain').get('rating') ) { %>
				<div class="rating rating-<%= Math.ceil(model.get('boatday').get('captain').get('rating')) %> bd-icons">
					<div class="with-empty bd-icons"></div>
				</div>
			<% } else { %>
				<label>No rating</label>
			<% } %>
		</div>
		<div class="banner right">
			<label>$<%= self.getGuestPrice(model.get('boatday').get('price'), self.getGuestRate(model.get('boatday').get('captain').get('host').get('type'))) %></label>
		</div>
	</div>
	<div class="details">
		<h1><%= model.get('boatday').get('name') %></h1>
		<div class="items">
			<div class="item">
				<div class="icon bd-pin icon"></div>
				<div class="label"><%= self.getCityFromLocation(model.get('boatday').get('locationText')) %></div>
			</div>
			<div class="item">
				<div class="icon bd-calendar"></div>
				<div class="label"><%= self.dateToEnBoatDayCard(model.get('boatday').get('date')) %></div>
			</div>
			<div class="item">
				<div class="icon bd-clock"></div>
				<div class="label"><%= self.departureTimeToDisplayTime(model.get('boatday').get('departureTime')) %></div>
			</div>
			<div class="item">
				<div class="bd-person icon"></div>
				<div class="label"><%= model.get('seats') %></div>
			</div>
		</div>
	</div>
	<div class="reason">
		<% if( model.get('status') == 'pending' ) { %>
			<h1>You are Awaiting Confirmation</h1>
		<% } else { %>
			<h1>Host is Awaiting your Confirmation </h1>
			<p>The host changed the date of this Trip. Please confirm your participation with the new terms</p>
			<div class="buttons">
				<button class="pending accept">Accept</button>
				<button class="pending cancel">Cancel</button>
			</div>
		<% } %>
	</div>
</div>