<div class="trip">
	<h6>Fri, 15th Aug</h6>
	<div class="items">
		<div class="item">
			<label>Time</label>
			<span class="item-part">3:40 pm</span>
		</div>
		<div class="verticalLine"></div>
		<div class="item">
			<label>Duration</label>
			<span class="item-part">2 hours</span>
		</div>
		<div class="verticalLine"></div>
		<div class="item">
			<label>Available seats</label>
			<span class="item-part">3</span>
		</div>
	</div>
	<div class="join">
		<h1>Join Trip</h1>
	</div>
</div>

<div class="trip">
	<h6>Fri, 15th Aug</h6>
	<div class="items">
		<div class="item">
			<label>Time</label>
			<span class="item-part">3:40 pm</span>
		</div>
		<div class="verticalLine"></div>
		<div class="item">
			<label>Duration</label>
			<span class="item-part">2 hours</span>
		</div>
		<div class="verticalLine"></div>
		<div class="item">
			<label>Available seats</label>
			<span class="item-part">3</span>
		</div>
	</div>
	<div class="join">
		<h1>Join Trip</h1>
	</div>
</div>

<div class="trip">
	<h6>Sun, 12th Sep</h6>
	<div class="items">
		<div class="item">
			<label>Time</label>
			<span class="item-part">12:30 pm</span>
		</div>
		<div class="verticalLine"></div>
		<div class="item">
			<label>Duration</label>
			<span class="item-part">12 hours</span>
		</div>
		<div class="verticalLine"></div>
		<div class="item">
			<label>Available seats</label>
			<span class="item-part">12</span>
		</div>
	</div>
	<div class="join">
		<h1>Join Trip</h1>
	</div>
</div>