<header class="bar bar-nav">
	<a class="icon icon-close pull-left close-me"></a>
	<h1 class="title">Certifications &amp; Licences</h1>
</header>

<div class="content">
	
	<div class="content-padded">
		<div class="cert">
			<img src="resources/certs/BSC.png" class="ico-cert" />
			<p class="text-center">Boater Safety Course</p>
		</div>
		<div class="cert">
			<img src="resources/certs/CCL.png" class="ico-cert" />
			<p class="text-center">Charterboat Captain ("6 Pack")</p>
		</div>
		<div class="cert">
			<img src="resources/certs/FAC.png" class="ico-cert" />
			<p class="text-center">First Aid Certification</p>
		</div>
		<div class="cert">
			<img src="resources/certs/FL.png" class="ico-cert" />
			<p class="text-center">Fishing License</p>
		</div>
		<div class="cert">
			<img src="resources/certs/MCL.png" class="ico-cert" />
			<p class="text-center">Master Captain's License</p>
		</div>
		<div class="cert">
			<img src="resources/certs/SL.png" class="ico-cert" />
			<p class="text-center">Sailing Certificatione</p>
		</div>
	</div>

</div>