<div class="snap-drawer snap-drawer-left">

	<div class="top">
		<div class="profile-picture" style="background-image: url(<%= profilePicture.url %>)"></div>
		<div class="name"><%= displayName %></div>
	</div>

	<div class="links">
		<div class="inner">
			<a href="#/boatdays">
				<img src="resources/ico-drawer-search.png" />
				Search BoatDays
			</a>
			<a href="#/notifications">
				<img src="resources/ico-drawer-notifications.png" />
				Notifications
			</a>
			<a href="#/boatdays-past">
				<img src="resources/ico-drawer-boat.png" />
				Past BoatDays
			</a>
			<a href="#/boatdays-upcoming">
				<img src="resources/ico-drawer-boat.png" />
				Upcoming BoatDays
			</a>
			<span class="clear"></span>
		</div>
	</div>

	<div class="clip-to-bottom">
		<a href="#/profile-payments">Payment Information</a>
		<a href="#/profile-picture">My Profile</a>
		<a href="#/about-us">About BoatDay</a>
	</div>
</div>

<div class="snap-drawer snap-drawer-right"> 

</div>