<header class="bar bar-nav">
	<a class="icon icon-bars pull-left btn-drawer"></a>
	<h1 class="title">Emergency Services</h1>
</header>

<div class="content text-center">

	<div class="content-padded towing">
		<h1>24-Hour Dispatch Number</h1>
		<p>Boat Towing Services are provided by Boat US</p>
		<a href="tel:+18003914869" class="btn btn-block btn-positive">
			<span class="fa fa-phone"></span>
			1-800-391-4869
		</a>
	</div>

	<div class="content-padded coast-guard">
		<h1>US Coast Guard</h1>
		<a href="tel:+18003237233" class="btn btn-block btn-positive">
			<span class="fa fa-phone"></span>
			1-800-323-7233
		</a>
	</div>

</div>