<header class="bar bar-nav">
	<a class="icon icon-bars pull-left btn-drawer"></a>
	<h1 class="title">Feedback</h1>
</header>

<div class="content">

	<div class="content-padded">
		<h1>Thank you!</h1>
		<p class="text-center">It is our mission to create the best boating app for you. Tell us what's on your mind.</p>
		<textarea name="feedback" rows="5" placeholder="Leave your feedback here..."></textarea>
		<button class="btn btn-block btn-send">
			<span class="fa fa-paper-plane-o"></span>
			Send feedback
		</button>
	</div>

</div>