<div class="drop">
	<header>
		<h1>Add Filters</h1>
	</header>

	<main>
		<div class="drop-down">
			<select class="form-control" name="categories">
				<option>All</option>
				<option value="leisure">Leisure</option>
				<option value="fishing">Fishing</option>
				<option value="sailing">Sailing</option>
				<option value="activity">Activity</option>
			</select>
		</div>
		<div class="price">
			<select class="form-control" name="price">
				<option value="">0-50</option>
				<option value="">50-100</option>
				<option value="">100-150</option>
				<option value="">150-200</option>
			</select>
		</div>
		<div class="availableSeats">
			<select class="form-control" name="availableSeats">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
			</select>
		</div>
		<div class="date">
			<label>day</label>
			<a href="#">Add a date</a>
		</div>
						
	</main>

	<footer>
		<span class="icon bd-cross close-me"></span>
	</footer>
</div>