<header>
	<a class="icon bd-drawer pull-left btn-drawer"></a>
	<h1 class="title">Information</h1>
</header>
<%
	if( birthday ) {
		var dt = new Date(birthday.iso);
		var dt_yyyy = dt.getFullYear();
		var dt_mm = dt.getMonth()+1;
		dt_mm = dt_mm < 10 ? '0'+dt_mm : dt_mm;
		var dt_dd = dt.getDate();
		dt_dd = dt_dd < 10 ? '0'+dt_dd : dt_dd;
		var dt_value = dt_yyyy + '-' + dt_mm + '-' + dt_dd;
	}
%>
<main>
	<div class="content-padded">
		
		<% if( self.profileSetup ) { %>
			<img src="resources/profile-step-1.png" class="step" />
		<% } %>

		<h1>Personal Information</h1>

		<label>First Name</label>
		<input type="text" name="firstName" placeholder="First Name" value="<%= typeof firstName !== 'undefined' && firstName ? firstName : '' %>" <%= self.profileSetup ? '' : 'readonly' %>>

		<label>Last Name</label> 
		<input type="text" name="lastName" placeholder="Last Name" value="<%= typeof lastName !== 'undefined' && lastName ? lastName : '' %>" <%= self.profileSetup ? '' : 'readonly' %>>

		<label>Birthday</label>
		<input type="date" name="birthday" placeholder="Birthday" value="<%=  dt_value ? dt_value : '' %>">

		<label>Phone number</label>
		<input type="number" name="phone" placeholder="Phone Number" value="<%= typeof phone !== 'undefined' && phone ? phone : '' %>"  pattern="[0-9]*">

		<button class="btn btn-block btn-default save"><%= self.profileSetup ? 'Continue' : 'Update' %></button>
	</div>
</main>
