<header>
	<span class="icon bd-arrow-left close-me"></span>
	<h1>Information</h1>
</header>
<%
	if( birthday ) {
		var dt = new Date(birthday.iso);
		var dt_yyyy = dt.getFullYear();
		var dt_mm = dt.getMonth()+1;
		dt_mm = dt_mm < 10 ? '0'+dt_mm : dt_mm;
		var dt_dd = dt.getDate();
		dt_dd = dt_dd < 10 ? '0'+dt_dd : dt_dd;
		var dt_value = dt_yyyy + '-' + dt_mm + '-' + dt_dd;
	}
%>
<main>
	<div>
		<div class="grey-area header">
			<h1>Personal Information</h1>
		</div>
		<div class="white-area">
			<label for="firstName" class="field">First Name</label>
			<input type="text" name="firstName" id="firstName" class"firstName" placeholder="First Name" value="<%= typeof firstName !== 'undefined' && firstName ? firstName : '' %>">

			<label for="lastName" class="field">Last Name</label> 
			<input type="text" name="lastName" id="lastName" class"lastName" placeholder="Last Name" value="<%= typeof lastName !== 'undefined' && lastName ? lastName : '' %>">

			<label for="birthday" class="field">Birthday</label>
			<input type="date" name="birthday" id="birthday" class"birthday" placeholder="Birthday" value="<%=  dt_value ? dt_value : '' %>">

			<label for="phone" class="field">Phone number</label>
			<input type="number" name="phone" id="phone" class"phone" placeholder="Phone Number" value="<%= typeof phone !== 'undefined' && phone ? phone : '' %>"  pattern="[0-9]*">
		</div>
	</div>
</main>
<footer>
	<button class="btn-primary save">Continue</button>
</footer>
