<div class="notification <%= read ? 'read' : '' %>">
	<p>
		<span class="profile-picture" style="background-image:url(<%= from && from.get('profilePicture') ? from.get('profilePicture').url() : 'resources/ico-bd.png' %>)"></span>
		<span class="sender"><%= fromTeam ? 'BoatDay Team' : from.get('displayName') %></span>
		<!-- <span class="time">9:30 PM</span> -->
		<br/>

		<% if( action == "request-approved" ) { %>
			I have approved your request for <%= request.get('seats') %> seat<%= request.get('seats') == 1 ? '' : 's' %> on <strong><%= boatday.get('name') %></strong>.
			You can now find in your <a href="#/boatdays-upcoming">Upcoming BoatDays</A>. Welcome aboard!
		<% } %>

		<% if( action == "request-denied" ) { %>
			Unfortunately, I can't approve your seat request for <strong><%= boatday.get('name') %></strong>.
			You can now find in your <a href="#/boatdays-past">Past BoatDays</a>.
		<% } %>

		<% if( action == "request-cancelled-host" ) { %>
			Bad news, I had to cancel your reserved seat<%= request.get('seats') == 1 ? '' : 's' %> for the BoatDay <strong><%= boatday.get('name') %></strong>.
			You can now find this BoatDay in your <a href="#/boatdays-past">Past BoatDays</a>.
		<% } %>

		<% if( action == "boatday-cancelled" ) { %>
			Bad news, I had to cancel the BoatDay <strong><%= boatday.get('name') %></strong>.
			Check out your <a href="#/boatdays-past">Past BoatDays</a> to know the reason.
		<% } %>

		<% if( action == "auto-payment" ) { %>
			A <sup>$</sup><%= request.get('contribution') %> contribution for your BoatDay <strong><%= boatday.get('name') %></strong> has been charged.
			Come back soon for another great BoatDay experience!
		<% } %>

		<% if( action == "boatday-message" ) { %>
			I just wrote a message on the chat wall for <strong><%= boatday.get('name') %></strong>.
		<% } %>

		<% if( action == "boatday-rating" ) { %>
			I just left you a rating for our BoatDay <strong><%= boatday.get('name') %></strong>.
			You can now find this BoatDay in your <a href="#/boatdays-past">Past BoatDays</a>.
		<% } %>

		<% if( action == "bd-message" ) { %>
			<%= message %>
		<% } %>

		<span class="clear"></span>
	</p>
</div>