<header>
	<a class="icon bd-arrow-left close-me"></a>
	<h1><%= self.model.get('boatday').get('name') %></h1>
	<span class="icon"></span>
</header>

<main>
	<div>
		<div class="rate white-area">
			<div class="rating" data-rating="1"></div>
			<div class="rating" data-rating="2"></div>
			<div class="rating" data-rating="3"></div>
			<div class="rating" data-rating="4"></div>
			<div class="rating" data-rating="5"></div>
		</div>
		<div class="review white-area">
			<label for="review" class="field">Review</label>
			<textarea id="review" name="review" rows="3" placeholder="Review your Host and BoatDay experience"></textarea>
		</div>
	</div>
</main>

<footer>
	<% if( typeof contribution == typeof undefined || !contribution ) { %>
		<div class="boatday-picture"><div class="with-price" data-price="<%= self.price %>"></div></div>
		<label class="tip">Add a tip</label>
		<div class="tips">
			<div class="bullet tip active" percent="0">0%</div>
			<div class="bullet tip" percent="0.05">5%</div>
			<div class="bullet tip" percent="0.15">15%</div>
			<div class="bullet tip" percent="0.20">20%</div>
			<div class="bullet change-price">Other</div>
		</div>
	<% } %>
	<button class="btn-primary pay">
		<% if( typeof contribution == typeof undefined || !contribution ) { %>
			Rate &amp; Pay
		<% } else { %>
			Rate
		<% } %>
	</button>
</footer>