<main>
	<div class="header grey-area">
		<h1>Pricing Information</h1>
	</div>
	<div class="details">
		<p>BoatDay is commited to deliver the most affordable boating experience you can have. To ensure things are safe as well as fair to and your host, here is the list of what constitutes the price. 
		</p>
	</div>
	<div class="price-info">
		<label>Contribution to host</label>
		<label>Boatday fee</label>
		<label>Trust &amp; safety fee</label>
	</div>
	<div class="footer grey-area"></div>
</main>