<div class="drop">
	<header>
		<h1>Pricing Information</h1>
		<p class="text-center seats"></p>
	</header>
	<main>
		<div class="items">
			<div class="contribution">
				<label>Host Fee</label>
				<!-- <span class="seats"></span> -->
				<span class="amount"></span>
			</div>
			<div class="fee">
				<label>BoatDay Fee</label>
				<!-- <span class="seats"></span> -->
				<span class="amount"></span>
			</div>
			<div class="tsf">
				<label>Trust &amp; Safety Fee</label>
				<!-- <span class="seats"></span> -->
				<span class="amount"></span>
			</div>
			<div class="discount-per-seat">
				<label></label>
				<!-- <span class="seats"></span> -->
				<span class="amount"></span>
			</div>
			<div class="discount">
				<label></label>
				<span class="amount"></span>
			</div>
			<div class="promo-per-seat">
				<label></label>
				<!-- <span class="seats"></span> -->
				<span class="amount"></span>
			</div>
			<div class="promo">
				<label></label>
				<span class="amount"></span>
			</div>
		</div>
	</main>
	<footer>
		<span class="icon bd-cross close-me"></span>
	</footer>
</div>