<header class="bar bar-nav">
	<a class="icon bd-drawer pull-left btn-drawer"></a>
	<h1 class="title">Profile</h1>
</header>

<div class="content">

	<div class="content-padded">

		<% if( self.profileSetup ) { %>
			<img src="resources/profile-step-2.png" class="step" />
		<% } %>

		<!-- <h1>Profile</h1> -->
		
		<div class="profile-picture take-picture profilePicture" style="background-image: url(<%= typeof profilePicture !== 'undefined' && profilePicture ? profilePicture.url : 'resources/profile-picture-placeholder.png' %>)"></div>
		
		<p class="display-name"><%= displayName %></p>

		<div class="btn-group">
			<button class="btn btn-block take-picture">Take picture</button>
			<button class="btn btn-block open-gallery">Choose existing</button>
		</div>

		<label>About me</label>
		<textarea rows="3" name="about" placeholder="Tell the BoatDay community why it will be great to share a BoatDay with you."><%= about %></textarea>

		<button class="btn btn-block btn-default save"><%= self.profileSetup ? 'Continue' : 'Save' %></button>
		
	</div>

</div>
