<header class="bar bar-nav">
	<a class="icon fa fa-times pull-left close-me"></a>
	<h1 class="title">Profile</h1>
</header>
<div class="content">
	<div class="content-padded text-center">
		<div class="form-control">
			<label for="name">Profile picture</label>
		</div>
		<div class="form-control">
			<label>Name</label>
			<p>
				<%= displayName %>
			</p>	
		</div>
		<div class="form-control">
			<label>About</label>
			<p>
				<%= about %>
			</p>	
		</div>
		<div class="form-control">
			<label>Mutual friends</label>
			<div>
				
			</div>	
		</div>
	</div>
</div>