<header class="bar bar-nav">
	<a class="icon icon-bars pull-left btn-drawer"></a>
	<h1 class="title">Payments</h1>
</header>

<div class="content">

	<div class="loading"></div>
	
	<div class="content-padded">
		<h1>Credit Cards</h1>
	</div>
	
	<div class="card cards-list">
		<ul class="table-view">
			<li class="table-view-cell loading text-center">loading...</li>
		</ul>
	</div>

	<div class="clip-to-bottom">
		<div class="content-padded">
			<a href="#/profile-payments-add" class="btn btn-block btn-primary">Add Credit Card</a>
		</div>
	</div>

</div>
