<header class="bar bar-nav">
	<a class="icon icon-bars pull-left btn-drawer"></a>
	<h1 class="title">Payments</h1>
	<a class="icon fa fa-check pull-right btn-save"></a>
</header>

<div class="content">

	<form class="input-group">
		<div class="input-row">
			<label>Holder</label>
			<input name="cardHolder" type="text" placeholder="Card Holder">
		</div>
		<div class="input-row">
			<label>Number</label>
			<input name="cardNumber" type="text" placeholder="Card Number" pattern="[0-9]*">
		</div>
		<div class="input-row">
			<label>Expiration</label>
			<input name="cardExpiration" type="month" placeholder="Month">
		</div>
		<div class="input-row">
			<label>CVV</label>
			<input name="cardCSV" type="text" placeholder="CVV" pattern="[0-9]*">
		</div>
	</form>

</div>
