<header class="bar bar-nav">
	<a class="icon icon-close pull-left close-me"></a>
	<h1 class="title"><%= displayName %></h1>
	<a class="icon fa fa-flag-o pull-right report"></a>
</header>
<div class="content">
	<div class="content-padded text-center">

		<div class="profile-picture" style="background-image:url(<%= profilePicture.url %>)"></div><br>
		<strong><%= displayName %></strong>
		<% if (self.model.get('host')) {%>
			<p>Host since <%= new Date(self.model.get('host').createdAt).toLocaleDateString() %><p> 
		<% } %>
		<p class="about"><%= about.replace(/\n/g, "<br>") %></p>
		<% if (self.model.get('host')) {%>
			<p class="certifications">
				<% if( self.model.get('host').get('certStatusBSC') == 'approved' ) { %>
					<h6>Certificate of Boat Safety Course</h6>
				<% } %>
				<% if( self.model.get('host').get('certStatusCCL') == 'approved' ) { %>
					<h6>Certificate of Charterboat Captain</h6>
				<% } %>
				<% if( self.model.get('host').get('certStatusFAC') == 'approved' ) { %>
					<h6>Certificate of First Aid Certification</h6>
				<% } %>
				<% if( self.model.get('host').get('certStatusFL') == 'approved' ) { %>
					<h6>Certificate of Fishing License</h6>
				<% } %>
				<% if( self.model.get('host').get('certStatusMCL') == 'approved' ) { %>
					<h6>Certificate of Master Captain's License</h6>
				<% } %>
				<% if( self.model.get('host').get('certStatusSL') == 'approved' ) { %>
					<h6>Certificate of Sailing Certification</h6>
				<% } %>
			</p>
		<% } %>
		<div class="reviews"></div>

		<% if (self.model.get('host')) {%>
			<div class="my-boats">
				<strong><%= self.model.get('host').get('firstname').toUpperCase() %>'S BOAT</strong>
				<div class="boat-details"></div>
			</div>
		<% } %>
	</div>
</div>

