<header class="bar bar-nav">
	<a class="icon icon-bars pull-left btn-drawer"></a>
	<h1 class="title">Profile</h1>
</header>

<div class="content">

	<div class="content-padded">
		<div class="profile-picture" style="background-image: url(<%= typeof profilePicture !== 'undefined' && profilePicture ? profilePicture.url : 'resources/profile-picture-placeholder.png' %>)"></div>

		<a href="#/profile-picture" class="btn btn-block pull-right">
			<span class="fa fa-camera"></span><br/>
			Picture
		</a>
		<a href="#/profile-info" class="btn btn-block">
			<span class="fa fa-info"></span><br/>
			My Info
		</a>
		<a href="#/profile-settings" class="btn btn-block pull-right">
			<span class="fa fa-cogs"></span><br/>
			Settings
		</a>
		<a href="#/profile-payments" class="btn btn-block">
			<span class="fa fa-credit-card"></span><br/>
			Payments
		</a>
	</div>

</div>
