<div class="review">
	<div class="profile-picture" data-id="<%= request.get('profile').id %>" style="background-image:url(<%= request.get('profile').get('profilePicture').url() %>)"></div>
	<img class="rating" src="resources/rating-<%= Math.ceil(request.get('ratingGuest')) %>.png" />
	<strong><%= request.get('profile').get('displayName').slice(0, -2) %></strong>.
	<p><%= new Date(request.createdAt).toLocaleDateString() %></p>
	<p class="review"><%= request.get('reviewGuest').replace(/\n/g, "<br>") %></p> 
	<p>Went to "<%= request.get('boatday').get('name') %>"</p> 
</div> 