<div class="review">
	<div class="heading">
		<div class="guest-picture" data-id="<%= request.get('profile').id %>" style="background-image:url(<%= request.get('profile').get('profilePicture').url() %>)"></div>
		<h4><%= request.get('profile').get('displayName').slice(0, -3) %></h4>
		<div class="rating">
			<% 
				var rating = Math.ceil(request.get('ratingGuest'));
				for(var i = 0; i < rating; i++) {
			%>
				<div class="rating-full"></div>
			<% } %>
			<% for(var i = 0; i < 5 - rating; i++) { %>
				<div class="rating-empty"></div>
			<% } %>
		</div>
		<p class="date"><%= new Date(request.createdAt).toLocaleDateString() %></p>
	</div>
	<p class="review"><%= request.get('reviewGuest').replace(/\n/g, "<br>") %></p> 
	<p class="boatday">Went to "<%= request.get('boatday').get('name') %>"</p> 
</div> 