<header class="bar bar-nav">
	<a class="icon icon-close pull-left close-me"></a>
	<h1 class="title"><%= displayName %></h1>
	<a class="icon fa fa-flag-o pull-right report"></a>
</header>
<div class="content">
	<div class="content-padded text-center">

		<div class="profile-picture" style="background-image:url(<%= profilePicture.url %>)"></div>
		<% if( typeof rating != typeof undefined && rating ) { %> 
			<p class="rating">
				<img src="resources/rating-<%= Math.ceil(rating) %>.png" />
			</p>
		<% } %>
		<% if( self.model.get('host') ) { %> 
			<p class="certifications">
				<% if( self.model.get('host').get('certStatusBSC') == 'approved' ) { %>
					<img src="resources/certs/BSC.png" />
				<% } %>
				<% if( self.model.get('host').get('certStatusCCL') == 'approved' ) { %>
					<img src="resources/certs/CCL.png" />
				<% } %>
				<% if( self.model.get('host').get('certStatusFAC') == 'approved' ) { %>
					<img src="resources/certs/FAC.png" />
				<% } %>
				<% if( self.model.get('host').get('certStatusFL') == 'approved' ) { %>
					<img src="resources/certs/FL.png" />
				<% } %>
				<% if( self.model.get('host').get('certStatusMCL') == 'approved' ) { %>
					<img src="resources/certs/MCL.png" />
				<% } %>
				<% if( self.model.get('host').get('certStatusSL') == 'approved' ) { %>
					<img src="resources/certs/SL.png" />
				<% } %>
			</p>
		<% } %>
		<p class="about"><%= about %></p>
		<div class="reviews"></div>
		<!--
			<div class="content-padded text-center">
				<label>Facebook Friends</label>
				<p>No friends in common</p>
			</div>
		-->
	</div>
</div>