<main>
	<div class="header">
		<h1>Ask Host a Question</h1>
	</div>
	<div class="content-padded">
		<h1>Ask question to host</h1>
		<textarea rows="2" name="question" placeholder="Ask your question to the host."></textarea>
		
		<label>Who can see your question?</label>
		<select name="public">
			<option value="true" selected>Everybody</option>
			<option value="false">Only me</option>
		</select>
		
		<button class="btn btn-default btn-block btn-question">Submit Question</button>
	</div>

</main>