<div class="drop">
	<header>
		<h1>Ask Host a Question</h1>
	</header>
	<main>
		<label for="question" class="field">Question</label>
		<textarea rows="2" id="question" name="question" placeholder="Ask your question to the host."></textarea>
			
		<label for="public" class="field">Who can see your question?</label>
		<select name="public">
			<option value="true" selected>Everybody</option>
			<option value="false">Only me</option>
		</select>
	</main>
	<footer>
		<button class="btn-primary save">Submit Question</button>
		<span class="icon bd-cross close-me"></span>
	</footer>
</div>