<header class="bar bar-nav">
	<a class="icon icon-close pull-left close-me"></a>
	<h1 class="title">Report User</h1>
</header>
<div class="content">
	<div class="head grey-area text-center">
		<p>I´m reporting</p>
		<h1><%= self.model.get('profile').get('displayName') %></h1>
		<div class="profile-picture" style="background-image:url(<%= self.model.get('profile').get('profilePicture').url() %>)"></div>
	</div>
	<div class="reason">
		<label>Reason</label>
	</div>
	<div class="comment-box">
		<textarea name="message" placeholder="Your comment here"></textarea>
	</Div>
</div>
<footer class="grey-area text-center">
	<button class="btn btn-block btn-send">Submit report</button>
</footer>