<header>
	<a class="icon bd-drawer pull-left btn-drawer"></a>
	<h1 class="title">My BoatDays</h1>
</header>
<main>
	<div class="categories">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide boatdays-upcoming"><a>Upcoming Trips</a></div>
				<div class="swiper-slide boatdays-pending"><a>Pending Trips</a></div>
				<div class="swiper-slide boatdays-past"><a>Past Trips</a></div>
				<div class="swiper-slide boatdays-cancelled"><a>Cancelled Trips</a></div>
				<div class="swiper-slide boatdays-favorite"><a>Favorite Trips</a></div>
			</div>
		</div>
	</div>
	<div class="list"></div>
</main>