<div class="drop">
	<header>
		<h1>Trip Days and Times</h1>
	</header>
	<main>
		<div class="items">
			<div class="item">
				<label>Monday</label>
				<span class="time">No Trips</span>
			</div>
			<div class="item">
				<label>Tuesday</label>
				<span class="time">8:00 am - 5:00 pm</span>
			</div>
			<div class="item">
				<label>Wednesday</label>
				<span class="time">8:00 am - 5:00 pm</span>
			</div>
			<div class="item">
				<label>Thursday</label>
				<span class="time">No Trips</span>
			</div>
			<div class="item">
				<label>Friday</label>
				<span class="time">8:00 am - 5:00 pm</span>
			</div>
			<div class="item">
				<label>Saturday</label>
				<span class="time">8:00 am - 5:00 pm</span>
			</div>
			<div class="item">
				<label>Sunday</label>
				<span class="time">8:00 am - 5:00 pm</span>
			</div>
		</div>
	</main>
	<footer>
		<span class="icon bd-cross close-me"></span>
	</footer>
</div>