<header class="bar bar-nav" style="display:none">
	<a class="icon icon-left-nav pull-left back"></a>
</header>

<div class="content">

	<div class="content-padded block-home" style="display:none">
		<button class="btn btn-block create-account">Create account</button>
		<button class="btn btn-block sign-in">Sign in</button>
	</div>

	<div class="content-padded block-sign-in" style="display:none">
		<h1>Sign up</h1>
		<button class="btn btn-block sign-in-facebook">Sign in using Facebook</button>

		<p class="secondary text-center">If you’ve previously signed up with your email please sign in</p>
		<input type="email" name="email" value="" placeholder="Email" />
		<input type="password" name="email" value="" placeholder="Password" />
		<button class="btn btn-block sign-in-email">Sign in</button>
	</div>

	<div class="content-padded block-create-account" style="display:none">
		<button class="btn btn-block sign-in-facebook">Sign up using Facebook</button>
		<p>We won't post anything on Facebook</p>

		<input type="email" name="email" value="" placeholder="Email" />
		<input type="password" name="email" value="" placeholder="Password" />
		<div class="text-center">
			<button class="btn btn-positive sign-up-email">Sign up</button>
		</div>
	</div>

</div>
