<header class="bar bar-nav block-sign-in" style="display:none">
	<h1 class="title">Sign in</h1>
</header>

<div class="content block-sign-in">
	<div class="content-padded">
		<h1>Sign in with:</h1>
		<!--
		<div class="btn-group">
			<button class="btn facebook">Facebook</button>
			<button class="btn twitter">Twitter</button>
		</div>
		-->
		<button class="btn btn-block facebook">Facebook</button>

		<img src="resources/sign-in-or.png" class="or" />

		<input type="email" name="email" value="" placeholder="Email" />
		<input type="password" name="password" value="" placeholder="Password" />
		<button class="btn btn-block sign-in">Sign in</button>
	</div>

	<div class="clip-to-bottom block-sign-in">
		<div class="content-padded">
			<button class="btn btn-block btn-primary create-account">Create account</button>
		</div>
	</div>
</div>


<header class="bar bar-nav block-sign-up" style="display:none">
	<a class="icon icon-left-nav pull-left back"></a>
	<h1 class="title">Create Account</h1>
</header>

<div class="content block-sign-up" style="display:none">
	<div class="content-padded">
		<h1>Create account</h1>
		<input type="email" name="signUpEmail" value="" placeholder="Email" />
		<input type="password" name="signUpPassword" value="" placeholder="Password" />
	</div>

	<div class="clip-to-bottom block-sign-up">
		<div class="content-padded">
			<button class="btn btn-block btn-default sign-up">Create account</button>
		</div>
	</div>
</div>
