<header class="grey-area">
	<span class="icon bd-drawer btn-drawer"></span>
</header>
<main>
	<div class="header grey-area">
		<h1>Sign up</h1>
		<h2>with</h2>
		<button class="facebook"><span class="icon bd-facebook"></span> Facebook</button>
		<div class="or"><hr><h3>or</h3><hr></div>
	</div>
	<div class="sign white-area">
		<label for="email" class="field">Email</label>
		<input type="email" name="email" id="email" value="" placeholder="Email" />
		<label for="password" class="field">Password</label>
		<input type="password" name="password" id="password" value="" placeholder="Password" />
	</div>
</main>
<footer>
	<button class="sign-up">Sign up with email</button>
</footer>
