<header>
	<span class="icon bd-arrow-left close-me"></span>
</header>
<main>
	<div class="header grey-area">
		<h1>Sign in</h1>
		<button class="facebook"><span class="icon bd-facebook"></span> Facebook</button>
		<div class="or">or</div>
	</div>
	<div class="sign white-area">
		<label for="email" class="field">Email</label>
		<input type="email" name="email" id="email" value="" placeholder="Email" />
		<label for="password" class="field">Password</label>
		<input type="password" name="password" id="password" value="" placeholder="Password" />
	</div>
</main>
<footer>
	<button class="sign-in">Sign in with email</button>
</footer>
