<header>
	<span class="icon bd-drawer"></span>
	<h1>Title of the page Title of the page Title of the page Title of the page Title of the page Title of the page Title of the page </h1>
	<span class="icon bd-more"></span>
</header>

<footer>
	<button class="btn-action modal">Open Modal</button>
</footer>

<main>
	<div class="grey-area text-center">
		<h6>Host Pictures</h6>
		<div>
			<div class="host-picture small"></div>
			<div class="host-picture medium"></div>
			<div class="host-picture"></div>
			<div class="host-picture big"></div>
		</div>
	</div>

	<div class="white-area  text-center">
		<h6>Guest Pictures</h6>
		<div>
			<div class="guest-picture small"></div>
			<div class="guest-picture medium"></div>
			<div class="guest-picture"></div>
			<div class="guest-picture big"></div>
		</div>
	</div>

	<div class="grey-area  text-center">
		<h6>Boat Pictures</h6>
		<div>
			<div class="boat-picture small"></div>
			<div class="boat-picture medium"></div>
			<div class="boat-picture"></div>
			<div class="boat-picture big"></div>
		</div>
	</div>

	<div class="white-area  text-center">
		<h6>Text</h6>
		<div>
			<p class="text-left">some text bla sdaok élkd saélk das</p>
			<p class="text-center">some text bla sdaok élkd saélk das</p>
			<p class="text-right">some text bla sdaok élkd saélk das</p>
		</div>
	</div>

	<div class="grey-area  text-center">
		<h6>Ratings</h6>
		<div>
			<div class="rating rating-5 bd-icons">
				<div class="with-empty bd-icons"></div>
			</div>
		</div>
		<div>
			<div class="rating rating-4 bd-icons">
				<div class="with-empty bd-icons"></div>
			</div>
		</div>
		<div>
			<div class="rating rating-3 bd-icons">
				<div class="with-empty bd-icons"></div>
			</div>
		</div>
		<div>
			<div class="rating rating-4 bd-icons">
				<div class="with-empty bd-icons"></div>
			</div>
		</div>
		<div>
			<div class="rating rating-1 bd-icons">
				<div class="with-empty bd-icons"></div>
			</div>
		</div>
		<div>
			<div class="rating rating-0 bd-icons">
				<div class="with-empty bd-icons"></div>
			</div>
		</div>
	</div>

	<div class="grey-area text-center">
		<h6>Buttons Pictures</h6>
		<div class="button-spacing">
			<button class="modal">Open modal bottom</button>
			<button class="modal-right btn-action">Open modal right</button>
			<button class="overlay btn-primary">Open overlay</button>
		</div>
	</div>

</main>