<header>
	<span class="icon bd-arrow-left close-me"></span>
	<h1>upcoming trip</h1>
</header>

<main>
	<div>
		<div class="grey-area details">
			<h1>Early Morning Cruise Along the Blue Water River</h1>
			<h4>Date</h4><p>Fri, 15th Aug</p>
			<h4>Time</h4><p>3:40 pm</p>
			<h4>Duration</h4><p>2 hours</p>
			<h4>Location</h4><p>Miami, FL</p>
			<h4>Available seats</h4><p>3</p>
		</div>

		<div class="white-area guests">
			<h6>GUESTS ATTENDING</h6>
			<div class="list"></div>
		</div>

		<div class="booking grey-area">
			<p class="price">
				$56<sub>/person</sub>
			</p>
			
			<p class="hint">
				Book now before the seats fill up!
			</p>
			
			<button class="cancellations">View cancellation policy</button>

			<button class="btn-action book">Book Seats</button>

			<p class="policies">
				<a class="terms">Terms &amp; Conditions</a> and <a class="water">Watersports Policy</a>
			</p>
		</div>
	</div>
</main>