<header>
	<span class="icon bd-arrow-left close-me"></span>
	<h1>Boat</h1>
</header>

<main>
	<div>
		<div class="header-part">
			<h1><%= name %></h1>
			<h2>Year <%= buildYear %></h2>
		</div>
		
		<div class="white-area boat-pictures">
			<div class="swiper-container">
				<div class="swiper-wrapper list"></div>
			</div>
		</div>

		<div class="grey-area boat-details">
			<h4>Capacity</h4><p><%= capacity %> people</p>
			<h4>Length</h4><p><%= length %> feet</p>
			<h4>Type</h4><p><%= type %></p>
		</div>

		<div class="white-area boat-amenities">
			<h6>BOAT AMENITIES</h6>
			<div class="features">
				<% if( self.model.get('features').airConditioning ) { %>
					<p>Air Conditioning</p>
				<% } %>
				<% if( self.model.get('features').autopilot ) { %>
					<p>Autopilot</p>
				<% } %>
				<% if( self.model.get('features').cooler ) { %>
					<p>Cooler</p>
				<% } %>
				<% if( self.model.get('features').depthFinder ) { %>
					<p>Depth Finder</p>
				<% } %>
				<% if( self.model.get('features').fishFinder ) { %>
					<p>Fish Finder</p>
				<% } %>
				<% if( self.model.get('features').gps ) { %>
					<p>GPS</p>
				<% } %>
				<% if( self.model.get('features').grill ) { %>
					<p>Grill</p>
				<% } %>
				<% if( self.model.get('features').internet ) { %>
					<p>Internet</p>
				<% } %>
				<% if( self.model.get('features').liveBaitWell ) { %>
					<p>Live Bait Well</p>
				<% } %>
				<% if( self.model.get('features').microwave ) { %>
					<p>Microwave</p>
				<% } %>
				<% if( self.model.get('features').refrigeration ) { %>
					<p>Refrigeration</p>
				<% } %>
				<% if( self.model.get('features').rodHolder ) { %>
					<p>Rod Holder</p>
				<% } %>
				<% if( self.model.get('features').shower ) { %>
					<p>Shower</p>
				<% } %>
				<% if( self.model.get('features').sink ) { %>
					<p>Sink</p>
				<% } %>
				<% if( self.model.get('features').stereo ) { %>
					<p>Stereo</p>
				<% } %>
				<% if( self.model.get('features').stereoAuxInput ) { %>
					<p>Stereo Aux Input</p>
				<% } %>
				<% if( self.model.get('features').sonar ) { %>
					<p>Sonar</p>
				<% } %>
				<% if( self.model.get('features').swimLadder ) { %>
					<p>Swim Ladder</p>
				<% } %>
				<% if( self.model.get('features').tvDvd ) { %>
					<p>TV/DVD</p>
				<% } %>
				<% if( self.model.get('features').trollingMotor ) { %>
					<p>Trolling Motor</p>
				<% } %>
				<% if( self.model.get('features').wakeboardTower ) { %>
					<p>Wakeboard Tower</p>
				<% } %>
			</div>
		</div>
	</div>
</main>