<div class="drop">
	<header>
		<h1>Add a credit card</h1>
	</header>
	<main>
		<label class="field" for="numer">Card number</label>
		<input name="number" id="number" type="text" placeholder="**** **** **** ****" pattern="[0-9]*">
		<label class="field" for="expiry">Expiration</label>
		<input name="expiry" id="expiry" type="month" placeholder="Month">
		<label class="field" for="cvv">CVV</label>
		<input name="cvv" id="cvv" type="text" placeholder="CVV" pattern="[0-9]*">
	</main>
	<footer>
		<button class="btn-primary save">Save Card</button>
		<span class="icon bd-cross close-me"></span>
	</footer>
</div>