<header>
	<span class="icon bd-arrow-left close-me"></span>
	<h1><%= self.model.get('host') ? ' Host Profile' : 'Guest Profile' %></h1>
	<span class="icon bd-exclamation report"></span>
</header>

<main>
	<div>
		<div class="header grey-area text-center">
			<div class="<%= self.model.get('host') ? 'host' : 'guest' %>-picture" style="background-image:url(<%= profilePicture.url %>)"></div>
			<h1><%= displayName %></h1>
			
			<% if( self.model.get('host') ) {%>
				<h2>Host since <%= self.dateForProfileSince(self.model.get('host').createdAt) %></h2>
			<% } else { %>
				<h2>Guest since <%= self.dateForProfileSince(createdAt) %></h2>
			<% } %>

			<p class="about">"<%= about.replace(/\n/g, "<br>") %>"</p>

			<% if (self.model.get('host')) {%>
				<div class="certifications">
					<% if( self.model.get('host').get('certStatusBSC') == 'approved' ) { %>
						<p>Certificate of Boat Safety Course</p><br/>
					<% } %>
					<% if( self.model.get('host').get('certStatusCCL') == 'approved' ) { %>
						<p>Certificate of Charterboat Captain</p><br/>
					<% } %>
					<% if( self.model.get('host').get('certStatusFAC') == 'approved' ) { %>
						<p>Certificate of First Aid Certification</p><br/>
					<% } %>
					<% if( self.model.get('host').get('certStatusFL') == 'approved' ) { %>
						<p>Certificate of Fishing License</p><br/>
					<% } %>
					<% if( self.model.get('host').get('certStatusMCL') == 'approved' ) { %>
						<p>Certificate of Master Captain's License</p><br/>
					<% } %>
					<% if( self.model.get('host').get('certStatusSL') == 'approved' ) { %>
						<p>Certificate of Sailing Certification</p><br/>
					<% } %>
				</div>
			<% } %>
		</div>
		
		<div class="white-area reviews"></div>

		<% if (self.model.get('host')) {%>
			<div class="boatdays grey-area">
				<h6><%= self.model.get('host').get('firstname').toUpperCase() %>'S UPCOMING BOATDAYS</h6>
				<div class="swiper-container">
					<div class="swiper-wrapper list"></div>
					<div class="swiper-pagination"></div>
					<div class="swiper-button-prev bd-chevron-left"></div>
					<div class="swiper-button-next bd-chevron-right"></div>
				</div>
			</div>

			<div class="boats white-area">
				<h6><%= self.model.get('host').get('firstname').toUpperCase() %>'S BOATS</h6>
				<div class="list"></div>
			</div>
		<% } %>
	</div>
</main>

