<header>
	<span class="icon bd-arrow-left close-me"></span>
	<h1>Report User</h1>
</header>
<main>
	<div class="header grey-area text-center">
		<p>I´m reporting</p>
		<h1><%= self.model.get('profile').get('displayName') %></h1>
		<div class="guest-picture big" style="background-image:url(<%= self.model.get('profile').get('profilePicture').url() %>)"></div>
	</div>
	<div>
		<label for="message" class="field">Reason</label>
		<textarea name="message" id="message" placeholder="Your comment here"></textarea>
	</div>
</main>
<footer>
	<button class="btn btn-block btn-primary report">Submit report</button>
</footer>