<div class="drop">
	<header>
		<span class="icon bd-cross close-me"></span>
		<h1>Your Active BoatDay</h1>
		<span class="icon"></span>
	</header>
	<main>
		<div>
			<p>Since you are on an ongoing BoatDay, you can access directly all important features that help you to enjoy a safe trip in this screen.</p>
			<p>You can chat with other guests to coordinate, call your host in case you might be delayed or open the map to find your BoatDay easily.</p>
			<p>If you want to capture awesome moments from your BoatDay, just tap on "Take Pictures". The pictures will be automatically uploaded to your BoatDay and you can take a look in Past BoatDays.
			In case of an emergency, do not hesitate to use the emergency service hotlines of Boat USA or the Coast Guard to ensure everyone's safety.</p>
		</div>
	</main>
</div>