<header>
	<span class="icon bd-arrow-left close-me"></span>
	<h1>Choose seats</h1>
	<span class="icon"></span>
</header>
<main>
	<div>
	 	<div class="items">
	 		<div class="item">
	 			<span class="icon bd-person"></span>
	 			<select name="seats" class="chevron">
					<% for(var i = 1; i <= (availableSeats - bookedSeats); i++) { %>
						<option value="<%= i %>"><%= i %> seat<%= i != 1 ? 's' : '' %></option>
					<% } %>
				</select>
	 		</div>
	 		<div class="item field-card">
				<select name="card"></select>
			</div>
	 	</div>

	 	<div class="price-pay grey-area">
	 		<div class="boatday-picture"><div class="with-price"></div></div>
	 	</div>
	 </div>
</main>
<footer>
	<div class="btn-group">
		<button class="promo">Promo Code</button>
		<button class="info">Pricing Info</button>
	</div>
	<button class="btn-action book">Book Seats</button>
</footer>