<div class="boatday-card-upcoming" data-id="<%= model.id %>">
	<% var seats = model.get('boatday').get('availableSeats') - model.get('boatday').get('bookedSeats'); %>
	<div class="image <%= seats == 0 ? 'full' : '' %>" data-id="<%= model.id %>">
		<% if( seats > 0 ) { %> 
			<label><strong><%= seats %> Seats left..</strong> Tell your friends</label>
			<button class="share">Share on Facebook</button>
		<% } %>
	</div>
	<div class="details" data-id="<%= model.id %>">
		<h1><%= model.get('boatday').get('name') %></h1>
		<div class="items">
			<div class="item">
				<div class="icon bd-pin icon"></div>
				<div class="label"><%= self.getCityFromLocation(model.get('boatday').get('locationText')) %></div>
			</div>
			<div class="item">
				<div class="icon bd-calendar-day"></div>
				<div class="label"><%= self.dateToEnBoatDayCard(model.get('boatday').get('date')) %></div>
			</div>
			<div class="item">
				<div class="icon bd-clock"></div>
				<div class="label"><%= self.departureTimeToDisplayTime(model.get('boatday').get('departureTime')) %></div>
			</div>
			<div class="item">
				<div class="bd-person icon"></div>
				<div class="label"><%= model.get('seats') %></div>
			</div>
		</div>
	</div>
	<div class="chat" data-id="<%= model.id %>">
		<span class="icon bd-speech-bubble"></span> Open Chat <span class="unread"></span>
	</div> 
</div>
