<% var me = model.get('profile').id == Parse.User.current().get('profile').id; %>
<div class="message <%= me ? 'me' : '' %>">
	<% if(!me) { %> 
		<div class="<%= model.get('profile').get('host') ? 'host' : 'guest' %>-picture" style="background-image: url(<%= model.get('profile').get('profilePicture').url() %>)" data-id="<%= model.get('profile').id %>"></div>
	<% } %>
	<div class="speech-bubble">
		<% if(!me) { %> 
			<h1><%= model.get('profile').get('displayName') %></h1>
		<% } %>
		<p><%= model.get('message') %></p>
	</div>
</div>