<header>
	<h1>Hi <%= Parse.User.current().get('profile').get('displayName') %></h1>
</header>

<main>
	<div class="grey-area">
		<p>Help us improve your BoatDay experience by telling us a bit more about yourself. This information is visible only to the BoatDay Team.</p>
	</div>

	<% if( self.isUndefinedOrNull(Parse.User.current().get('profile').get('firstName')) ) { %>
		<label class="field" for="firstName">First name</label>
		<input type="text" name="firstName" id="firstName" placeholder="First Name">
	<% } %>

	<% if( self.isUndefinedOrNull(Parse.User.current().get('profile').get('lastName')) ) { %>
		<label class="field" for="lastName">Last name</label>
		<input type="text" name="lastName" id="lastName" placeholder="Last Name">
	<% } %>

	<% if( self.isUndefinedOrNull(Parse.User.current().get('profile').get('birthday')) ) { %>
		<label for="birthday" class="field">Birthday</label>
		<input type="date" name="birthday" id="birthday">
	<% } %>

	<% if( self.isUndefinedOrNull(Parse.User.current().get('email')) ) { %>
		<label class="field" for="email">Email</label>
		<input name="email" id="email" type="email" placeholder="Email">
	<% } %>

	<% if( self.isUndefinedOrNull(Parse.User.current().get('profile').get('phone')) ) { %>
		<label for="phone" class="field">Phone</label>
		<input type="number" name="phone" id="phone" placeholder="Phone Number" pattern="[0-9]*">
	<% } %>
</main>

<footer>
	<button class="btn-primary save">Save</button>
</footer>