<header>
	<span class="icon bd-cross close-me"></span>
	<h1>Hi <%= Parse.User.current().get('profile').get('displayName') %></h1>
</header>

<main>
	<div class="grey-area">
		<p>We would like some more details to make BoatDay better for you</p>
	</div>

	<% if( self.isUndefinedOrNull(Parse.User.current().get('profile').get('firstName')) ) { %>
		<label class="field" for="firstName">First name (cannot be modify)</label>
		<input type="text" name="firstName" id="firstName">
	<% } %>

	<% if( self.isUndefinedOrNull(Parse.User.current().get('profile').get('lastName')) ) { %>
		<label class="field" for="lastName">Last name (cannot be modify)</label>
		<input type="text" name="lastName" id="lastName">
	<% } %>

	<% if( self.isUndefinedOrNull(Parse.User.current().get('email')) ) { %>
		<label class="field" for="email">Email</label>
		<input name="email" id="email" type="email">
	<% } %>

	<% if( self.isUndefinedOrNull(Parse.User.current().get('profile').get('phone')) ) { %>
		<label for="phone" class="field">Phone</label>
		<input type="number" name="phone" id="phone">
	<% } %>

	<% if( self.isUndefinedOrNull(Parse.User.current().get('profile').get('birthday')) ) { %>
		<label for="birthday" class="field">Birthday</label>
		<input type="date" name="birthday" id="birthday">
	<% } %>
</main>

<footer>
	<button class="btn-primary save">Save</button>
</footer>