<header>
	<span class="icon bd-cross close-me"></span>
	<h1>Profile setup</h1>
	<span class="icon"></span>
</header>

<%
	if( birthday ) {
		var dt = new Date(birthday.iso);
		var dt_yyyy = dt.getFullYear();
		var dt_mm = dt.getMonth()+1;
		dt_mm = dt_mm < 10 ? '0'+dt_mm : dt_mm;
		var dt_dd = dt.getDate();
		dt_dd = dt_dd < 10 ? '0'+dt_dd : dt_dd;
		var dt_value = dt_yyyy + '-' + dt_mm + '-' + dt_dd;
	}
%>

<main>
	<div>
		<div class="header grey-area">

			<div class="guest-picture big field profilePicture" <%= typeof profilePicture !== 'undefined' && profilePicture ? 'style="background-image:url('+profilePicture.url+')"' : '' %>></div>
			
			<h1><%= displayName %></h1>
			<h2>Guest since <%= self.dateForProfileSince(createdAt) %></h2>

			<div class="btn-group">
				<button class="take-picture">Take Picture</button>
				<button class="open-gallery">From Album</button>
			</div>
		</div>
		<div class="credit-card grey-area">
			<h1><%= self.profileSetup ? 'Add Credit Card' : 'My Credit Cards' %></h1>
		</div>
		<div class="body">
			<label for="about" class="field" id="aboutMe">About me</label> 
			<textarea rows="3" name="about" id="about" class="aboutMe" placeholder="About me"><%= about %></textarea>	

			<% if( !self.setup ) { %>
				<div class="data-ro">
					<label for="firstName" class="field">First name (Cannot be modified)</label>
					<input type="text" name="firstName" id="firstName" value="<%= self.parseUndefined( self.model.get('firstName') ) %>" readonly disabled>

					<label for="lastName" class="field">Last name (Cannot be modified)</label>
					<input type="text" name="lastName" id="lastName" value="<%= self.parseUndefined( self.model.get('lastName') ) %>" readonly disabled>

					<label for="email" class="field">Email (Cannot be modified)</label>
					<input type="text" name="email" id="email" value="<%= self.parseUndefined( Parse.User.current().getEmail() ) %>" readonly disabled>

					<label for="phone" class="field">Phone (Cannot be modified)</label>
					<input type="text" name="phone" id="phone" value="<%= self.parseUndefined( self.model.get('phone') ) %>" readonly disabled>

					<label for="birthdate" class="field">Birthday (Cannot be modified)</label>
					<input type="date" name="birthdate" id="birthdate" value="<%=  dt_value ? dt_value : '' %>" readonly disabled>

					<button class="btn-danger sign-out">sign out</button>
				</div>
			<% } %>
		</div>
	</div>
</main>

<footer>
	<button class="btn-primary save"><%= self.profileSetup ? 'Continue' : 'Save' %></button>
</footer>