<div class="drop">
	<header>
		<span class="icon bd-cross close-me"></span>
		<h1>Ask Host a Question</h1>
		<span class="icon"></span>
	</header>
	<main>
		<label for="question" class="field">Need more info? Ask the Host a question!</label>
		<textarea rows="2" id="question" name="question"></textarea>
			
		<!-- <label for="public" class="field">Who can see your question?</label>
		<select name="public">
			<option value="true" selected>Everybody</option>
			<option value="false">Only me</option>
		</select> -->
	</main>
	<footer>
		<button class="btn-primary ask">Submit Question</button>
	</footer>
</div>