.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  color: #546e7a;
}
h1,
h2,
h3,
h4,
h5,
h6,
div,
p {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
}
#app {
  background: #ffffff;
}
[class^="screen-"],
[class*=" screen-"] {
  height: 100vh;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  background: transparent;
}
header {
  height: 55pt;
  -webkit-order: 1;
  padding-top: 15px;
  background: -webkit-linear-gradient(45deg, #0ab8c8, #13a7bf);
  border: none;
  padding-top: 25px;
  color: #ffffff;
  width: 100vw;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
}
header h1 {
  -webkit-align-self: center;
  -webkit-flex: 1;
  padding: 0px;
  margin: 0px 10px;
  vertical-align: center;
  display: inline-block;
  color: inherit;
  font-family: Avenir;
  font-size: 10.24pt;
  font-weight: 400;
  line-height: 10.24pt;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
main {
  -webkit-flex: 1;
  -webkit-order: 2;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  background: transparent;
  border: none;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
main > * {
  -webkit-transform: translateZ(0);
}
footer {
  height: auto;
  -webkit-order: 3;
  padding: 25px;
  background: #f9fbfb;
  border-top: 0.853pt solid rgba(29, 29, 38, 0.05);
}
a {
  color: #11abc1;
  text-decoration: none;
}
a:active {
  color: #0d8192;
}
[no-data]:after {
  content: attr(no-data);
  color: #546e7a;
  font-size: 17.07pt;
  line-height: 28pt;
  text-align: center;
  position: absolute;
  width: 60vw;
  left: 20vw;
  top: 0px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
}
.icon {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
header .icon {
  font-size: 20px;
  line-height: 30px;
  padding-top: 5px;
  color: inherit;
  -webkit-align-self: center;
}
header .icon:first-child {
  margin-left: 10px;
}
header .icon:last-child {
  margin-right: 10px;
}
.grey-area {
  background: #f9fbfb;
  border-bottom: 2px solid rgba(29, 29, 28, 0.05);
}
.white-area {
  background: #ffffff;
  border-bottom: 2px solid rgba(29, 29, 28, 0.05);
}
main .list:not(.no-flex) {
  -webkit-flex: 1;
  overflow: auto;
}
h6 {
  color: #546e7a;
  font-size: 9pt;
  font-weight: 400;
  line-height: 14pt;
  margin: 0px;
  padding: 4px 14px 6px 14px;
  background: #dfeff1;
  display: inline-block;
  border-radius: 0px 0px 2pt 2pt;
}
button {
  display: block;
  width: 100%;
  text-align: center;
  display: inline-block;
  line-height: 16pt;
  padding: 15px;
  margin: 0px;
  margin-bottom: 10px;
  font-size: 11.52pt;
  border-radius: 1.71pt;
  background: #ffffff;
  border: 1px solid #e4e9eb;
  color: #546e7a;
}
footer button {
  margin-bottom: 0px;
}
button:active {
  background: #e4e9eb;
  border: 1px solid #e4e9eb;
  color: #546e7a;
}
button.btn-action {
  background: #f8b62c;
  border: 1px solid #f8b62c;
  color: #ffffff;
}
button.btn-action:active {
  background: #ffffff;
  border: 1px solid #f8b62c;
  color: #f8b62c;
}
button.btn-primary {
  background: #11abc1;
  border: 1px solid #11abc1;
  color: #ffffff;
}
button.btn-primary:active {
  background: #ffffff;
  border: 1px solid #11abc1;
  color: #11abc1;
}
.button-spacing {
  margin: 10px 10px;
}
input,
textarea,
select {
  color: #383d3e;
  font-size: 11.95pt;
  line-height: 11.95pt;
  display: block;
  background: white;
  width: 100%;
  -webkit-appearance: none;
  border-radius: 0px;
  border: none;
  margin: 0px;
  padding: 9px 26px 20px 26px;
  position: relative;
  font-family: inherit;
}
label.field {
  color: rgba(84, 110, 122, 0.35);
  font-size: 8.53pt;
  line-height: 8.53pt;
  text-transform: uppercase;
  display: block;
  border-top: 1px solid rgba(84, 110, 122, 0.05);
  padding: 19px 24px 11px 24px;
  background: white;
}
label.field-flag-error {
  border-color: #ff603d;
}
.field-flag-error {
  color: #ff603d !important;
}
.base-picture {
  display: inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 78px;
  height: 78px;
  border-radius: 5pt;
}
.base-picture.small {
  width: 25px;
  height: 25px;
  border-radius: 2.13pt;
}
.base-picture.medium {
  width: 52px;
  height: 52px;
  border-radius: 2.13pt;
}
.base-picture.big {
  width: 90px;
  height: 90px;
  border-radius: 5pt;
}
.host-picture {
  display: inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 78px;
  height: 78px;
  border-radius: 5pt;
  background-image: url(../resources/placeholder-host.png);
}
.host-picture.small {
  width: 25px;
  height: 25px;
  border-radius: 2.13pt;
}
.host-picture.medium {
  width: 52px;
  height: 52px;
  border-radius: 2.13pt;
}
.host-picture.big {
  width: 90px;
  height: 90px;
  border-radius: 5pt;
}
.boat-picture {
  display: inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 78px;
  height: 78px;
  border-radius: 5pt;
  background-image: url(../resources/placeholder-boat.png);
}
.boat-picture.small {
  width: 25px;
  height: 25px;
  border-radius: 2.13pt;
}
.boat-picture.medium {
  width: 52px;
  height: 52px;
  border-radius: 2.13pt;
}
.boat-picture.big {
  width: 90px;
  height: 90px;
  border-radius: 5pt;
}
.guest-picture {
  display: inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 78px;
  height: 78px;
  border-radius: 5pt;
  border-radius: 320px !important;
  background-image: url(../resources/placeholder-guest.png);
}
.guest-picture.small {
  width: 25px;
  height: 25px;
  border-radius: 2.13pt;
}
.guest-picture.medium {
  width: 52px;
  height: 52px;
  border-radius: 2.13pt;
}
.guest-picture.big {
  width: 90px;
  height: 90px;
  border-radius: 5pt;
}
.boatday-picture {
  width: 40vw;
  height: 40vw;
  background: red;
  border-radius: 40vw;
  margin: auto;
  position: relative;
  background: center center no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
}
.boatday-picture:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(37, 42, 43, 0.85);
  position: absolute;
  z-index: 2;
}
.boatday-picture .with-price {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: relative;
}
.boatday-picture .with-price:before {
  content: "TOTAL";
  position: absolute;
  top: 50%;
  left: -10px;
  height: 40px;
  line-height: 40px;
  margin-top: -15px;
  width: 50%;
  text-align: right;
  color: white;
  z-index: 4;
  font-size: 9pt;
  line-height: 13.63pt;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}
.boatday-picture .with-price:after {
  content: "$" attr(data-price);
  position: absolute;
  top: 50%;
  right: 0px;
  height: 40px;
  line-height: 40px;
  margin-top: -10px;
  width: 50%;
  text-align: left;
  z-index: 4;
  color: white;
  font-size: 20pt;
  line-height: 26pt;
  color: #ffffff;
}
.rating {
  width: 56pt;
  height: 12pt;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  position: relative;
}
.rating:before,
.rating .with-empty:before {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  font-size: 11.33pt;
  color: #f8b62c;
}
.rating .with-empty:before {
  right: 0px;
  left: auto;
  color: rgba(177, 191, 204, 0.3);
}
.rating-5:before {
  content: "WWWWW";
}
.rating-4:before {
  content: "WWWW";
}
.rating-3:before {
  content: "WWW";
}
.rating-2:before {
  content: "WW";
}
.rating-1:before {
  content: "W";
}
.rating-0:before {
  content: "";
}
.rating-5 .with-empty:before {
  content: "";
}
.rating-4 .with-empty:before {
  content: "X";
}
.rating-3 .with-empty:before {
  content: "XX";
}
.rating-2 .with-empty:before {
  content: "XXX";
}
.rating-1 .with-empty:before {
  content: "XXXX";
}
.rating-0 .with-empty:before {
  content: "XXXXX";
}
.hidden-content {
  position: absolute;
  width: 0px;
  overflow: hidden;
}
.hidden-content * {
  opacity: 0;
}
[class^="screen-"].modal,
[class*=" screen-"].modal {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.25s, opacity 1ms 0.25s;
  -webkit-transform: translate3d(0, 100%, 0);
}
[class^="screen-"].modal.from-right,
[class*=" screen-"].modal.from-right {
  -webkit-transform: translate3d(100%, 0, 0);
}
[class^="screen-"].modal.active,
[class*=" screen-"].modal.active {
  height: 100%;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.25s;
  -webkit-transform: translate3d(0, 0, 0);
}
[class^="screen-"].overlay,
[class*=" screen-"].overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(37, 42, 43, 0.9);
  z-index: 12;
  -webkit-transition: -webkit-transform 0.25s, opacity 1ms 0.25s;
  -webkit-transform: translate3d(0, 100%, 0);
}
[class^="screen-"].overlay .drop,
[class*=" screen-"].overlay .drop {
  z-index: 11;
  overflow: hidden;
  opacity: 1;
  position: fixed;
  left: 2vw;
  bottom: 2vw;
  width: 96vw;
  height: 80vh;
  border: none;
  border-radius: 3pt;
  background-color: #f9fbfb;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
[class^="screen-"].overlay header,
[class*=" screen-"].overlay header {
  height: auto;
  padding: 0px;
  background: transparent;
  border: none;
  width: 100%;
  display: block;
}
[class^="screen-"].overlay main,
[class*=" screen-"].overlay main {
  overflow: auto;
  background: white;
}
[class^="screen-"].overlay footer,
[class*=" screen-"].overlay footer {
  height: auto;
  padding: 11pt;
}
[class^="screen-"].overlay header h1,
[class*=" screen-"].overlay header h1 {
  color: #546e7a;
  font-size: 17.07pt;
  line-height: 23.04pt;
  text-align: center;
  padding: 35px 0px;
  text-transform: none;
  display: block;
}
[class^="screen-"].overlay footer button,
[class*=" screen-"].overlay footer button {
  margin-bottom: 11pt;
}
[class^="screen-"].overlay footer .close-me,
[class*=" screen-"].overlay footer .close-me {
  width: 50pt;
  height: 50pt;
  border-radius: 50pt;
  margin: 0px auto;
  display: block;
  background: #11abc1;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -webkit-align-self: center;
}
[class^="screen-"].overlay.active,
[class*=" screen-"].overlay.active {
  height: 100%;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.25s;
  -webkit-transform: translate3d(0, 0, 0);
}
.snap-content {
  background: white;
}
.snap-drawer {
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
.snap-drawer .top {
  height: 40vh;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -webkit-align-self: center;
}
.snap-drawer .top .name {
  margin-top: 12px;
  text-align: center;
  font-size: 15pt;
  line-height: 20pt;
}
.snap-drawer .links {
  -webkit-flex: 1;
}
.snap-drawer .links a {
  padding-left: 23px;
  line-height: 64px;
  font-size: 11.52pt;
  color: #546e7a;
  display: block;
  border-bottom: 1px solid rgba(29, 29, 38, 0.05);
}
.snap-drawer .links .total-notifications {
  color: #f5a623;
  font-size: 11.52px;
  font-weight: 400;
  line-height: 12.8pt;
}
.snap-drawer .about-us a {
  padding-bottom: 20px;
  color: #afbcc1;
  font-size: 11.52pt;
  line-height: 12.8pt;
  text-align: center;
  display: block;
}
.boatday-card .image {
  background-size: cover;
  background-position: center;
  height: 35vh;
  position: relative;
}
.boatday-card.featured .image:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url(../resources/featured-line.png) transparent top right no-repeat;
}
.boatday-card .image .banner {
  position: absolute;
  bottom: 16px;
  background: #fff;
  font-size: 0;
}
.boatday-card .image .banner.left {
  left: 0px;
  border-radius: 0px 1.71pt 1.71pt 0px;
}
.boatday-card .image .banner.right {
  right: 0px;
  border-radius: 1.71pt 0px 0px 1.71pt;
}
.boatday-card .image .banner .host-picture {
  width: 24pt;
  height: 24pt;
  border-radius: 0px;
  vertical-align: middle;
}
.boatday-card .image .banner .rating {
  margin: 0px 9px;
  vertical-align: middle;
}
.boatday-card .image .banner label {
  color: #546e7a;
  font-size: 11.52pt;
  display: inline-block;
  vertical-align: middle;
  line-height: 24pt;
  margin: 0px 9px;
}
.boatday-card .details {
  background: #ffffff;
  padding-bottom: 18px;
  padding-top: 19px;
}
.boatday-card .details h1 {
  color: #546e7a;
  font-weight: 400;
  font-size: 11.95pt;
  line-height: 16pt;
  margin: 0px;
  margin-left: 31px;
  margin-bottom: 8px;
  padding: 0px;
  text-align: center;
}
.boatday-card .details .items {
  margin-left: 29px;
  margin-right: 29px;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  -webkit-justify-content: space-between;
}
.boatday-card .details .items .item {
  display: inline-block;
  font-size: 0px;
}
.boatday-card .details .items .item .icon {
  width: 22px;
  height: 22px;
  line-height: 26px;
  color: rgba(84, 110, 122, 0.46);
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  text-align: center;
}
.boatday-card .details .items .item .label {
  color: rgba(84, 110, 122, 0.46);
  font-size: 9.81pt;
  line-height: 14px;
  display: inline-block;
  vertical-align: middle;
}
.boatday-card-past:last-child {
  border-bottom: 1px solid rgba(29, 29, 38, 0.05);
}
.boatday-card-past .header-part {
  background: rgba(37, 42, 43, 0.95);
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
}
.boatday-card-past .header-part .host-picture {
  margin: 21px 17px 18px 21px;
}
.boatday-card-past .header-part p {
  color: #adb6c0;
  font-size: 10.67pt;
  line-height: 15pt;
  display: inline-block;
  -webkit-flex: 1;
  -webkit-align-self: center;
}
.boatday-card-past .header-part p strong {
  color: #11abc1;
  font-size: 10.67pt;
  font-weight: 500;
}
.boatday-card-past .header-part .rating {
  -webkit-align-self: center;
}
.boatday-card-past .details {
  background: #ffffff;
  padding-bottom: 18px;
  padding-top: 19px;
}
.boatday-card-past .details h1 {
  color: #546e7a;
  font-weight: 400;
  font-size: 11.95pt;
  line-height: 16pt;
  margin: 0px;
  margin-left: 31px;
  margin-bottom: 8px;
  padding: 0px;
  text-align: left;
}
.boatday-card-past .details .items {
  margin-left: 29px;
  margin-right: 29px;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  -webkit-justify-content: space-between;
}
.boatday-card-past .details .items .item {
  display: inline-block;
  font-size: 0px;
}
.boatday-card-past .details .items .item .icon {
  width: 22px;
  height: 22px;
  line-height: 26px;
  color: rgba(84, 110, 122, 0.46);
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  text-align: center;
}
.boatday-card-past .details .items .item .label {
  color: rgba(84, 110, 122, 0.46);
  font-size: 9.81pt;
  line-height: 14px;
  display: inline-block;
  vertical-align: middle;
}
.screen-payments main {
  background: #f9fbfb;
}
.card-credit-card {
  background: white;
  padding: 42px 26px 42px 42px;
  border: 1px solid rgba(29, 29, 39, 0.05);
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
}
.card-credit-card img {
  height: 40px;
  margin-right: 12px;
  -webkit-align-self: center;
}
.card-credit-card div {
  -webkit-flex: 1;
  -webkit-align-self: center;
  font-size: 0;
}
.card-credit-card .dot {
  width: 5pt;
  height: 5pt;
  border-radius: 5pt;
  margin-right: 4px;
  background: #1d1d26;
  vertical-align: middle;
  display: inline-block;
}
.card-credit-card .space {
  margin-right: 12px;
}
.card-credit-card .number {
  font-size: 11.95pt;
  line-height: 11.95pt;
  color: #1d1d26;
  vertical-align: middle;
  display: inline-block;
}
.boatday-card-cancelled .image {
  background-size: cover;
  background-position: center;
  height: 35vh;
  position: relative;
}
.boatday-card-cancelled.featured .image:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url(../resources/featured-line.png) transparent top right no-repeat;
}
.boatday-card-cancelled .image .banner {
  position: absolute;
  bottom: 16px;
  background: #fff;
  font-size: 0;
}
.boatday-card-cancelled .image .banner.left {
  left: 0px;
  border-radius: 0px 1.71pt 1.71pt 0px;
}
.boatday-card-cancelled .image .banner.right {
  right: 0px;
  border-radius: 1.71pt 0px 0px 1.71pt;
}
.boatday-card-cancelled .image .banner .host-picture {
  width: 24pt;
  height: 24pt;
  border-radius: 0px;
  vertical-align: middle;
}
.boatday-card-cancelled .image .banner .rating {
  margin: 0px 9px;
  vertical-align: middle;
}
.boatday-card-cancelled .image .banner label {
  color: #546e7a;
  font-size: 11.52pt;
  display: inline-block;
  vertical-align: middle;
  line-height: 24pt;
  margin: 0px 9px;
}
.boatday-card-cancelled .details {
  background: #ffffff;
  padding-bottom: 18px;
  padding-top: 19px;
}
.boatday-card-cancelled .details h1 {
  color: #546e7a;
  font-weight: 400;
  font-size: 11.95pt;
  line-height: 16pt;
  margin: 0px;
  margin-left: 31px;
  margin-bottom: 8px;
  padding: 0px;
  text-align: left;
}
.boatday-card-cancelled .details .items {
  margin-left: 29px;
  margin-right: 29px;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  -webkit-justify-content: space-between;
}
.boatday-card-cancelled .details .items .item {
  display: inline-block;
  font-size: 0px;
}
.boatday-card-cancelled .details .items .item .icon {
  width: 22px;
  height: 22px;
  line-height: 26px;
  color: rgba(84, 110, 122, 0.46);
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  text-align: center;
}
.boatday-card-cancelled .details .items .item .label {
  color: rgba(84, 110, 122, 0.46);
  font-size: 9.81pt;
  line-height: 14px;
  display: inline-block;
  vertical-align: middle;
}
.boatday-card-cancelled .reason {
  background: #ffffff;
  padding-bottom: 18px;
  padding-top: 7px;
}
.boatday-card-cancelled .reason h1 {
  text-align: center;
  color: #ff603d;
  font-weight: 200;
  font-size: 16pt;
  line-height: 22pt;
  margin: 0px;
  padding: 0px;
}
.boatday-card-cancelled .reason p {
  color: #ff603d;
  margin-left: 31px;
  margin-right: 31px;
  margin-top: 12pt;
  font-size: 9pt;
  line-height: 12pt;
}
.boatday-card-upcoming .details {
  background: #ffffff;
  padding-bottom: 18px;
  padding-top: 19px;
}
.boatday-card-upcoming .details h1 {
  color: #546e7a;
  font-weight: 400;
  font-size: 11.95pt;
  line-height: 16pt;
  margin: 0px;
  margin-left: 31px;
  margin-bottom: 8px;
  padding: 0px;
  text-align: left;
}
.boatday-card-upcoming .details .items {
  margin-left: 29px;
  margin-right: 29px;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  -webkit-justify-content: space-between;
}
.boatday-card-upcoming .details .items .item {
  display: inline-block;
  font-size: 0px;
}
.boatday-card-upcoming .details .items .item .icon {
  width: 22px;
  height: 22px;
  line-height: 26px;
  color: rgba(84, 110, 122, 0.46);
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  text-align: center;
}
.boatday-card-upcoming .details .items .item .label {
  color: rgba(84, 110, 122, 0.46);
  font-size: 9.81pt;
  line-height: 14px;
  display: inline-block;
  vertical-align: middle;
}
.boatday-card-upcoming .sharing button {
  border-radius: 10000pt;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  background: transparent;
  font-size: 8.53px;
  margin-top: 20px;
}
.boatday-card-upcoming .image {
  padding: 60px 47px;
  z-index: 1;
  background-size: cover;
  background-position: center;
  position: relative;
}
.boatday-card-upcoming .image:after {
  content: "";
  background: rgba(37, 42, 43, 0.85);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.boatday-card-upcoming .image * {
  z-index: 3;
  position: relative;
}
.boatday-card-upcoming .image label {
  color: white;
  text-transform: uppercase;
  line-height: 13.65pt;
  font-size: 8.53pt;
  text-align: center;
  display: block;
}
.boatday-card-upcoming .image label strong {
  text-transform: none;
  font-size: 14pt;
  color: #f8b62c;
  font-weight: normal;
}
.boatday-card-upcoming .image button {
  border-radius: 10000pt;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  background: transparent;
  font-size: 8.53px;
  margin-top: 20px;
}
.boatday-card-upcoming .chat {
  background: #ffffff;
  padding-bottom: 25px;
  padding-top: 10px;
  text-align: center;
  color: #11abc1;
  font-size: 11.52pt;
  line-height: 12.8pt;
}
.boatday-card-upcoming .chat .unread {
  color: #f5a623;
}
.boatday-card-upcoming .chat .icon {
  font-size: 18pt;
  position: relative;
  top: 8px;
}
.boatday-card-pending .image {
  background-size: cover;
  background-position: center;
  height: 35vh;
  position: relative;
}
.boatday-card-pending.featured .image:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url(../resources/featured-line.png) transparent top right no-repeat;
}
.boatday-card-pending .image .banner {
  position: absolute;
  bottom: 16px;
  background: #fff;
  font-size: 0;
}
.boatday-card-pending .image .banner.left {
  left: 0px;
  border-radius: 0px 1.71pt 1.71pt 0px;
}
.boatday-card-pending .image .banner.right {
  right: 0px;
  border-radius: 1.71pt 0px 0px 1.71pt;
}
.boatday-card-pending .image .banner .host-picture {
  width: 24pt;
  height: 24pt;
  border-radius: 0px;
  vertical-align: middle;
}
.boatday-card-pending .image .banner .rating {
  margin: 0px 9px;
  vertical-align: middle;
}
.boatday-card-pending .image .banner label {
  color: #546e7a;
  font-size: 11.52pt;
  display: inline-block;
  vertical-align: middle;
  line-height: 24pt;
  margin: 0px 9px;
}
.boatday-card-pending .details {
  background: #ffffff;
  padding-bottom: 18px;
  padding-top: 19px;
}
.boatday-card-pending .details h1 {
  color: #546e7a;
  font-weight: 400;
  font-size: 11.95pt;
  line-height: 16pt;
  margin: 0px;
  margin-left: 31px;
  margin-bottom: 8px;
  padding: 0px;
  text-align: left;
}
.boatday-card-pending .details .items {
  margin-left: 29px;
  margin-right: 29px;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  -webkit-justify-content: space-between;
}
.boatday-card-pending .details .items .item {
  display: inline-block;
  font-size: 0px;
}
.boatday-card-pending .details .items .item .icon {
  width: 22px;
  height: 22px;
  line-height: 26px;
  color: rgba(84, 110, 122, 0.46);
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  text-align: center;
}
.boatday-card-pending .details .items .item .label {
  color: rgba(84, 110, 122, 0.46);
  font-size: 9.81pt;
  line-height: 14px;
  display: inline-block;
  vertical-align: middle;
}
.boatday-card-pending .reason {
  background: #ffffff;
  padding-bottom: 18px;
  padding-top: 7px;
}
.boatday-card-pending .reason h1 {
  text-align: center;
  color: #f5a623;
  font-weight: 200;
  font-size: 16pt;
  line-height: 22pt;
  margin: 0px;
  padding: 0px;
}
.boatday-card-pending .reason p {
  text-align: center;
  color: #f5a623;
  margin-left: 31px;
  margin-right: 31px;
  margin-top: 12pt;
  font-size: 9pt;
  line-height: 12pt;
}
.boatday-card-pending .buttons {
  margin: 31px;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  -webkit-align-items: center;
}
.boatday-card-pending .buttons button {
  margin-right: 10px;
}
.screen-profile .header,
.screen-profile .boatdays,
.screen-profile .boats {
  text-align: center;
}
.screen-profile .header {
  padding: 49px 0px 37px 0px;
}
.screen-profile .header h1 {
  font-size: 17pt;
  line-height: 23pt;
  margin-top: 19px;
}
.screen-profile .header h2 {
  color: rgba(84, 110, 122, 0.45);
  font-size: 9pt;
  line-height: 12pt;
}
.screen-profile .header p.about {
  color: rgba(84, 110, 122, 0.79);
  font-size: 11pt;
  font-weight: 300;
  font-style: italic;
  line-height: 15pt;
  margin: 16px 45px 3px 45px;
  padding: 0px;
}
.screen-profile .header .certifications p {
  font-size: 9pt;
  line-height: 12pt;
  margin: 1px 0px;
  display: inline-block;
  position: relative;
}
.screen-profile .header .certifications p:first-child {
  margin-top: 15px;
}
.screen-profile .header .certifications p:after {
  content: "";
  width: 23pt;
  height: 23pt;
  position: absolute;
  top: -5.5pt;
  left: -23pt;
  background: url(../resources/check-grey.png) center center no-repeat;
}
.screen-profile .boats .list .boat {
  margin: 12px 37px 0px 37px;
  text-align: left;
  border: 1pt solid #e4e9eb;
  border-bottom-width: 2pt;
  border-radius: 2pt;
}
.screen-profile .boats .list .boat:first-child {
  margin-top: 31px;
}
.screen-profile .boats .list .boat:last-child {
  margin-bottom: 39px;
}
.screen-profile .boats .list .boat p {
  color: #546e7a;
  font-size: 12pt;
  line-height: 13pt;
  display: inline-block;
  vertical-align: middle;
}
.screen-profile .boats .list .boat .boat-image {
  margin: 12px;
}
.screen-profile .reviews {
  padding: 5px 0px;
}
.screen-profile .reviews p.no-data {
  color: rgba(84, 110, 122, 0.35);
  font-size: 11pt;
  line-height: 15pt;
  margin: 22px 0px;
}
.screen-profile .reviews div.review {
  margin: 21px 25px 0px 25px;
  padding: 0px 0px 30px 0px;
  border-bottom: 1px solid rgba(29, 29, 36, 0.05);
}
.screen-profile .reviews div.review:last-child {
  border-bottom: none;
}
.screen-profile .reviews div.review .heading {
  font-size: 0pt;
}
.screen-profile .reviews div.review .host-picture,
.screen-profile .reviews div.review .guest-picture {
  width: 26pt;
  height: 26pt;
  border-radius: 26pt;
  background-size: cover;
  vertical-align: middle;
  display: inline-block;
}
.screen-profile .reviews div.review .host-picture {
  border-radius: 2.13pt;
}
.screen-profile .reviews div.review h4 {
  color: #11abc1;
  font-size: 10.67pt;
  font-weight: 500;
  line-height: 15pt;
  margin-left: 8px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
}
.screen-profile .reviews div.review h4:after {
  content: "";
  width: 3pt;
  height: 3pt;
  border-radius: 3pt;
  position: absolute;
  right: -8pt;
  top: 6pt;
  background: #546e7a;
}
.screen-profile .reviews div.review .date {
  color: #b1bfcc;
  font-size: 9.53pt;
  line-height: 12pt;
  margin: 7pt 0px;
  display: inline-block;
  float: right;
}
.screen-profile .reviews div.review p.review {
  color: #546e7a;
  font-size: 11.52pt;
  line-height: 16pt;
  margin: 11px 0px 10px 0px;
}
.screen-profile .reviews div.review p.boatday {
  color: #b1bfcc;
  font-size: 9.39pt;
  line-height: 12pt;
}
.screen-profile .boatdays .boatday-card {
  border-radius: 4.27pt;
  overflow: hidden;
  border: 1px solid #e4e9eb;
  border-bottom-width: 2px;
  margin: 0px 66px;
}
.screen-profile .boatdays .boatday-card .boatday-image {
  height: 144px;
  background-size: cover;
}
.screen-profile .boatdays .boatday-card .details {
  background: white;
  padding: 9px 12px 7px 12px;
}
.screen-profile .boatdays .boatday-card .details .boatday-items {
  margin-top: 14px;
}
.screen-profile .boatdays .boatday-card .details .boatday-items .boatday-item {
  display: inline-block;
  color: rgba(84, 110, 122, 0.46);
  font-size: 9.82pt;
  line-height: 14pt;
  font-weight: 400;
}
.screen-profile .boatdays .boatday-card .details .boatday-items .location {
  margin-right: 35px;
}
.screen-profile .boatdays .boatday-card .details .boatday-items .date {
  margin-right: 29px;
}
.screen-profile .boatdays .boatday-card .details p {
  color: #546e7a;
  font-size: 11.95pt;
  line-height: 16pt;
}
.screen-profile .boatdays .swiper-container {
  width: 100%;
  height: 100%;
  padding: 29px 0px 54px 0px;
}
.screen-profile .boatdays .swiper-button-disabled {
  opacity: 0;
}
.screen-profile .boatdays .swiper-button-prev {
  left: 23px;
}
.screen-profile .boatdays .swiper-button-next {
  right: 23px;
}
.screen-profile .boatdays .swiper-button-next,
.screen-profile .boatdays .swiper-button-prev {
  background: none;
  line-height: 22px;
  width: 20px;
  height: 20px;
  border: 1px solid #546e7a;
  border-radius: 20px;
  font-size: 8px;
  text-align: center;
  margin-top: -10px;
}
.screen-profile .boatdays .swiper-button-prev:after,
.screen-profile .boatdays .swiper-button-next:after {
  content: "";
  width: 40px;
  height: 60px;
  top: -20px;
  left: -10px;
  position: absolute;
  background: transparent;
}
.screen-profile .boatdays .swiper-pagination {
  bottom: 15px;
}
.screen-profile .boatdays .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #b1bfcc;
}
.screen-profile .boatdays .swiper-pagination-bullet-active {
  background: #11abc1;
}
.screen-boat .header-part {
  height: 220px;
  text-align: center;
  background-size: cover;
  margin: 0px;
  padding: 90px 0px 60px 0px;
  position: relative;
}
.screen-boat .header-part:after {
  content: "";
  background: rgba(37, 42, 43, 0.85);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
}
.screen-boat h1 {
  color: #ffffff;
  font-size: 9.81pt;
  line-height: 14pt;
  margin-bottom: 3px;
  position: relative;
  z-index: 10;
}
.screen-boat h2 {
  color: rgba(255, 255, 255, 0.46);
  font-size: 8.53pt;
  line-height: 12pt;
  margin: 0px;
  position: relative;
  z-index: 10;
}
.screen-boat .boat-pictures {
  padding: 37px 0px;
}
.screen-boat .boat-pictures .swiper-container {
  width: 220px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.screen-boat .boat-details {
  padding: 36px 0px 31px 0px;
  font-size: 0px;
}
.screen-boat .boat-details h4,
.screen-boat .boat-details p {
  color: #b1bfcc;
  font-size: 11.52pt;
  line-height: 12.8pt;
  width: 49%;
  margin-bottom: 11px;
  text-align: right;
  padding-right: 10px;
  display: inline-block;
}
.screen-boat .boat-details p {
  color: #546e7a;
  text-align: left;
  padding-left: 10px;
  padding-right: 0px;
}
.screen-boat .boat-details h4:last-of-type,
.screen-boat .boat-details p:last-of-type {
  margin-bottom: 0px;
}
.screen-boat .boat-amenities {
  text-align: center;
}
.screen-boat .boat-amenities .features {
  margin: 30px auto 30px auto;
  font-size: 0px;
  width: 180px;
}
.screen-boat .boat-amenities .features p {
  font-weight: 400;
  color: #546e7a;
  font-size: 10.67pt;
  line-height: 19.2pt;
  margin: 0px 20px;
  width: 90px;
  display: inline-block;
}
.screen-boatdays .list {
  -webkit-flex: 1;
}
.screen-boatdays .filters {
  border-bottom: 2px solid rgba(0, 0, 0, 0.11);
  font-size: 0;
}
.screen-boatdays .filters .left,
.screen-boatdays .filters .right {
  height: 100%;
  display: inline-block;
  width: 50%;
}
.screen-boatdays .filters .left {
  border-right: 1px solid rgba(29, 29, 38, 0.05);
}
.screen-boatdays .filters .icon {
  width: 26pt;
  height: 26pt;
  text-align: center;
  line-height: 30pt;
  font-size: 13pt;
  color: #11abc1;
  border: 1px solid #11abc1;
  border-radius: 26pt;
  display: block;
  margin: 20px auto 5px auto;
}
.screen-boatdays .filters label {
  color: #546e7a;
  display: block;
  font-size: 11.09pt;
  line-height: 15pt;
  text-align: center;
  margin-bottom: 20px;
}
/* 
.screen-boatdays .filters .left label {
	color: rgba(216, 216, 216, 100);
}
*/
.screen-notifications main > .list {
  -webkit-flex: 1;
}
.screen-notifications main > .header {
  text-align: center;
  padding-top: 32px;
}
.screen-notifications main > .header h1 {
  font-size: 17.07pt;
  color: #546e7a;
  line-height: 23pt;
}
.screen-notifications main > .header p {
  font-size: 8.53pt;
  color: rgba(84, 110, 122, 0.45);
  line-height: 12pt;
  height: 12pt;
  margin-bottom: 33px;
}
.screen-notifications .notification {
  padding: 30px 25px;
}
.screen-notifications .notification .header {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
}
.screen-notifications .notification .header * {
  display: inline-block;
  line-height: 25px;
  height: 25px;
}
.screen-notifications .notification .header .sender {
  color: #11abc1;
  font-weight: 700;
  font-size: 10.67pt;
  margin-left: 8px;
  -webkit-flex: 1;
}
.screen-notifications .notification .header .time {
  color: #b1bfcc;
  font-size: 8.53pt;
}
.screen-notifications .notification .header .bullet {
  width: 6.36pt;
  height: 6.36pt;
  border-radius: 6.36pt;
  background: #f5a623;
  margin-top: 6.5px;
  margin-left: 8px;
}
.screen-notifications .notification .body p {
  color: #546e7a;
  font-size: 11.52pt;
  line-height: 16pt;
  margin-top: 11px;
}
.screen-notifications .notification .body p strong,
.screen-notifications .notification .body p a {
  font-weight: 500;
}
.screen-report .header {
  border-bottom: 2px solid rgba(29, 29, 28, 0.05);
  padding: 42px 75px 39px 74px;
}
.screen-report .header p {
  color: #546e7a;
  font-size: 11pt;
  font-weight: 300;
  line-height: 15pt;
  margin-bottom: 0px;
}
.screen-report .header h1 {
  color: #546e7a;
  font-size: 17.07pt;
  font-weight: 400;
  line-height: 23pt;
  margin-top: 0px;
  margin-bottom: 14px;
}
.screen-report .header .profile-picture {
  width: 78px;
  height: 78px;
  display: inline-block;
  background-size: cover;
  border: 2px white solid;
}
.screen-report .comment-box label {
  color: #b1bfcc;
  font-size: 8.53pt;
  font-weight: 400;
  line-height: 8.53pt;
}
.screen-report .reason {
  padding: 23px 256px 9px 24px;
}
.screen-report .reason label {
  color: #b1bfcc;
  font-size: 8.53pt;
  font-weight: 400;
  line-height: 8.53pt;
  padding-top: 23px;
  padding-left: 23px;
}
.screen-report .comment-box textarea {
  height: 206px;
  width: 320px;
  border: none;
  border-color: Transparent;
}
.screen-report .footer {
  border-top: 0.85px solid rgba(29, 29, 28, 0.05);
  padding: 25px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}
.screen-report button {
  border-radius: 1.7px;
}
.screen-report button label {
  color: #ffffff;
  font-size: 11.5pt;
  font-weight: 400;
  line-height: 16pt;
}
.screen-requests main {
  background: #f9fbfb;
}
.screen-requests .categories {
  background: rgba(255, 255, 255, 0);
  border-bottom: none;
}
.screen-requests .categories .swiper-container {
  width: 100%;
  height: 100%;
}
.screen-requests .categories .swiper-slide {
  width: auto;
}
.screen-requests .categories .swiper-slide a {
  display: block;
  vertical-align: center;
  margin: 0px;
  padding: 0px;
  color: #546e7a;
  font-size: 8.53pt;
  line-height: 13.65pt;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 71px;
  padding: 0px 10px;
}
.screen-requests .categories .swiper-slide-active a {
  color: #11abc1;
  text-decoration: underline;
}
.screen-requests .list {
  -webkit-flex: 1;
  overflow: auto;
}
.screen-payments .list {
  -webkit-flex: 1;
  overflow: auto;
}
.screen-water-policy .list {
  -webkit-flex: 1;
  overflow: auto;
}
.screen-water-policy main h1:first-child {
  margin-top: 10px;
}
.screen-water-policy main h1,
.screen-water-policy main h2,
.screen-water-policy main h3,
.screen-water-policy main h4,
.screen-water-policy main h5,
.screen-water-policy main h6 {
  color: #546e7a;
  font-size: 10.67pt;
  line-height: 17.92pt;
  margin-top: 30pt;
  margin-bottom: 5pt;
  text-align: center;
  font-weight: 500;
}
.screen-water-policy p {
  color: #546e7a;
  font-size: 10.67pt;
  line-height: 17.92pt;
  margin: 0px 26px 0pt 26px;
}
.screen-terms .list {
  -webkit-flex: 1;
  overflow: auto;
}
.screen-terms main h1:first-child {
  margin-top: 10px;
}
.screen-terms main h1,
.screen-terms main h2 {
  color: #546e7a;
  font-size: 10.67pt;
  line-height: 17.92pt;
  margin-top: 30pt;
  margin-bottom: 5pt;
  text-align: center;
  font-weight: 500;
}
.screen-terms p {
  color: #546e7a;
  font-size: 10.67pt;
  line-height: 17.92pt;
  margin: 0px 26px 0pt 26px;
}
.screen-about-us .grey-area {
  padding-top: 26px;
}
.screen-about-us .logo {
  width: 40vw;
  display: block;
  margin: 0px auto 8px auto;
}
.screen-about-us .terms {
  color: #11abc1;
  font-size: 8.53pt;
  font-height: 13.65pt;
  font-weight: 700;
}
.screen-about-us .version {
  color: rgba(84, 110, 122, 0.35);
  font-size: 10.67pt;
  font-height: 15pt;
  margin-top: 12pt;
  margin-bottom: 40pt;
  text-transform: uppercase;
}
.screen-about-us .social h1 {
  color: rgba(84, 110, 122, 0.35);
  font-size: 10.67pt;
  font-height: 15pt;
}
.screen-about-us .social .links {
  margin: 15px 46px 34px 46px;
  color: rgba(84, 110, 122, 0.35);
  font-size: 10.67pt;
  font-height: 15pt;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  -webkit-justify-content: space-around;
}
.screen-about-us .social .links a {
  width: 40pt;
  height: 40pt;
  border-radius: 40pt;
  border: 1px solid #b1bfcc;
  color: #b1bfcc;
  font-size: 17pt;
  text-align: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
}
.screen-about-us .white-area {
  border-bottom: none;
}
.screen-sign-in header {
  border: none;
}
.screen-sign-in header {
  background: #f9fbfb;
  border-bottom: #f9fbfb;
  color: #546e7a;
}
.screen-sign-in .header {
  border-bottom: 1px solid rgba(29, 29, 28, 0.05);
  padding: 93px 83px;
}
.screen-sign-in .header h1 {
  color: #546e7a;
  font-size: 17.07pt;
  font-weight: 300;
  line-height: 23pt;
  margin-left: 84px;
}
.screen-sign-in .sign {
  border: none;
}
.screen-sign-in .sign label {
  color: #b1bfcc;
  font-size: 8.53pt;
  font-weight: 400;
  line-height: 8.53pt;
  padding-top: 23px;
  padding-left: 26px;
}
.screen-sign-in footer {
  padding: 46px 24px 25px 26px;
}
.screen-sign-in .facebook {
  background-color: #6782bc;
  color: #ffffff;
  margin-bottom: 21px;
  height: 75px;
  border-radius: 3pt;
  text-align: left;
  font-size: 12.8pt;
}
.screen-sign-in .facebook .icon {
  margin: 0px 15px;
}
.screen-sign-up header {
  background: #f9fbfb;
  border-bottom: #f9fbfb;
  color: #546e7a;
}
.screen-sign-up .header {
  border-bottom: 1px solid rgba(29, 29, 28, 0.05);
  padding: 70px 24px 50px 25px;
  text-align: center;
}
.screen-sign-up .header h1 {
  color: #546e7a;
  font-size: 17.07pt;
  font-weight: 300;
  line-height: 23pt;
  margin-left: 83px;
  margin-right: 84px;
  margin-bottom: 0px;
}
.screen-sign-up .header h2 {
  color: #546e7a;
  font-size: 12pt;
  font-weight: 200;
  line-height: 16pt;
  margin-bottom: 77px;
}
.screen-sign-up .header .facebook {
  background-color: #6782bc;
  color: #ffffff;
  margin-bottom: 21px;
  height: 75px;
  border-radius: 3pt;
  text-align: left;
  font-size: 12.8pt;
}
.screen-sign-up .header .facebook .icon {
  margin: 0px 15px;
}
.screen-sign-up .header .or hr {
  size: 0.85px;
  color: #1d1d26;
  align: left;
  width: 144.44px;
  opacity: 0.05;
  margin-bottom: 22px;
  margin-left: 5px;
  margin-right: 5px;
}
.screen-sign-up .header .or h3 {
  color: #546e7a;
  font-size: 12pt;
  font-weight: 300;
  line-height: 16pt;
  margin-bottom: 22px;
}
.screen-sign-up .header .or hr,
.screen-sign-up .header .or h3 {
  display: inline-block;
  vertical-align: middle;
}
.screen-sign-up .sign {
  border: none;
}
.screen-sign-up .sign label {
  color: #b1bfcc;
  font-size: 8.53pt;
  font-weight: 400;
  line-height: 8.53pt;
  padding-top: 22px;
  padding-left: 26px;
}
.screen-sign-up footer {
  padding: 23px 22px 25px 26px;
}
.screen-guest main {
  background: url(../resources/bg-guest.png) center no-repeat;
  background-size: cover;
}
.screen-guest .btn-group {
  padding: 32px;
  display: -webkit-flex;
  -webkit-flex-direction: row;
}
.screen-guest .btn-group button {
  margin: 0px;
  height: 50pt;
  border-radius: 4pt;
  background: transparent;
  border: 1px solid #11abc1;
  color: #11abc1;
}
.screen-guest .btn-group button:first-child {
  margin-right: 8px;
  color: white;
  background: #11abc1;
}
.screen-guest .boatday-card {
  border-radius: 4.27pt;
  overflow: hidden;
  border: 1px solid #e4e9eb;
  border-bottom-width: 2px;
  -webkit-align-self: center;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  height: 60vh;
  width: 80vw;
  margin: 0px 10vw;
}
.screen-guest .boatday-card .boatday-image {
  -webkit-flex: 1;
  background: center no-repeat;
  background-size: cover;
}
.screen-guest .boatday-card .details {
  background: white;
  padding: 20px 13px 16px 13px;
}
.screen-guest .boatday-card .details p {
  color: #546e7a;
  font-size: 11.95pt;
  line-height: 16pt;
  text-align: center;
}
.screen-guest .swiper-container {
  -webkit-flex: 1;
  padding: 29px 0px 54px 0px;
}
.screen-guest .swiper-wrapper {
  margin-top: 50px;
}
.screen-guest .swiper-pagination {
  bottom: 15px;
}
.screen-guest .swiper-pagination-bullet {
  width: 8pt;
  height: 8pt;
  border-radius: 8pt;
  background: #b1bfcc;
}
.screen-guest .swiper-pagination-bullet-active {
  background: #11abc1;
}
.screen-cancellations main * {
  text-align: center;
}
.screen-cancellations main div:not(.active) {
  opacity: 0.4;
}
.screen-cancellations h1 {
  color: #546e7a;
  font-size: 10.67pt;
  line-height: 17.92pt;
  margin: 5pt 0pt;
  text-align: center;
  font-weight: 500;
}
.screen-cancellations p {
  color: #546e7a;
  font-size: 10.67pt;
  line-height: 17.92pt;
  margin: 0px 26px 20pt 26px;
}
.screen-cancellations main div:last-child p {
  padding-bottom: 11pt;
}
.screen-my-picture .header {
  padding: 47px 35px 190px 35px;
  border-bottom: 1px solid rgba(29, 29, 28, 0.05);
  text-align: center;
}
.screen-my-picture .header .profile-picture {
  width: 78px;
  height: 78px;
  background-size: cover;
  border: 2px white solid;
  display: inline-block;
}
.screen-my-picture .header h1 {
  color: #546e7a;
  font-size: 17.07pt;
  font-weight: 400;
  line-height: 23pt;
  margin-top: 21px;
}
.screen-my-picture .header h2 {
  color: rgba(84, 110, 122, 0.45);
  font-size: 8.53pt;
  font-weight: 400;
  line-height: 12pt;
  margin-bottom: 32px;
}
.screen-my-picture .header .btn-group {
  display: inline-block;
  margin-bottom: 25px;
}
.screen-my-picture .header .btn-group .take-picture,
.screen-my-picture .header .btn-group .open-gallery {
  height: 46.08px;
  width: 120px;
  border-radius: 1.71px;
  border-color: rgba(228, 233, 235, 0.85);
  font-size: 11.52px;
  font-weight: 400;
  line-height: 12.8pt;
  color: #546e7a;
}
.screen-my-picture .header .btn-group .take-picture {
  margin-right: 11px;
}
.screen-my-picture .credit-card {
  padding: 26px 20px 29px 115px;
  text-align: center;
  border: none;
  display: inline-block;
  border-bottom: 2px;
}
.screen-my-picture .credit-card h1 {
  color: #546e7a;
  font-size: 11.95pt;
  font-weight: 400;
  line-height: 16pt;
  margin-right: 88px;
  float: left;
}
.screen-my-picture .credit-card .icon {
  height: 7px;
  width: 7px;
}
.screen-my-picture .body label[for=about] {
  color: rgba(84, 110, 122, 0.35);
  text-align: center;
  font-size: 10.67pt;
  line-height: 14.51pt;
  font-weight: 200;
  font-style: italic;
}
.screen-my-picture .body label[for=firstname],
.screen-my-picture .body label[for=lastname],
.screen-my-picture .body label[for=email],
.screen-my-picture .body label[for=phone],
.screen-my-picture .body label[for=birthDate] {
  color: rgba(84, 110, 122, 0.35);
  font-weight: 400;
  font-size: 8.53pt;
  line-height: 8.53pt;
}
.screen-my-picture footer .save {
  color: #ffffff;
  font-size: 11.52pt;
  font-weight: 300;
  line-height: 16pt;
  border-radius: 1.71px;
}
.screen-book .header .select-seats {
  height: 68.64px;
  border: none;
  display: inline-block;
  padding-left: 22px;
  padding-top: 25px;
  overflow: hidden;
}
.screen-book .header .select-seats .icon-person {
  width: 16px;
  float: left;
  margin-right: 8px;
  color: rgba(29, 29, 28, 0.5);
}
.screen-book .header .select-seats select[name="seats"] {
  background: transparent;
  color: #383d3e;
  -webkit-appearance: none;
  font-size: 11.95px;
  font-weight: 400;
  line-height: 11.95pt;
  border: 0;
  border-radius: 0;
  float: left;
  width: 272px;
  margin-right: 18px;
  padding-left: 0px;
  padding-top: 2px;
}
.screen-book .header .field-card {
  height: 68.64px;
  display: inline-block;
  width: 100%;
  border-top: 0.853px solid rgba(29, 29, 38, 0.5);
  border-bottom: 0.853px solid rgba(29, 29, 38, 0.5);
}
.screen-book .header .field-card select[name="card"] {
  background: transparent;
  color: #383d3e;
  font-size: 11.95px;
  font-weight: 400;
  line-height: 11.95pt;
  height: 68.64px;
  border: 0;
  border-radius: 0;
  padding-left: 22px;
  padding-top: 25px;
}
.screen-book .price-pay {
  padding: 16px 25px 20px 25px;
  text-align: center;
  border-bottom: none;
}
.screen-book .price-pay .circle {
  display: inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 130.99px;
  height: 130.99px;
  border-radius: 5pt;
  border-radius: 320px !important;
  margin-bottom: 35px;
  background-image: url(../resources/bg-guest.png);
}
.screen-book .price-pay .circle h3 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 8.83px;
  font-weight: 500;
  line-height: 13.65pt;
  float: left;
  margin: 59px 8px 58px 25px;
  text-decoration: underline;
  text-transform: uppercase;
}
.screen-book .price-pay .circle .price-total {
  color: #ffffff;
  font-size: 21.33px;
  font-weight: 300;
  line-height: 12.8pt;
  float: right;
  margin-top: 60px;
  margin-right: 25px;
}
.screen-book .price-pay p {
  color: #b1bfcc;
  font-size: 10.67px;
  font-weight: 400;
  line-height: 15pt;
  margin-right: 46px;
  margin-left: 46px;
}
.screen-book .btn-group {
  padding: 26px;
  display: -webkit-flex;
  -webkit-flex-direction: row;
}
.screen-book .btn-group button {
  margin: 0px;
  height: 46.08pt;
  border: 0.85px solid #e4e9eb;
  font-weight: 400;
  font-size: 10.67px;
  line-height: 15pt;
  color: #546e7a;
}
.screen-book .btn-group button:first-child {
  margin-right: 10px;
}
.screen-book footer {
  border: none;
}
.screen-book .book-seat {
  border-radius: 1.71pt;
  font-weight: 400;
  font-size: 11.52px;
  line-height: 16pt;
  color: #ffffff;
}
.screen-boatday .boatday-image {
  background-size: cover;
  background-position: center;
  height: 40vh;
  position: relative;
}
.screen-boatday .boatday-images .banner {
  position: absolute;
  bottom: 16px;
  background: #fff;
  font-size: 0;
  z-index: 400;
}
.screen-boatday .boatday-images .banner.right {
  right: 0px;
  border-radius: 1.71pt 0px 0px 1.71pt;
}
.screen-boatday .boatday-images .banner label {
  color: #546e7a;
  font-size: 11.52pt;
  display: inline-block;
  vertical-align: middle;
  line-height: 24pt;
  margin: 0px 9px;
}
.screen-boatday .shortcuts a {
  display: block;
  line-height: 65pt;
  border-bottom: 1px solid #e4e9eb;
  font-size: 11.95pt;
}
.screen-boatday .shortcuts .host-picture,
.screen-boatday .shortcuts .boat-picture {
  margin: 0px 5px 0px 20px;
  background-size: cover;
  position: relative;
  top: 8px;
}
.screen-boatday .shortcuts a .name {
  color: #b1bfcc;
}
.screen-boatday .shortcuts a strong {
  color: #546e7a;
  font-weight: 400;
}
.screen-boatday .shortcuts a .rating {
  position: relative;
  top: 4px;
  margin: 0px 5px;
}
.screen-boatday .shortcuts a .amount-rating {
  color: #f8b62c;
}
.screen-boatday .details h1 {
  text-align: center;
  padding: 0px 41px 27px 41px;
  color: #3b4045;
  font-size: 14.93pt;
  line-height: 23.04pt;
}
.screen-boatday .details {
  padding: 36px 0px 31px 0px;
  font-size: 0px;
}
.screen-boatday .details h4,
.screen-boatday .details p {
  color: #b1bfcc;
  font-size: 11.52pt;
  line-height: 12.8pt;
  width: 49%;
  margin-bottom: 11px;
  text-align: right;
  padding-right: 10px;
  display: inline-block;
}
.screen-boatday .details p {
  color: #546e7a;
  text-align: left;
  padding-left: 10px;
  padding-right: 0px;
}
.screen-boatday .details h4:last-of-type,
.screen-boatday .details p:last-of-type {
  margin-bottom: 0px;
}
.screen-boatday .description {
  text-align: center;
}
.screen-boatday .description p {
  color: #546e7a;
  font-size: 12.8pt;
  line-height: 17.92pt;
  padding: 25px;
}
.screen-boatday .location {
  padding-bottom: 40px;
}
.screen-boatday .location .map {
  background-size: cover;
  background-position: center;
  height: 260px;
  text-align: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
}
.screen-boatday .location h1 {
  color: #b1c0cc;
  font-size: 11.52pt;
  line-height: 12.8pt;
  margin-top: 27px;
  margin-bottom: 8px;
  text-align: center;
}
.screen-boatday .location .name {
  color: #546e7a;
  font-size: 11.52pt;
  line-height: 12.8pt;
  margin-bottom: 8px;
  text-align: center;
}
.screen-boatday .location .detail {
  color: #b1c0cc;
  font-size: 8.52pt;
  line-height: 13.65pt;
  text-align: center;
}
.screen-boatday .questions {
  text-align: center;
}
.screen-boatday .questions h6 {
  margin-bottom: 20px;
}
.screen-boatday .questions button {
  width: auto;
  margin-top: 20px;
  margin-bottom: 37px;
}
.screen-boatday .booking {
  text-align: center;
  padding: 24px;
}
.screen-boatday .booking .price {
  font-size: 23.47pt;
  line-height: 32pt;
  color: #11abc1;
  margin-bottom: 22px;
}
.screen-boatday .booking .price sub {
  font-size: 8.53pt;
  line-height: 12pt;
  position: relative;
  color: #546e7a;
  top: -6px;
}
.screen-boatday .booking .hint {
  font-size: 14.93pt;
  line-height: 13.65pt;
  color: #546e7a;
  margin-bottom: 17px;
}
.screen-boatday .booking .cancellations {
  width: auto;
  margin-bottom: 37px;
}
.screen-boatday .booking .book {
  margin-bottom: 37px;
}
.screen-boatday .booking .policies {
  font-size: 10.24pt;
}
.screen-boatday .sharing {
  padding: 60px 47px;
  z-index: 1;
  background-size: cover;
  background-position: center;
  position: relative;
}
.screen-boatday .sharing:after {
  content: "";
  background: rgba(37, 42, 43, 0.85);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.screen-boatday .sharing * {
  z-index: 3;
  position: relative;
}
.screen-boatday .sharing label {
  color: white;
  text-transform: uppercase;
  line-height: 13.65pt;
  font-size: 8.53pt;
  text-align: center;
  display: block;
}
.screen-boatday .sharing button {
  border-radius: 10000pt;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  background: transparent;
  font-size: 8.53px;
  margin-top: 20px;
}
.screen-boatday .questions {
  padding: 0px 25px;
}
.screen-boatday .questions h6 {
  margin-bottom: 37px;
}
.screen-boatday div.question p.question {
  color: #b1bfcc;
  font-size: 10.24pt;
  line-height: 14pt;
  text-align: left;
}
.screen-boatday div.question p.answer {
  color: #546e7a;
  font-size: 10.24pt;
  line-height: 14pt;
  text-align: left;
  margin-bottom: 8px;
  margin-bottom: 27px;
}
.screen-boatday div.question p.answer span {
  color: #f8b62c;
  margin-right: 5px;
}
.screen-pay label.tip {
  text-align: center;
  display: block;
  font-size: 10.67pt;
  line-height: 15pt;
  color: #b1bfcc;
  margin-top: 20px;
  margin-bottom: 20px;
}
.screen-pay div.tips {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  margin-bottom: 20px;
}
.screen-pay div.tips .bullet {
  height: 12vw;
  line-height: 12vw;
  text-align: center;
  width: 12vw;
  border-radius: 15vw;
  display: inline-block;
  border: 1px solid #546e7a;
  color: solid #546e7a;
}
.screen-pay div.tips .bullet.active {
  border-color: #11abc1;
  background: #11abc1;
  color: white;
}
.screen-pay .rate {
  padding: 20px 0px;
  text-align: center;
}
.screen-pay .rate .rating {
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
}
.screen-pay .rate .rating:after {
  content: "o";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  line-height: 30px;
  color: #b1bfcc;
}
.screen-pay .rate .rating.active:after {
  content: "W";
  color: #f8b62c;
  font-size: 20px;
  font-family: "boatday-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.snap-drawer .header {
  border-bottom-width: 1px;
}
.snap-drawer .header img {
  display: block;
  margin: auto;
  margin-top: 38px;
  margin-bottom: 13px;
}
.snap-drawer .header p {
  margin: 0px 24px 20px 24px;
  color: #546e7a;
  font-size: 10.67pt;
  line-height: 15pt;
  text-align: center;
}
.snap-drawer .links {
  -webkit-flex: 1;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
.snap-drawer .links a {
  -webkit-flex: 1;
  font-size: 11.52pt;
  color: #11abc1;
  display: block;
  border-bottom: 1px solid rgba(29, 29, 38, 0.05);
}
.snap-drawer .links .icon {
  margin-left: 23px;
  margin-right: 17px;
}
.snap-drawer .info {
  color: #afbcc1;
  font-size: 11.52pt;
  line-height: 12.8pt;
  text-align: center;
  display: block;
}
.screen-price-info header p {
  color: #546e7a;
  font-size: 10.67px;
  font-weight: 400;
  inline-height: 17.92pt;
  margin: 0px 26px 3px 26px;
}
.screen-adjust-price main {
  -webkit-flex-flow: column;
  -webkit-justify-content: center;
}
.screen-adjust-price .price {
  display: -webkit-flex;
  -webkit-flex-flow: row;
  -webkit-align-items: center;
}
.screen-adjust-price .price .icon {
  -webkit-flex: 1;
  text-align: center;
  height: 100%;
  padding: 30px 0px;
}
.screen-chat footer {
  padding: 12px;
  display: -webkit-flex;
  -webkit-flex-direction: row;
}
.screen-chat footer input {
  width: auto;
  -webkit-flex: 1;
  padding: 0px 10px;
  border-radius: 3pt;
}
.screen-chat footer input::-webkit-input-placeholder {
  padding-top: 4px;
}
.screen-chat footer button {
  border: none;
  background: transparent;
  color: #11abc1;
  font-size: 11.52pt;
  text-transform: uppercase;
  padding-right: 0px;
}
.screen-chat .message {
  margin-top: 10pt;
  margin-bottom: 5pt;
  display: -webkit-flex;
  -webkit-flex-direction: row;
}
.screen-chat .host-picture,
.screen-chat .guest-picture {
  width: 25pt !important;
  height: 25pt !important;
  margin-left: 15pt;
  margin-top: 5pt;
}
.screen-chat .message .speech-bubble {
  margin-left: 12pt;
  margin-right: 12pt;
  border-radius: 5pt;
  border: 1px solid #d8d8d8;
  background: #f9fbfb;
  position: relative;
  z-index: 1;
  min-height: 32pt;
}
.screen-chat .message .speech-bubble:before {
  content: "";
  position: absolute;
  top: 13pt;
  left: -5pt;
  width: 10pt;
  height: 10pt;
  -webkit-transform: rotate(45deg);
  border: 1px solid #d8d8d8;
  background: #f9fbfb;
  z-index: 2;
}
.screen-chat .message .speech-bubble:after {
  content: "";
  position: absolute;
  top: 11pt;
  left: 0pt;
  width: 10pt;
  height: 16pt;
  background: #f9fbfb;
  z-index: 3;
}
.screen-chat .message .speech-bubble h1 {
  font-size: 10.67pt;
  line-height: 15pt;
  font-weight: 600;
  margin: 2pt 8pt 0pt 8pt;
  color: #11abc1;
  position: relative;
  z-index: 4;
}
.screen-chat .message .speech-bubble p {
  margin: 1pt 6pt 6pt 6pt;
  position: relative;
  z-index: 4;
  color: #546e7a;
  font-size: 10.67pt;
  line-height: 14.51pt;
  font-weight: light;
}
.screen-chat .message.me {
  -webkit-justify-content: flex-end;
}
.screen-chat .message.me .speech-bubble {
  background: #b1bfcc;
  min-height: 0px;
}
.screen-chat .message.me .speech-bubble p {
  margin: 4pt 6pt 6pt 9pt;
  color: white;
}
.screen-chat .message.me .speech-bubble:before {
  top: 6pt;
  left: auto;
  right: -5pt;
  border: 1px solid #d8d8d8;
  background: #b1bfcc;
}
.screen-chat .message.me .speech-bubble:after {
  top: 4pt;
  left: auto;
  right: 0pt;
  background: #b1bfcc;
}
