* {
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	background : url(../resources/loader.gif) center center no-repeat;
}

.clip-to-bottom {
	position : fixed;
	bottom : 0px;
	left: 0px;
	right : 0px;
}

.text-left   { text-align: left }
.text-center { text-align: center }
.text-right  { text-align: right }

header.bar.bar-nav, 
div.content .bar-header-secondary {
	height: 60px !important;
	-webkit-transform: translateZ(0);
	-webkit-box-shadow: none;
	border-bottom: 1px solid @header-border;
	background: -webkit-linear-gradient(right, @header-bg-left, @header-bg-right);;
}

header.bar.bar-nav a.icon, 
header.bar.bar-nav button.btn-nav {
	margin-top : 16px;
	color : @header-color;
}

header.bar.bar-nav a.icon:after {
	content:"";
	position : absolute;
	top : 50%;
	left : 50%;
	width : 60px;
	height : 60px;
	margin-top : -30px;
	margin-left : -30px;
	background : transparent;
}

header.bar.bar-nav h1 {
	line-height: 44px;
	margin-top : 16px;
	color : @header-color;
	font-family: museo;
	left: 50px;
	right: 50px;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}


.bar-nav ~ .content {
	padding-top: 60px;
}

div.content {
	background : @brand-bg;
}

div.content h1,
div.content h2,
div.content h3,
div.content h4,
div.content h5,
div.content h6 {
	color: @brand-primary;
	text-align: center;
	font-weight: 200;
	margin-top: 30px;
	margin-bottom: 20px;
}

div.content h1 { font-size: 1.5em; }
div.content h2 { font-size: 1.4em; }
div.content h3 { font-size: 1.3em; }
div.content h4 { font-size: 1.2em; }
div.content h5 { font-size: 1.1em; }
div.content h6 { font-size: 1em; }

div.content p, 
div.content td, 
div.content sup, 
div.content sub {
	color: @text-color;
}

div.content p.secondary {
	color: @text-color-secondary;
}

.table-view {
}

.btn {
	background-color: @btn-bg;
	color: @btn-color;
	border: 1px solid @btn-border;
	border-radius : @btn-border-radius;
	line-height: 35px;
	padding: 5px;
	font-weight: 500;
	font-size: 0.8em;
}

.btn-primary {
	background-color: @btn-primary-bg;
	color: @btn-primary-color;
	border: 2px solid @btn-primary-border;
}

.btn-action {
	background-color: @btn-action-bg;
	color: @btn-action-color;
	border: 1px solid @btn-action-border;
}

.btn:active, .btn.active {
	background-color: @btn-border;
	color: white;
	border-color: @btn-border;
}

.btn-primary:active, .btn-primary.active {
	background-color: @btn-primary-border;
	color: white;
	border-color: @btn-primary-border;
}

.btn-action:active, .btn-action.active {
	background-color: @btn-action-border;
	color: white;
	border-color: @btn-action-border;
}

.btn-group button {
	width: 50%;
	display: inline-block;
}

.btn-group button:first-child {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	float:left;
}

.btn-group button:last-child {
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

input[type=color], 
input[type=date], 
input[type=datetime-local], 
input[type=datetime], 
input[type=email], 
input[type=month], 
input[type=number], 
input[type=password], 
input[type=search], 
input[type=tel], 
input[type=text], 
input[type=time], 
input[type=url], 
input[type=week], 
select, 
textarea {
	padding: 10px @input-padding;
	color: @input-color;
	border: 1px solid @input-border;
	background: @input-bg;
	border-radius : @input-border-radius;
	font-weight: 400;
	font-size: 0.8em;
	line-height: 30px;
	height: 52px; /* height + padding + border */
}

select {
	-webkit-box-shadow: none;
	background: url(../resources/select-arrows.png) no-repeat center right 10px @btn-bg;
}

.field-flag-error {
	border-color: #f86335 !important;
}

textarea {
	height: auto;
}

label {
	font-weight: 500;
	font-size: 0.7em;
	color: @text-color;
}


.clear {
	display:block;
	clear: both;
}


.profile-picture {
	background: center center no-repeat white;
	background-size:cover;
	background-image: url(../resources/profile-picture-placeholder.png);
	height: 60px;
	width: 60px;
	border-radius: 70px;
	display: block;
}

.modal {
	z-index: 11;
}

.modal header.bar.bar-nav {
	z-index: 21;
}

video {
	max-height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}