.screen-boat .content .grey-area {
	background: rgba(249, 251, 251, 1);
	border-bottom: 2px solid rgba(29, 29, 28, 0.05);
}
.screen-boat .content .boat-card {
	height: 166px;
	width: 174px;
	text-align: center;
	background-size: cover;
}