.screen-schedule header {
	padding: 34px 31px;
}

.screen-schedule header h1 {
	color: rgba(84, 110, 122, 1);
	font-size: 17.07pt;
	line-hight: 23.04pt;
	font-weight: 300;
}

.screen-schedule main {
    background:	rgba(249, 251, 251, 1) !important;
 }

.screen-schedule .items {
	.flex(1);
	.display-flex();
	.flex-direction(column);
}

.screen-schedule .items div {
	padding: 10px 26px;
	border-top: 1px solid rgba(29, 29, 38, 0.05);

	.flex(1);
	.display-flex();
	.flex-direction(row);
}
.screen-schedule .items div * {
	.box-pack(center);
	.justify-content(center);
	.box-align(center);
	.align-items(center);
	.align-self(center);
}
.screen-schedule .items label {
	.flex(1);
	color: rgba(177, 191, 204, 1);
	font-weight: 400;
	font-size: 10.67pt;
	line-height: 17.92pt;
	width: 40%;
}

.screen-schedule .items .item .time {
	width: 60%;
	text-align: center;
	color: rgba(84, 110, 122, 1);
	font-size: 11.52pt;
	line-height: 12.8pt;
}