.screen-boatday .slider {
	background:@text-color-secondary;
}
.screen-boatday .captain {
  background: #f9fbfb;
	padding: 20px 20px;
}
.screen-boatday .captain .profile-picture {
  width: 80px;
  height: 80px;
  float: left;
  border: 2px white solid;
  margin-right: 20px;
}
.screen-boatday .captain p {
  font-size: 0.8em;
  line-height: 25px;
  margin-top: 0px;
  color: #b2c0cc;
	font-weight: 500;
}
.screen-boatday .captain p strong {
  font-weight: 500;
  color: #546e7a;
}
.screen-boatday .captain p img {
  height: 14px;
  position: relative;
  top: 2px;
}
.screen-boatday .content h1 {
  line-height: 60px;
  font-size: 1.1em;
	font-weight: 400;
}
.screen-boatday table {
	width: 100%;
}
.screen-boatday td {
	border-top: 1px solid #e1e6ea ;
	border-bottom: 1px solid #e1e6ea ;
	padding: 15px 10px;
	font-size: 0.7em;
	color: #b2c0cc;
	font-weight: 500;
}
.screen-boatday td strong {
	color: #546e7a;
	padding-left: 5px;
}

.screen-boatday td:first-child {
	border-right: 1px solid #e1e6ea ;
}

.screen-boatday label {
  display: block;
  font-weight: 700;
  text-align: center;
  color: #b2c0cc;
  font-size: 0.75em;
	margin-bottom: 10px;
	margin-top: 40px;
  clear:both;
}
.screen-boatday p.description {
  text-align: justify;
  margin-bottom: 40px;
}

.screen-boatday .map {
	height: 200px;
	background: #f9fbfb;
	border-radius: 5px;
	background: center center no-repeat;
  position: relative;
}

.screen-boatday .map img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
}

.screen-boatday .features {
  margin-bottom: 20px;
}

.screen-boatday .features p {
  width: 50%;
  float: left;
  padding: 0px 10px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 0.7em;
}

.screen-boatday .features img {
	width: 10px; 
	margin-right: 5px;
}

.screen-boatday .book {
  clear: both;
  background: #f9fbfb;
	padding: 20px 0px;

}
.screen-boatday .book p.price {
  font-size: 3em;
  text-align: center;
	font-weight: 200;
	line-height: normal;
}
.screen-boatday .book p.price sup {
  font-size: 0.45em;
	position:relative;
	top: -20px;
}
.screen-boatday .book p.price sub {
  font-size: 0.3em;
}

.screen-boatday .book a.btn-cancel-modal {
  display: block;
  margin-top: 20px;
  text-align: center;
	font-size: 0.7em;
	font-weight: 500;
}

.screen-boatday .btn.btn-action {
	margin-top: 15px;
}

.screen-boatday .badge-price {
  background: rgba(13, 13, 14, 0.75);
  margin: auto;
  width: 120px;
  padding: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: 1.4em;
  color: white;
  text-align: center;
	position: absolute;
	top: 60px;
	z-index: 1;
	left: 50%;
	margin-left: -60px;
}
.screen-boatday .badge-price sup {
  font-size: 0.7em;
  color: white;
}
.screen-boatday .badge-price sub {
  font-size: 0.4em;
  color: white;
}

.screen-boatday .slide .img {
	height: 200px;
	width: 100%;
	background: center center no-repeat;
	background-size: cover;
}



.screen-boatday .confirmed-guests .guest span {
  color: @text-color-secondary;
  font-weight: 400;
  line-height: auto;
}

.screen-boatday .confirmed-guests .guest {
  text-align:center;
  width: 25%;
  font-size: 0.7em;
  font-weight: 500;
  color: @brand-primary;
  float: left;
  margin-bottom: 20px;
  line-height: auto;
}

.screen-boatday .confirmed-guests .guest .profile-picture {
  margin: auto; 
}