.screen-book main {
	background: rgba(249, 251, 251, 1);
}

.screen-book main > div {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-flex: 1;
	height: 100%;
}

.screen-book .items {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	background: white;
}

.screen-book .item {
	border-bottom: 1px solid rgba(29, 29, 28, 0.05);
	color: rgba(56, 61, 62, 1);
	display: -webkit-flex;
	-webkit-flex-direction: row;
}

.screen-book .item .icon {
	margin-left: 26px;
	line-height: 60px;
	color: rgba(29, 29, 28, 0.5);
}

.screen-book .item p {
	margin: 26px;
	font-size: 11pt;
	text-align: center;
}

.screen-book .item select {
	font-size: 11.95px;
	-webkit-flex: 1;
	line-height: 60px;
	padding: 0px;
	padding-left: 26px;
}

.screen-book .price-pay {
	border-bottom: none;
	-webkit-flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
}

.screen-book .btn-group {
	padding-bottom: 26px;
	display: -webkit-flex;
	-webkit-flex-direction: row;
}

.screen-book .btn-group button:first-child {
	margin-right: 10px;
}

.screen-book footer {
	border: none;
	padding-top: 0px;
}

.screen-book .time {
	
	padding: 23px 32px 15px 34px;
}

//Slider

.slider.slider-horizontal {
  height: 50px;
  border: 1px solid red;
}

#departureTime .slider-selection {
  background: white !important;
}

.slider-handle {
	border: 1px solid #cfd8dc !important;
	margin-top: 20px;
}

.slider-track {
 // background: white !important;
  // border:1px solid #cfd8dc !important;
  // height: 4px !important;
  // background-image: none !important;
}

.slider-handle {
	// background: #f9fbfb !important;
	// border: 1px solid #cfd8dc !important;
  // margin-top: -9.25px !important;
}