.screen-sign-up header {
	border: none;
}

.screen-sign-up .header {
	border-bottom: 1px solid rgba(29, 29, 28, 0.05);
	padding: 89px 24px 22px 25px;
	text-align: center;
}

.screen-sign-up .header h1 {
	color: rgb(84, 110, 122, 1);
	font-size: 17.07pt;
	font-weight: 300;
	line-height: 23pt;
	margin-left: 83px;
	margin-right: 84px;
	margin-bottom: 0px;
}

.screen-sign-up .header h2 {
	color: rgb(84, 110, 122, 1);
	font-size: 12pt;
	font-weight: 300;
	line-height: 16pt;
	margin-bottom: 77px;
}

.screen-sign-up .header .facebook {
	background-color: rgba(103, 130, 188, 1);
	color: rgba(255, 255, 255, 1);
	margin-bottom: 21px;
}
.screen-sign-up .header .or hr {
	size: 0.85px;
	color: rgba(29, 29, 38, 1);
	align: left;
	width: 144.44px;
	opacity: 0.05;
	margin-bottom: 22px;
	margin-left: 5px;
	margin-right: 5px;
}

.screen-sign-up .header .or h3{
	color: rgb(84, 110, 122, 1);
	font-size: 12pt;
	font-weight: 300;
	line-height: 16pt;
	margin-bottom: 22px;
}

.screen-sign-up .header .or hr, 
.screen-sign-up .header .or h3 {
	display: inline-block;
	vertical-align: middle; 
}

.screen-sign-up .sign {
	border: none;
}

.screen-sign-up .sign label {
	color: #b1bfcc;
	font-size: 8.53pt;
	font-weight: 400;
	line-height: 8.53pt;
	padding-top: 22px;
	padding-left: 26px;
}

.screen-sign-up footer {
	padding: 23px 22px 25px 26px;
}


