
.screen-boatday-active .content {
	background : -webkit-linear-gradient(-105deg, #0ab8c8 , #13a7bf);
}

.screen-boatday-active .logo {
	width: 140px;
	max-width: 70%;
	display:block;
	margin: 60px auto 40px auto;
}

.screen-boatday-active .welcome {
	color: white;
	line-height: normal;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
}

.screen-boatday-active .btn {
	border-color: white;
	background: transparent;
	border-width: 1px;
	color: white;
	font-size: 1em;
	font-weight: 200;
}

.screen-boatday-active .btn:active,
.screen-boatday-active .btn.active {
  	border-color: white;
	background: rgba(255, 255, 255, 0.25);
}


.screen-boatday-active .actions {
	margin-top: 45px;
	background: rgba(43, 51, 54, 0.85);
	text-align: center;
}

.screen-boatday-active .actions .option {
	display:inline-block;
	text-align: center;
	margin: 20px 10px;
}

.screen-boatday-active .actions .option a {
	display:inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 1px solid white;
	border-radius: 50px;
}
.screen-boatday-active .actions .option a span {
	color: white;
	font-size: 1.3em;
}

.screen-boatday-active .actions .option span.label {
	display: inline-block;
	color: white;
	font-size: 0.6em;
	line-height: normal;
	margin-top: 10px;
}