.screen-profile .header,
.screen-profile .boatdays,
.screen-profile .boats {
	text-align: center;
}

.screen-profile .header {
	padding: 49px 0px 37px 0px;
}

.screen-profile .header h1 {
	font-size: 17pt;
	line-height: 23pt;
	margin-top: 19px;
}

.screen-profile .header h2 {
	color: rgba(84, 110, 122, 0.45);
	font-size: 9pt;
	line-height: 12pt;
}

.screen-profile .header p.about {
	color: rgba(84, 110, 122, 0.79);
	font-size: 11pt;
	font-weight: 300;
	font-style: italic;
	line-height: 15pt;
	margin: 16px 45px 3px 45px;
	padding: 0px;
}

.screen-profile .header .certifications p {
	font-size: 9pt;
	line-height: 12pt;
	margin: 1px 0px;
	display:inline-block;
	position: relative;
}

.screen-profile .header .certifications p:first-child {
	margin-top: 15px;
}

// ToDo Daniel
// Add an icon not a check
/*
.screen-profile .header .certifications p:after {
	content: "";
	width: 23pt;
	height: 23pt;
	position: absolute;
	top: -5.5pt;
	left: -23pt;
}
*/

.screen-profile .boats .listing {
	margin: 20px 0px;
}

.screen-profile .boats .listing .boat {
	margin: 12px 37px 0px 37px;
	border: 1pt solid rgba(228, 233, 235, 1);
	border-bottom-width: 2pt;
	border-radius: 2pt;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	height: 50px;
	-webkit-align-items: center;
}

.screen-profile .boats .listing .boat:first-child {
	margin-top: 31px;
}

.screen-profile .boats .listing .boat:last-child {
	margin-bottom: 39px;
}

.screen-profile .boats .listing .boat p {
	color: #546e7a;
	font-size: 12pt;
	line-height: 13pt;
	text-align: left;
}

.screen-profile .boats .listing .boat .boat-picture {
	margin: 0px 12px;
}

.screen-profile .boats .listing .boat .boat-picture {
	margin: 0px 12px;
}

.screen-profile .reviews {
	padding: 5px 0px;
}

.screen-profile .reviews p.no-data {
	color: rgba(84, 110, 122, 0.35);
	font-size: 11pt;
	line-height: 15pt;
	margin: 22px 0px;
}

.screen-profile .reviews div.review {
	margin: 21px 25px 0px 25px;
	padding: 0px 0px 30px 0px;
	border-bottom: 1px solid rgba(29, 29, 36, 0.05);
}

.screen-profile .reviews div.review:last-child {
	border-bottom: none;
}

.screen-profile .reviews div.review .heading {
	font-size: 0pt;
}

.screen-profile .reviews div.review .host-picture,
.screen-profile .reviews div.review .guest-picture {
	width: 26pt;
	height: 26pt;
	border-radius: 26pt;
	background-size: cover;
	vertical-align: middle;
	display: inline-block;
}

.screen-profile .reviews div.review .host-picture {
	border-radius: 2.13pt;
}

.screen-profile .reviews div.review h4 {
	color: rgba(17, 171, 193, 1);
	font-size: 10.67pt;
	font-weight: 500;
	line-height: 15pt;
	margin-left: 8px;
	vertical-align: middle;
	display: inline-block;
	position:relative;
}

.screen-profile .reviews div.review h4:after {
	content: "";
	width: 3pt;
	height: 3pt;
	border-radius: 3pt;
	position: absolute;
	right: -8pt;
	top: 6pt;
	background: rgba(84, 110, 122, 1);
}

.screen-profile .reviews div.review .date {
	color: rgba(177, 191, 204, 1);
	font-size: 9.53pt;
	line-height: 12pt;
	margin: 7pt 0px;
	display: inline-block;
	float:right;
}

.screen-profile .reviews div.review p.review {
	color: rgba(84, 110, 122, 1);
	font-size: 11.52pt;
	line-height: 16pt;
	margin: 11px 0px 10px 0px;
}

.screen-profile .reviews div.review p.boatday {
	color: rgba(177, 191, 204, 1);
	font-size: 9.39pt;
	line-height: 12pt;
}

.screen-profile .boatdays .boatday-card {
	border-radius: 4.27pt;
	overflow: hidden;
	border: 1px solid #e4e9eb;
	border-bottom-width: 2px;
	margin: 0px 66px;
}

.screen-profile .boatdays .boatday-card .boatday-image {
	height: 144px;
	background-size: cover;
	background-position: center;
}

.screen-profile .boatdays .boatday-card .details {
	background: white;
	padding: 9px 12px 7px 12px;
}

.screen-profile .boatdays .boatday-card .details .boatday-items {
	margin-top: 14px;
	display: -webkit-flex;
	-webkit-flex-flow: row nowrap;
	-webkit-justify-content: space-between;
}

.screen-profile .boatdays .boatday-card .details .boatday-items .boatday-item {
	display: inline-block;
	color: rgba(84, 110, 122, 0.46);
	font-size: 9.82pt;
	line-height: 14pt;
	font-weight: 400;
}

.screen-profile .boatdays .boatday-card .details p {
	color: #546e7a;
	font-size: 11.95pt;
	line-height: 16pt;
}

.screen-profile .boatdays .swiper-container {
	width: 100%;
	height: 100%;
	padding: 29px 0px 54px 0px;
}


.screen-profile .boatdays .swiper-button-disabled {
	opacity: 0;
}

.screen-profile .boatdays .swiper-button-prev {
	left: 23px;
}

.screen-profile .boatdays .swiper-button-next {
	right: 23px;
}
.screen-profile .boatdays .swiper-button-next,
.screen-profile .boatdays .swiper-button-prev {
	background: none;
	line-height: 22px;
	width: 20px;
	height: 20px;
	border: 1px solid #546e7a;
	border-radius: 20px;
	font-size: 8px;
	text-align: center;
	margin-top: -10px;
}


.screen-profile .boatdays .swiper-button-prev:after,
.screen-profile .boatdays .swiper-button-next:after {
	content:"";
	width: 40px;
	height: 60px;
	top: -20px;
	left: -10px;
	position: absolute;
	background: transparent;
}

.screen-profile .boatdays .swiper-pagination {
	bottom: 15px;
}

.screen-profile .boatdays .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: rgba(177, 191, 204, 1);
}

.screen-profile .boatdays .swiper-pagination-bullet-active {
	background: rgba(17, 171, 193, 1)
}
