.screen-profile .content .grey-area {
	background: rgba(249, 251, 251, 1);
	border-bottom: 2px solid rgba(29, 29, 28, 0.05);
}

.screen-profile .content .header {
	text-align: center;
	padding: 49px 0px 37px 0px
}

.screen-profile .content .header .host-picture {
	width: 78px;
	height: 78px;
	border-radius: 5px;
	display: inline-block;
	background-size: cover;
}

.screen-profile .content .header h1 {
	color: rgba(84, 110, 122, 1);
	font-size: 17pt;
	font-weight: 400;
	line-height: 23pt;
	margin: 19px 0px 0px 0px;
	padding: 0px;
}

.screen-profile .content .header h2 {
	color: rgba(84, 110, 122, 0.45);
	font-size: 9pt;
	font-weight: 400;
	line-height: 12pt;
	margin: 0px;
	padding: 0px;
}

.screen-profile .content .header p.about {
	color: rgba(84, 110, 122, 0.79);
	font-size: 11pt;
	font-weight: 200;
	text-style: italic;
	line-height: 15pt;
	margin: 16px 45px 3px 45px;
	padding: 0px;
}

.screen-profile .content .header .certifications p {
	color: rgba(84, 110, 122, 1);
	font-size: 9pt;
	font-weight: 400;
	line-height: 12pt;
	margin: 1px 0px;
	padding: 0px;
	display:inline-block;
	position: relative;
}

.screen-profile .content .header .certifications p:first-child {
	margin-top: 15px;
}

.screen-profile .content .header .certifications p:after {
	content: "";
	width: 23pt;
	height: 23pt;
	position: absolute;
	top: -5.5pt;
	left: -23pt;
	background: url(../resources/check-grey.png) center center no-repeat red;
}