.screen-boat .header-part {
	height: 220px;
	text-align: center;
	background-size: cover;
	margin: 0px;
	padding: 90px 0px 60px 0px;
	position:relative;
}

.screen-boat .header-part:after {
	content:"";
	background: rgba(37, 42, 43, 0.85);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9;
}

.screen-boat h1 {
	color: rgba(255, 255, 255, 1);
	font-size: 9.81pt;
	line-height: 14pt;
	margin-bottom: 3px;
	position: relative;
	z-index: 10;
}

.screen-boat h2 {
	color: rgba(255, 255, 255, 0.46);
	font-size: 8.53pt;
	line-height: 12pt;margin: 0px;
	position: relative;
	z-index: 10;
}

.screen-boat .boat-pictures {
	padding: 37px 0px;
}

.screen-boat .boat-pictures .swiper-container {
	width: 220px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.screen-boat .boat-pictures .swiper-container .boat-picture {
	width: 64px;
	height: 64px;
}

.screen-boat .boat-details {
	padding: 36px 0px 31px 0px;
	font-size: 0px;
}

.screen-boat .boat-details h4,
.screen-boat .boat-details p {
	color: rgba(177, 191, 204, 1);
	font-size: 11.52pt;
	line-height: 12.8pt;
	width: 49%;
	margin-bottom: 11px;
	text-align: right;
	padding-right: 10px;
	display: inline-block;
}

.screen-boat .boat-details p {
	color: rgba(84, 110, 122, 1);
	text-align: left;
	padding-left: 10px;
	padding-right: 0px;
}

.screen-boat .boat-details h4:last-of-type,
.screen-boat .boat-details p:last-of-type {
	margin-bottom: 0px;
}

.screen-boat .boat-amenities {
	text-align:center;
}

.screen-boat .boat-amenities .features {
	margin: 30px auto 30px auto;
	font-size: 0px;
	width: 180px;
}

.screen-boat .boat-amenities .features p {
	font-weight: 400;
	color: rgba(84, 110, 122, 1);
	font-size: 10.67pt;
	line-height: 19.2pt;
	margin: 0px 20px;
	width: 90px;
	display: inline-block;
}

