
.screen-boatday-book p {
	text-align: center;
}

.screen-boatday-book select {
	font-size: 1.2em;
	font-weight: 500;
	text-align: center;
}

.screen-boatday-book .seats {
	margin-top: 30px;
}

.screen-boatday-book .seats table {
	width: 100%;
	margin-top: 20px;
}
	
.screen-boatday-book .seats table td {
	line-height: 40px;
}

.screen-boatday-book .seats table tr td:first-child {
	color: #13a7bf;
	font-weight: 400;
	font-size: 0.8em;
}

.screen-boatday-book .seats table tr td:last-child {
	text-align: right;
	font-size: 1em;
}

.screen-boatday-book .seats p {
	text-align: right;
	font-size: 2em;
	margin-top: 5px;
	border-top: 1px solid #e1e6ea;
	padding-top: 15px;
}

.screen-boatday-book .seats p sup {
	font-size: 0.6em;
	position: relative;

}

.screen-boatday-book .payment {
	margin-top: 50px;
}

.screen-boatday-book .payment a {
	font-size: 0.75em;	
	margin: 0px 0px 15px 0px;
	display: block;
}