
.screen-about-us .version {
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 0px;
	margin-top : 25px;
}

.screen-about-us .date {
	font-size: 0.7em;
	color: @text-color-secondary;
	font-weight: 700;
}

.screen-about-us img.logo {
	max-width: 120px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.screen-about-us p.description {
	margin-bottom: 15px;
}

.screen-about-us textarea {
	margin-bottom: 5px;
}

.screen-about-us .social,
.screen-about-us .website {
	margin-top: 50px;
}

.screen-about-us .social p,
.screen-about-us .website p {
	margin-bottom: 15px;
}

.screen-about-us .social a {
	width : 33%;
	float : left;
	font-size: 0.7em;
	color: @text-color-secondary;
	font-weight: 400;
	display: block;
}

.screen-about-us .social img {
	display: block;
	margin: auto;
	max-width: 60px;	
}