
.screen-sign-in .btn.facebook {
	border-color: #6782bc;
	color: white;
	background: #6782bc;
}

.screen-sign-in .btn.twitter {
	border-color: #3ad2fe;
	color: white;
	background: #3ad2fe;	
}

.screen-sign-in img.or {
	width: 30%;
	display: block;
	margin: 25px auto;
}