.screen-boatday .boatday-image {
	background-size: cover;
	background-position: center;
	height: 40vh;
	position: relative;
}

.screen-boatday .boatday-images .banner {
	position: absolute;
	bottom: 16px;
	background: #fff;
	font-size: 0;
	z-index: 400;
}

.screen-boatday .boatday-images .banner.right {
	right: 0px;
	border-radius: 1.71pt 0px 0px 1.71pt;
}

.screen-boatday .boatday-images  .banner label {
	color: #546e7a;
	font-size: 11.52pt;
	display: inline-block;
	vertical-align: middle;
	line-height: 24pt;
	margin: 0px 9px;
}

.screen-boatday .shortcuts a {
	display: block;
	line-height: 65pt;
	border-bottom: 1px solid rgba(228, 233, 235, 1);
	font-size: 11.95pt;
}

.screen-boatday .shortcuts .host-picture,
.screen-boatday .shortcuts .boat-picture {
	margin: 0px 5px 0px 20px;
	background-size: cover;
	position: relative;
	top: 8px;
}

.screen-boatday .shortcuts a .name {
	color: rgba(177, 191, 204, 1);
}

.screen-boatday .shortcuts a strong {
	color: rgba(84, 110, 122, 1);
	font-weight: 400;
}


.screen-boatday .shortcuts a .rating {
	position: relative;
	top: 4px;
	margin: 0px 5px;
}

.screen-boatday .shortcuts a .amount-rating {
	color: rgba(248, 182, 44, 1);
}

.screen-boatday .details h1 {
	text-align: center;
	padding: 0px 41px 27px 41px;
	color: rgba(59, 64, 69, 1);
	font-size: 14.93pt;
	line-height: 23.04pt;
}

.screen-boatday .details {
	padding: 36px 0px 31px 0px;
	font-size: 0px;
}

.screen-boatday .details h4,
.screen-boatday .details p {
	color: rgba(177, 191, 204, 1);
	font-size: 11.52pt;
	line-height: 12.8pt;
	width: 49%;
	margin-bottom: 11px;
	text-align: right;
	padding-right: 10px;
	display: inline-block;
}

.screen-boatday .details p {
	color: rgba(84, 110, 122, 1);
	text-align: left;
	padding-left: 10px;
	padding-right: 0px;
}

.screen-boatday .details h4:last-of-type,
.screen-boatday .details p:last-of-type {
	margin-bottom: 0px;
}

.screen-boatday .description {
	text-align: center;
}

.screen-boatday .description p {
	color: rgba(84, 110, 122, 1);
	font-size: 12.8pt;
	line-height: 17.92pt;
	padding: 25px;
}

.screen-boatday .boatday-features {
	text-align: center;
}

.screen-boatday .boatday-features .features {
	display: -webkit-flex;
	flex-flow: column wrap;
	flex-direction: row;
	padding: 25px 0px 30px 63px;
}

.screen-boatday .boatday-features .features p {
	font-weight: 400;
	color: rgba(84, 110, 122, 1);
	font-size: 8.53pt;
	line-height: 12pt;
	width: 30vw;
	text-align: left;
	margin-right: 30px;
}

.screen-boatday .guests {
	text-align: center;
}

.screen-boatday .guests .list .boatday-guests {
	padding: 24px 0px 24px 25px;
	border-bottom: 1px solid rgba(29, 29, 38, 0.05);
	display: -webkit-flex;
	flex-flow: row;
}

.screen-boatday .guests .list .boatday-guests:last-child {
	border-bottom: none;
}

.screen-boatday .guests .list .boatday-guests .guest-picture {
	margin-right: 8px;
}

.screen-boatday .guests .list .boatday-guests .guest-name {
	color: rgba(17, 171, 193, 1);
	font-size: 10.67pt;
	font-weight: 500;
	line-height: 15pt;
	margin-top: 3px;
}

.screen-boatday .location {
	padding-bottom: 40px;
}

.screen-boatday .location .map {
	background-size: cover;
	background-position: center;
	height: 260px;
	text-align: center;
	vertical-align: middle;
	display: -webkit-box;
	display: -webkit-flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
}

.screen-boatday .location h1 {
	color: rgba(177, 192, 204, 1);
	font-size: 11.52pt;
	line-height: 12.8pt;
	margin-top: 27px;
	margin-bottom: 8px;
	text-align: center;
}

.screen-boatday .location .name {
	color: rgba(84, 110, 122, 1);
	font-size: 11.52pt;
	line-height: 12.8pt;
	margin-bottom: 8px;
	text-align: center;
}

.screen-boatday .location .detail {
	color: rgba(177, 192, 204, 1);
	font-size: 8.52pt;
	line-height: 13.65pt;
	text-align: center;
}

.screen-boatday .questions {
	text-align: center;
}

.screen-boatday .questions h6 {
	margin-bottom: 20px;	
}

.screen-boatday .questions button {
	width: auto;
	margin-top: 20px;
	margin-bottom: 37px;
}

.screen-boatday .booking {
	text-align: center;
	padding: 24px;
}

.screen-boatday .booking .price {
	font-size: 23.47pt;
	line-height: 32pt;
	color: rgba(17, 171, 193, 1);
	margin-bottom: 22px;
}

.screen-boatday .booking .price sub {
	font-size: 8.53pt;
	line-height: 12pt;
	position:relative;
	color: rgba(84, 110, 122, 1);
	top: -6px;
}

.screen-boatday .booking .hint {
	font-size: 14.93pt;
	line-height: 13.65pt;
	color: rgba(84, 110, 122, 1);
	margin-bottom: 17px;
}

.screen-boatday .booking .cancellations {
	width: auto;
	margin-bottom: 37px;
}

.screen-boatday .booking .book {
	margin-bottom: 37px;
}

.screen-boatday .booking .policies {
	font-size: 10.24pt;
}

.screen-boatday .sharing {
	padding: 60px 47px;
	position: relative;
	z-index: 1;
	background-size: cover;
	background-position: center;
	position: relative;
}

.screen-boatday .sharing:after {
	content: "";
	background:  rgba(37, 42, 43, 0.85);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.screen-boatday .sharing * {
	z-index: 3;
	position: relative;
}

.screen-boatday .sharing label {
	color: white; 
	text-transform: uppercase;
	line-height: 13.65pt;
	font-size: 8.53pt;
	text-align: center;
	display: block;
}

.screen-boatday .sharing button {
	border-radius: 10000pt;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
	background: transparent;
	font-size: 8.53px;
	margin-top: 20px;
}

.screen-boatday .sharing button:active {
	opacity: 0.5;
	background: rgba(0, 0, 0, 0.1);
}

.screen-boatday .questions {
	padding: 0px 25px;
}

.screen-boatday .questions h6 {
	margin-bottom: 37px;
}
	
.screen-boatday div.question p.question {
	color: rgba(177, 191, 204, 1);
	font-size: 10.24pt;
	line-height: 14pt;
	text-align: left;
}

.screen-boatday div.question p.answer {
	color: rgba(84, 110, 122, 1);
	font-size: 10.24pt;
	line-height: 14pt;
	text-align: left;
	margin-bottom: 8px;
	margin-bottom: 27px;
}

.screen-boatday div.question p.answer span {
	color: rgba(248, 182, 44, 1);
	margin-right: 5px;
}