.screen-price-info header p {
	color: rgba(84, 110, 122, 1);
	font-size: 10.67px;
	font-weight: 400;
	inline-height: 17.92pt;
	margin: 0px 23px 3px 23px;
}

.screen-price-info .items {
	-webkit-flex: 1;
	display: -webkit-flex;
	-webkit-flex-direction: column;
}

.screen-price-info .items div {
	-webkit-flex: 1;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	padding-left: 23px;
	border-bottom: 1px solid rgba(29, 29, 38, 0.05);
}

.screen-price-info .items div * {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-webkit-align-self: center;
}

.screen-price-info .items label {
	-webkit-flex: 1;
}

.screen-price-info .items .seats {
	padding: 0px 10px;
}

.screen-price-info .items .amount {
	width: 55px;
}