.screen-notifications .header {
	text-align: center;
}

.screen-notifications .header h1 {
	margin-top: 32px;
	font-size: 17pt;
	line-height: 23pt;
}

.screen-notifications .header p {
	font-size: 8.5pt;
	margin-bottom: 33px;
}

.screen-notifications .notification-list {
	background: rgba(249, 251, 251, 1);
	height: 420px;
}

.screen-notifications .notification-list .notification-empty {
	font-size: 17pt;
	line-height: 28pt;
	padding: 80px 83px 229px 81px;
}

.screen-notifications .notification {
	padding: 30px 25px;
}

.screen-notifications .notification .profile-picture {
	height: 25px;
	width: 25px;
	float: left;
}

.screen-notifications .notification .bd-picture {
	margin: 0px 10px 0px 0px;
	width: 40px;
	height: 40px;
	float: left;
}

.screen-notifications .notification p {
	padding: 10px;
	margin: 0px;
	line-height: normal;
	font-weight: 500;
	font-size: 0.75em;
}

.screen-notifications .notification span.sender {
	color: #11abc1;
	line-height: 20px;
	display:block;
}

.screen-notifications .notification span.time {
	margin: 0px;
	margin-bottom: 5px;
	line-height: 20px;
	display:block;
	font-weight: 400;
	color: #b1bfcc;
}


