.screen-book main {
	background: rgba(249, 251, 251, 1);
}

.screen-book main > div {
	.display-flex();
	.flex-direction(column);
	.flex(1);

	height: 100%;
}

.screen-book .items {
	background: white;

	.display-flex();
	.flex-direction(column);
}

.screen-book .item {
	border-bottom: 1px solid rgba(29, 29, 28, 0.05);
	color: rgba(56, 61, 62, 1);

	.display-flex();
	.flex-direction(row);
}

.screen-book .item .icon {
	margin-left: 26px;
	line-height: 60px;
	color: rgba(29, 29, 28, 0.5);
}

.screen-book .item p {
	margin: 26px;
	font-size: 11pt;
	text-align: center;
}

.screen-book .item select {
	font-size: 11.95px;
	line-height: 60px;
	padding: 0px;
	padding-left: 26px;

	.flex(1);
}

.screen-book .price-pay {
	border-bottom: none;

	.flex(1);
	.display-flex();
	.box-pack(center);
	.justify-content(center);
	.box-align(center);
	.align-items(center);
}

.screen-book .btn-group {
	padding: 0px 15px 15px 15px;

	.display-flex();
	.flex-direction(row);
}

.screen-book .btn-group button:first-child {
	margin-right: 10px;
}

.screen-book footer {
	border: none;
	padding: 0px;
}

.screen-book label[for=duration], 
.screen-book label[for=departureTime] {
	color: rgba(84, 110, 122, 1);	
	font-size: 8.53pt;
	line-height: 8.53pt;
	font-weight: 400;
	text-transform: uppercase;
}

.screen-book .preview-departureTime,
.screen-book .preview-duration {
	color: rgba(17, 171, 193, 1);
	font-size: 10.67pt;
	line-height: 15pt;
	font-weight: 300; 
}

.screen-book .time, 
.screen-book .duration {
	padding: 23px 32px 15px 34px;
}

.screen-book .departureTime, 
.screen-book .duration-slider {
	margin-top: 18px;
}

.screen-book #departureTime, 
.screen-book #duration-slider {
	width: 100%;
}

//upper layer
.screen-book #departureTime .slider-selection, 
.screen-book #duration-slider .slider-selection {
	background: rgba(17, 171, 193, 1);
	height: 2px;
}

//rounded handel
.screen-book #departureTime .slider-handle, 
.screen-book #duration-slider .slider-handle {
	border: 0.5px solid rgba(56, 61, 62, 0.45);
	background: white !important;
	border: 1px solid rgba(84, 110, 122, 1);
	width: 25.17px;
	height: 25.17px;
	margin-top: -12px;
}

//bottom layer
.slider-track {
	background: rgba(177, 191, 204, 1) !important;
	height: 2px !important;
	background-image: none !important;
}

.slider-handle {
	// background: #f9fbfb !important;
	// border: 1px solid #cfd8dc !important;
  // margin-top: -9.25px !important;
}

.screen-book select[name="card"] {
	background-image: 		url(../resources/cards/default.png),
							url(../resources/select-arrow.png);

	background-position: 	left 20px center,
							right 10px center;

	background-repeat:		no-repeat,
							no-repeat;

	background-size: 		30px,
							auto;

	padding-left: 70px;
}

.screen-book select[name="card"].visa { 
	background-image: 	url(../resources/cards/visa.png),
						url(../resources/select-arrow.png);
}

.screen-book select[name="card"].mastercard {
	background-image: 	url(../resources/cards/mastercard.png),
						url(../resources/select-arrow.png);
}

.screen-book select[name="card"].american-express { 
	background-image: 	url(../resources/cards/american-express.png),
						url(../resources/select-arrow.png);
}
