
.screen-boatday-pay .stars {
  margin-bottom: 15px;
}

.screen-boatday-pay .stars img {
  margin: 0px 5px;
  max-width: 20px;
}

.screen-boatday-pay textarea {
  margin-bottom: 0px;
}

.screen-boatday-pay .grey-area {
  background: #f9fbfb;
  padding: 20px 0px;
  margin: 15px 0px;
	text-align: center;
	color: @text-color;
  line-height: auto;
}

.screen-boatday-pay .grey-area .seats {
  font-size: 2em;
  font-weight: 200;
  line-height: normal;
}
.screen-boatday-pay .grey-area .price {
  font-size: 3em;
  font-weight: 200;
  line-height: normal;
}

.screen-boatday-pay .grey-area .price sup {
  font-size: 0.45em;
  position: relative;
  top: -20px;
}

.screen-boatday-pay .grey-area a {
  display: block;
  font-size:0.75em;
  font-weight:400;
}

.screen-boatday-pay .grey-area a.btn-adjust {
  margin: 20px 0px 10px 0px;;
}

.screen-boatday-pay .grey-area a .icon  {
  font-size: 0.75em;
  font-weight: 500;
  margin-left: 5px;
}

.screen-boatday-pay .grey-area .btn-minus,
.screen-boatday-pay .grey-area .btn-plus {
  font-size: 1.5em;
  min-width: 50px;
  margin: 0px 10px;
  margin: 10px;
  font-weight:400;
}

.screen-boatday-pay .details table {
  width: 100%;
  margin-top: 20px;
}

.screen-boatday-pay .details table tr td {
  line-height: 35px;
}

.screen-boatday-pay .details table tr td.label {
  color: #546e7a ;
  font-weight: 500;
  font-size: 0.8em;
  text-align: left;
}
.screen-boatday-pay .details table tr td.amount-seats {
  color: #b1bfcc;
  line-height: 35px;
  font-size: 1.15em;
}
.screen-boatday-pay .details table tr td.amount {
  color: #546e7a;
  text-align: right;
  font-weight: 500;
}

.screen-boatday-pay .details table tr.discount td.amount,
.screen-boatday-pay .details table tr.discount-per-seat td.amount,
.screen-boatday-pay .details table tr.promo td.amount,
.screen-boatday-pay .details table tr.promo-per-seat td.amount {
  color: #23acc2;
}

.screen-boatday-pay .details p {
  text-align: right;
  margin-top: 25px;
  border-top: 1px solid #e1e6ea;
  padding-top: 25px;
}

.screen-boatday-pay .details .price-total {
  font-size: 2.4em;
  font-weight: 2em;
  padding-right: 10px;
}