@brand-primary:                       #13a7bf;
@brand-bg:                            white;
@text-color:                          #546e7a;
@text-color-secondary:				  #b2c0cc;
@light-bg:							  #f4f9f9;

@facebook-btn-color:                  white;
@facebook-btn-bg:                     #6782bc;
@facebook-btn-border:                 #e1e6ea;

@header-color:                        white;
@header-border:                       @brand-primary;
@header-bg-left:                      @brand-primary;
@header-bg-right:                     #0ab8c8;

@btn-color:                           @brand-primary;
@btn-border:                          #e1e6ea;
@btn-bg:                              #f9fbfb;
@btn-border-radius:                   5px;

@btn-primary-color:                   @brand-primary;
@btn-primary-border:                  @brand-primary;
@btn-primary-bg:                      white;

@btn-action-color:                    white;
@btn-action-border:                   #f5b019;
@btn-action-bg:                       #f5b019;

@input-color:                         @text-color;
@input-border:                        #e1e6ea;
@input-bg:                            white;
@input-padding:						  15px;
@input-border-radius:                 @btn-border-radius;

@notification-info-bg:                @brand-primary;
@notification-error-bg:               rgb(217, 83, 79);
@notification-color:                  white;