@font-face {
  font-family: museo;
  src: url(../fonts/Museo700-Regular.ttf);
}
* {
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  background: url(../resources/loader.gif) center center no-repeat;
}
.clip-to-bottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
header.bar.bar-nav,
div.content .bar-header-secondary {
  height: 60px !important;
  -webkit-transform: translateZ(0);
  -webkit-box-shadow: none;
  border-bottom: 1px solid #13a7bf;
  background: #13a7bf;
}
header.bar.bar-nav a.icon,
header.bar.bar-nav button.btn-nav {
  margin-top: 16px;
  color: white;
}
header.bar.bar-nav a.icon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  background: transparent;
}
header.bar.bar-nav h1 {
  line-height: 44px;
  margin-top: 16px;
  color: white;
  font-family: museo;
}
.bar-nav ~ .content {
  padding-top: 60px;
}
div.content {
  background: #ffffff;
}
div.content h1,
div.content h2,
div.content h3,
div.content h4,
div.content h5,
div.content h6 {
  color: #1b7483;
  text-align: center;
  font-weight: 200;
  margin-top: 30px;
  margin-bottom: 20px;
}
div.content h1 {
  font-size: 1.5em;
}
div.content h2 {
  font-size: 1.4em;
}
div.content h3 {
  font-size: 1.3em;
}
div.content h4 {
  font-size: 1.2em;
}
div.content h5 {
  font-size: 1.1em;
}
div.content h6 {
  font-size: 1em;
}
div.content p {
  color: #2c2c2c;
}
.btn {
  background-color: white;
  color: #13a7bf;
  border: 1px solid #13a7bf;
}
.btn-primary {
  background-color: #f5b019;
  color: white;
  border: 1px solid #f5b019;
}
.btn:active,
.btn.active {
  background-color: #13a7bf;
  color: white;
  border: 1px solid #13a7bf;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #b98208;
  color: white;
  border: 1px solid #b98208;
}
textarea {
  padding: 15px;
}
/*
.modal {
	z-index: 11;
}

.modal header.bar.bar-nav {
	z-index: 21;
}
*/
.snap-drawer {
  background: transparent;
  width: 266px;
}
.snap-drawer .profile .profile-picture {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 90px;
  background: center center no-repeat;
  background-size: cover;
}
div.content button.btn.loading,
div.content a.btn.loading {
  color: transparent !important;
}
div.content button.btn.loading:after,
div.content a.btn.loading:after {
  content: "";
  z-index: 100;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  background: url(../resources/logo-30.png) center center no-repeat;
  -webkit-animation: "pulse1" 0.8s ease-in-out alternate infinite;
  opacity: 1;
}
#loader {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: rgba(68, 65, 82, 0.5);
  display: none;
}
#loader .loader-icon {
  width: 100%;
  height: 100%;
  background: url(../resources/logo-60.png) center center no-repeat;
  -webkit-animation: "pulse1" 0.8s ease-in-out alternate infinite;
  opacity: 1;
}
@-webkit-keyframes "pulse1" {
  0% {
    -webkit-transform: scale(1.1);
    -webkit-filter: blur(4px);
  }
  50% {
    -webkit-transform: scale(0.8);
    -webkit-filter: blur(0px);
  }
  100% {
    -webkit-transform: scale(1);
    -webkit-filter: blur(2px);
  }
}
.message {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  color: white;
  padding: 10px;
  padding-top: 20px;
  z-index: 10000;
  -webkit-animation-name: fadeOut;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  90% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  99% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  100% {
    opacity: 0;
  }
}
.message.message-info {
  background: #67616c;
}
.message.message-error {
  background: #d9534f;
}
.message.message .icon {
  font-size: 1.2em;
  padding: 0px 0px 0px 0px;
}
.screen-about-us img.logo {
  max-width: 50%;
  margin-top: 30px;
  margin-bottom: 10px;
}
.screen-about-us .version {
  margin-bottom: 20px;
}
.screen-boatdays-home .category {
  height: 25%;
  border-bottom: 4px solid rgba(13, 13, 14, 0.79);
  background: center center no-repeat;
  background-size: cover;
}
.screen-boatdays-home .category h1 {
  margin: 0px;
  text-align: right;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: rgba(13, 13, 14, 0.79);
  font-size: 20px;
  padding: 10px 12px 5px 5px;
  color: white;
  font-family: museo;
}
.screen-boatdays-home .category h1:after {
  content: "";
  position: absolute;
  top: 0px;
  left: -100%;
  height: 100%;
  width: 100%;
  background: url(../resources/boatday-category-corner.png) top right no-repeat;
}
