@font-face {
  font-family: museo;
  src: url(../fonts/Museo700-Regular.ttf);
}
* {
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  background: url(../resources/loader.gif) center center no-repeat;
}
.clip-to-bottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
header.bar.bar-nav,
div.content .bar-header-secondary {
  height: 60px !important;
  -webkit-transform: translateZ(0);
  -webkit-box-shadow: none;
  border-bottom: 1px solid #13a7bf;
  background: -webkit-linear-gradient(right, #13a7bf, #0ab8c8);
}
header.bar.bar-nav a.icon,
header.bar.bar-nav button.btn-nav {
  margin-top: 16px;
  color: white;
}
header.bar.bar-nav a.icon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  background: transparent;
}
header.bar.bar-nav h1 {
  line-height: 44px;
  margin-top: 16px;
  color: white;
  font-family: museo;
}
.bar-nav ~ .content {
  padding-top: 60px;
}
div.content {
  background: white;
}
div.content h1,
div.content h2,
div.content h3,
div.content h4,
div.content h5,
div.content h6 {
  color: #13a7bf;
  text-align: center;
  font-weight: 200;
  margin-top: 30px;
  margin-bottom: 20px;
}
div.content h1 {
  font-size: 1.5em;
}
div.content h2 {
  font-size: 1.4em;
}
div.content h3 {
  font-size: 1.3em;
}
div.content h4 {
  font-size: 1.2em;
}
div.content h5 {
  font-size: 1.1em;
}
div.content h6 {
  font-size: 1em;
}
div.content p,
div.content td,
div.content sup,
div.content sub {
  color: #546e7a;
}
div.content p.secondary {
  color: #b2c0cc;
}
.btn {
  background-color: #f9fbfb;
  color: #13a7bf;
  border: 1px solid #e1e6ea;
  border-radius: 5px;
  line-height: 35px;
  padding: 5px;
  font-weight: 500;
  font-size: 0.8em;
}
.btn-primary {
  background-color: white;
  color: #13a7bf;
  border: 2px solid #13a7bf;
}
.btn-action {
  background-color: #f5b019;
  color: white;
  border: 1px solid #f5b019;
}
.btn:active,
.btn.active {
  background-color: #e1e6ea;
  color: white;
  border-color: #e1e6ea;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #13a7bf;
  color: white;
  border-color: #13a7bf;
}
.btn-action:active,
.btn-action.active {
  background-color: #f5b019;
  color: white;
  border-color: #f5b019;
}
.btn-group button {
  width: 50%;
  display: inline-block;
}
.btn-group button:first-child {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  float: left;
}
.btn-group button:last-child {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
  padding: 10px 15px;
  color: #546e7a;
  border: 1px solid #e1e6ea;
  background: white;
  border-radius: 5px;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 30px;
  height: 52px;
  /* height + padding + border */
}
select {
  -webkit-box-shadow: none;
  background: url(../resources/select-arrows.png) no-repeat center right 10px #f9fbfb;
}
.field-flag-error {
  border-color: #f86335 !important;
}
textarea {
  height: auto;
}
label {
  font-weight: 500;
  font-size: 0.7em;
  color: #546e7a;
}
.clear {
  display: block;
  clear: both;
}
.profile-picture {
  background: center center no-repeat white;
  background-size: cover;
  background-image: url(../resources/profile-picture-placeholder.png);
  height: 60px;
  width: 60px;
  border-radius: 70px;
  display: block;
}
.modal {
  z-index: 11;
}
.modal header.bar.bar-nav {
  z-index: 21;
}
.snap-drawer {
  background: transparent;
  width: 266px;
}
.snap-drawer.snap-drawer-left .top {
  height: 190px;
  background: #2b3336;
  padding-top: 40px;
  border-right: 1px solid #252b2e;
}
.snap-drawer.snap-drawer-left .profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 120px;
  background: center center no-repeat;
  background-size: cover;
  margin: 0px auto;
}
.snap-drawer.snap-drawer-left .name {
  color: white;
  text-align: center;
  font-weight: 200;
  margin-top: 10px;
  opacity: 0.4;
}
.snap-drawer.snap-drawer-left .links {
  position: absolute;
  top: 190px;
  bottom: 0px;
  background: -webkit-linear-gradient(#13a7bf, #0ab8c8);
  text-align: center;
  border-right: 1px solid #0b99a8;
}
.snap-drawer.snap-drawer-left .links .inner {
  background: rgba(255, 255, 255, 0.15);
  padding-bottom: 20px;
}
.snap-drawer.snap-drawer-left .links a {
  width: 50%;
  float: left;
  font-size: 0.6em;
  font-weight: 200;
  padding-top: 20px;
}
.snap-drawer.snap-drawer-left .links a img {
  display: block;
  margin: 0px auto 5px auto;
  max-width: 60px;
}
.snap-drawer.snap-drawer-left a {
  color: white;
}
.snap-drawer.snap-drawer-left .clip-to-bottom {
  right: auto;
  width: 266px;
}
.snap-drawer.snap-drawer-left .clip-to-bottom a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 0.7em;
  text-align: center;
  margin-bottom: 5px;
}
.snap-drawer.snap-drawer-left .clip-to-bottom a {
  border-top: 1px solid #51cddc;
}
.snap-drawer.snap-drawer-left .clip-to-bottom a:first-child {
  border-top: none;
}
div.content button.btn.loading,
div.content a.btn.loading {
  color: transparent !important;
}
div.content button.btn.loading:after,
div.content a.btn.loading:after {
  content: "";
  z-index: 100;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  background: url(../resources/logo-30.png) center center no-repeat;
  -webkit-animation: "pulse1" 0.8s ease-in-out alternate infinite;
  opacity: 1;
}
#loader {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: rgba(68, 65, 82, 0.5);
  display: none;
}
#loader .loader-icon {
  width: 100%;
  height: 100%;
  background: url(../resources/logo-60.png) center center no-repeat;
  -webkit-animation: "pulse1" 0.8s ease-in-out alternate infinite;
  opacity: 1;
}
@-webkit-keyframes "pulse1" {
  0% {
    -webkit-transform: scale(1.1);
    -webkit-filter: blur(4px);
  }
  50% {
    -webkit-transform: scale(0.8);
    -webkit-filter: blur(0px);
  }
  100% {
    -webkit-transform: scale(1);
    -webkit-filter: blur(2px);
  }
}
.message {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  color: white;
  padding: 10px;
  padding-top: 20px;
  z-index: 10000;
  -webkit-animation-name: fadeOut;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  90% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  99% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  100% {
    opacity: 0;
  }
}
.message.message-info {
  background: #67616c;
}
.message.message-error {
  background: #d9534f;
}
.message.message .icon {
  font-size: 1.2em;
  padding: 0px 0px 0px 0px;
}
.screen-about-us .version {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 25px;
}
.screen-about-us .date {
  font-size: 0.7em;
  color: #b2c0cc;
  font-weight: 700;
}
.screen-about-us img.logo {
  max-width: 120px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.screen-about-us p.description {
  margin-bottom: 15px;
}
.screen-about-us textarea {
  margin-bottom: 5px;
}
.screen-about-us .social,
.screen-about-us .website {
  margin-top: 50px;
}
.screen-about-us .social p,
.screen-about-us .website p {
  margin-bottom: 15px;
}
.screen-about-us .social a {
  width: 33%;
  float: left;
  font-size: 0.7em;
  color: #b2c0cc;
  font-weight: 400;
  display: block;
}
.screen-about-us .social img {
  display: block;
  margin: auto;
  max-width: 60px;
}
.screen-profile-info .step,
.screen-profile-picture .step,
.screen-profile-payments .step {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 50px;
}
.screen-profile-info .content h1,
.screen-profile-picture .content h1,
.screen-profile-payments .content h1 {
  margin: 0px;
  margin-bottom: 40px;
}
.screen-profile-info .content-padded > *:first-child,
.screen-profile-picture .content-padded > *:first-child,
.screen-profile-payments .content-padded > *:first-child {
  margin-top: 50px;
}
.screen-profile-picture label {
  margin-top: 20px;
  display: block;
}
.screen-profile-picture .profile-picture {
  width: 160px;
  height: 160px;
  border-radius: 500px;
  background: center center no-repeat;
  background-size: cover;
  margin: 0px auto 0px auto;
  border: 1px solid #e1e6ea;
}
.screen-profile-picture .profile-picture.field-flag-error {
  border-color: #f86335 !important;
}
.screen-profile-picture .display-name {
  margin: 20px auto 20px auto;
  text-align: center;
  font-weight: bold;
}
.screen-profile-picture button.save {
  /* margin-top: 20px; */
}
.screen-profile-payments-add .left {
  width: 60%;
  float: left;
}
.screen-profile-payments-add .right {
  width: 35%;
  float: right;
}
.screen-profile-payments .loading {
  text-align: center;
  font-weight: 200;
  color: #b2c0cc;
  font-size: 0.8em;
}
.screen-sign-in .btn.facebook {
  border-color: #6782bc;
  color: white;
  background: #6782bc;
}
.screen-sign-in .btn.twitter {
  border-color: #3ad2fe;
  color: white;
  background: #3ad2fe;
}
.screen-sign-in img.or {
  width: 30%;
  display: block;
  margin: 25px auto;
}
.screen-notifications .header {
  border-bottom: 1px solid #e1e6ea;
  text-align: center;
}
.screen-notifications .header h1 {
  margin-bottom: 5px;
  margin-top: 50px;
}
.screen-notifications .header p {
  color: ;
  font-size: 0.6em;
  margin-bottom: 30px;
}
.screen-notifications .notification {
  border-bottom: 1px solid #e1e6ea;
  background: white;
  min-height: 72px;
}
.screen-notifications .notification.read {
  border-bottom: 1px solid #e1e6ea ;
  background: #f9fbfb;
}
.screen-notifications .notification .profile-picture {
  margin: 0px 10px 0px 0px;
  width: 52px;
  height: 52px;
  float: left;
  border: 1px solid #11abc1;
}
.screen-notifications .notification .bd-picture {
  margin: 0px 10px 0px 0px;
  width: 52px;
  height: 52px;
  float: left;
}
.screen-notifications .notification p {
  padding: 10px;
  margin: 0px;
  line-height: normal;
  font-weight: 500;
  font-size: 0.75em;
}
.screen-notifications .notification span.sender {
  color: #11abc1;
}
.screen-notifications .notification span.time {
  margin: 0px;
  font-weight: 500;
  color: #b1bfcc;
}
.screen-boatdays-home .category {
  height: 25%;
  border-bottom: 4px solid rgba(13, 13, 14, 0.79);
  background: center center no-repeat;
  background-size: cover;
}
.screen-boatdays-home .category h1 {
  margin: 0px;
  text-align: right;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: rgba(13, 13, 14, 0.79);
  font-size: 20px;
  padding: 10px 12px 5px 5px;
  color: white;
  font-family: museo;
}
.screen-boatdays-home .category h1:after {
  content: "";
  position: absolute;
  top: 0px;
  left: -100%;
  height: 100%;
  width: 100%;
  background: url(../resources/boatday-category-corner.png) top right no-repeat;
}
.screen-boatdays .content,
.screen-boatdays-past .content,
.screen-boatdays-upcoming .content {
  background: #f4f9f9;
}
.screen-boatdays .boatday-card,
.screen-boatdays-past .boatday-card,
.screen-boatdays-upcoming .boatday-card {
  display: relative;
  margin: 15px;
  background: transparent;
}
.screen-boatdays .boatday-card .boat-img,
.screen-boatdays-past .boatday-card .boat-img,
.screen-boatdays-upcoming .boatday-card .boat-img {
  height: 200px;
  position: relative;
}
.screen-boatdays-past .boatday-card .boat-img,
.screen-boatdays-upcoming .boatday-card .boat-img {
  height: 250px;
}
.screen-boatdays .boatday-card .details,
.screen-boatdays-past .boatday-card .details,
.screen-boatdays-upcoming .boatday-card .details {
  background: white;
  padding: 15px;
  pading-top: 0px;
  border: 1px solid #e1e6ea;
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.screen-boatdays-past .boatday-card .details {
  padding-top: 40px;
}
.screen-boatdays .boatday-card .boat-img *,
.screen-boatdays-past .boatday-card .boat-img *,
.screen-boatdays-upcoming .boatday-card .boat-img * {
  line-height: normal;
}
.screen-boatdays .boatday-card .boat-img .picture,
.screen-boatdays-past .boatday-card .boat-img .picture,
.screen-boatdays-upcoming .boatday-card .boat-img .picture {
  width: 100%;
  height: 100%;
  background: center center no-repeat url(../resources/boat-placeholder.png) transparent;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.screen-boatdays .boatday-card .boat-img .price {
  background: rgba(13, 13, 14, 0.75);
  margin: auto;
  width: 120px;
  padding: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: 1.4em;
  color: white;
  text-align: center;
}
.screen-boatdays .boatday-card .boat-img .favorite {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.75);
  fot-weight: bold;
  text-shadow: 0px 4px 4px rgba(13, 13, 14, 0.25), 4px 0px 4px rgba(13, 13, 14, 0.25), 0px -4px 4px rgba(13, 13, 14, 0.25), -4px 0px 4px rgba(13, 13, 14, 0.25);
}
.screen-boatdays .boatday-card .boat-img .price sup {
  color: white;
  font-size: 0.7em;
}
.screen-boatdays .boatday-card .boat-img .price sub {
  color: white;
  font-size: 0.4em;
}
.screen-boatdays .boatday-card .boat-img .owner .profile-picture,
.screen-boatdays-past .boatday-card .boat-img .owner .profile-picture,
.screen-boatdays-upcoming .boatday-card .boat-img .owner .profile-picture {
  background: center center no-repeat white;
  background-size: cover;
  height: 60px;
  width: 60px;
  border-radius: 70px;
  border: 2px solid white;
  position: absolute;
  bottom: -15px;
  left: 15px;
}
.screen-boatdays-past .boatday-card .boat-img .owner .profile-picture {
  left: 50%;
  bottom: -30px;
  margin-left: -30px;
}
.screen-boatdays .boatday-card .boat-img .owner .name,
.screen-boatdays-upcoming .boatday-card .boat-img .owner .name {
  position: absolute;
  bottom: -15px;
  left: 85px;
  line-height: 60px;
  background: transparent;
  color: white;
  font-size: 0.7em;
}
.screen-boatdays .boatday-card .boat-img .owner .name strong,
.screen-boatdays-upcoming .boatday-card .boat-img .owner .name strong {
  font-weight: 500;
}
.screen-boatdays .boatday-card .boat-img .owner .rating,
.screen-boatdays-upcoming .boatday-card .boat-img .owner .rating {
  position: absolute;
  bottom: -15px;
  line-height: 60px;
  right: 15px;
  font-size: 0.6em;
  color: white;
}
.screen-boatdays .boatday-card .boat-img .owner .rating img,
.screen-boatdays-past .boatday-card .boat-img .owner .rating img,
.screen-boatdays-upcoming .boatday-card .boat-img .owner .rating img {
  height: 12px;
  position: relative;
  top: 2px;
}
.screen-boatdays .boatday-card .details .date,
.screen-boatdays-past .boatday-card .details .date,
.screen-boatdays-upcoming .boatday-card .details .date,
.screen-boatdays .boatday-card .details .duration,
.screen-boatdays-upcoming .boatday-card .details .duration,
.screen-boatdays .boatday-card .details .position,
.screen-boatdays-upcoming .boatday-card .details .position,
.screen-boatdays .boatday-card .details .seats,
.screen-boatdays-past .boatday-card .details .captain {
  font-size: 0.8em;
  color: #546e7a;
  line-height: 20px;
}
.screen-boatdays .boatday-card .details strong,
.screen-boatdays-upcoming .boatday-card .details strong {
  color: #13a7bf;
  font-size: 1.6em;
  font-weight: 500;
}
.screen-boatdays .boatday-card .details .position,
.screen-boatdays-upcoming .boatday-card .details .position {
  color: #b2c0cc;
  padding-top: 15px;
  margin-right: 79px;
}
.screen-boatdays-upcoming .boatday-card .details .position {
  margin-right: 0px;
}
.screen-boatdays .boatday-card .details .seats,
.screen-boatdays-upcoming .boatday-card .details .seats {
  color: #b2c0cc;
  text-align: right;
  width: 80px;
  padding-top: 15px;
  float: right;
}
.screen-boatdays-upcoming .boatday-card .details .seats {
  float: none;
  width: auto;
  text-align: center;
  color: #13a7bf;
}
.screen-boatdays .boatday-card .details h1,
.screen-boatdays-past .boatday-card .details h1,
.screen-boatdays-upcoming .boatday-card .details h1 {
  margin: 0px;
  text-align: left;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 35px;
  color: #13a7bf;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.screen-boatdays-past .boatday-card .details .captain {
  color: #b2c0cc;
}
.screen-boatdays-past .boatday-card .details .captain strong {
  color: #13a7bf;
}
.screen-boatdays-past .boatday-card .details h1 {
  text-align: center;
  color: #546e7a;
}
.screen-boatdays-past .boatday-card .header {
  position: absolute;
  height: 80px;
  top: 50%;
  width: 100%;
  margin-top: -40px;
  background: rgba(43, 51, 54, 0.85);
}
.screen-boatdays-past .boatday-card .header * {
  color: white;
}
.screen-boatdays-past .boatday-card .header .left,
.screen-boatdays-past .boatday-card .header .center,
.screen-boatdays-past .boatday-card .header .right {
  width: 50%;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 0.8em;
  margin-top: 20px;
}
.screen-boatdays-past .boatday-card .header .center {
  width: 100%;
  line-height: 80px;
  margin-top: 0px;
}
.screen-boatdays-past .boatday-card .header .left {
  float: left;
}
.screen-boatdays-past .boatday-card .header .right {
  float: right;
}
.screen-boatdays-past .boatday-card .header .left strong {
  font-size: 1.5em;
}
.screen-boatdays-past .boatday-card .header .right img {
  height: 12px;
  position: relative;
  top: 2px;
}
.screen-boatdays-past .boatday-card .details .captain {
  color: #b2c0cc;
}
.screen-boatdays-past .boatday-card .details .captain strong {
  color: #13a7bf;
  font-weight: 500;
}
.screen-boatday .slider {
  background: #b2c0cc;
}
.screen-boatday .captain {
  background: #f9fbfb;
  padding: 20px 20px;
}
.screen-boatday .captain .profile-picture {
  width: 80px;
  height: 80px;
  float: left;
  border: 2px white solid;
  margin-right: 20px;
}
.screen-boatday .captain p {
  font-size: 0.8em;
  line-height: 25px;
  margin-top: 0px;
  color: #b2c0cc;
  font-weight: 500;
}
.screen-boatday .captain p strong {
  font-weight: 500;
  color: #546e7a;
}
.screen-boatday .captain p img {
  height: 14px;
  position: relative;
  top: 2px;
}
.screen-boatday .content h1 {
  line-height: 60px;
  font-size: 1.1em;
  font-weight: 400;
}
.screen-boatday table {
  width: 100%;
}
.screen-boatday td {
  border-top: 1px solid #e1e6ea ;
  border-bottom: 1px solid #e1e6ea ;
  padding: 15px;
  font-size: 0.75em;
  color: #b2c0cc;
  font-weight: 500;
}
.screen-boatday td strong {
  color: #546e7a;
  padding-left: 5px;
}
.screen-boatday td:first-child {
  border-right: 1px solid #e1e6ea ;
}
.screen-boatday label {
  display: block;
  font-weight: 700;
  text-align: center;
  color: #b2c0cc;
  font-size: 0.75em;
  margin-bottom: 10px;
  margin-top: 40px;
  clear: both;
}
.screen-boatday p.description {
  text-align: justify;
  margin-bottom: 40px;
}
.screen-boatday .map {
  height: 200px;
  background: #f9fbfb;
  border-radius: 5px;
  background: center center no-repeat;
  position: relative;
}
.screen-boatday .map img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
}
.screen-boatday .features p {
  width: 50%;
  float: left;
  padding: 0px 10px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 0.7em;
}
.screen-boatday .features img {
  width: 10px;
  margin-right: 5px;
}
.screen-boatday .book {
  clear: both;
  background: #f9fbfb;
  padding: 20px 0px;
}
.screen-boatday .book p.price {
  font-size: 3em;
  text-align: center;
  font-weight: 200;
  line-height: normal;
}
.screen-boatday .book p.price sup {
  font-size: 0.45em;
  position: relative;
  top: -20px;
}
.screen-boatday .book p.price sub {
  font-size: 0.3em;
}
.screen-boatday .book a {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 0.7em;
  font-weight: 500;
}
.screen-boatday .btn.btn-action {
  margin-top: 15px;
}
.screen-boatday .badge-price {
  background: rgba(13, 13, 14, 0.75);
  margin: auto;
  width: 120px;
  padding: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: 1.4em;
  color: white;
  text-align: center;
  position: absolute;
  top: 60px;
  z-index: 1;
  left: 50%;
  margin-left: -60px;
}
.screen-boatday .badge-price sup {
  font-size: 0.7em;
  color: white;
}
.screen-boatday .badge-price sub {
  font-size: 0.4em;
  color: white;
}
.screen-boatday .slide .img {
  height: 200px;
  width: 100%;
  background: center center no-repeat;
  background-size: cover;
}
.screen-boatday .confirmed-guests .guest {
  text-align: center;
  width: 25%;
  font-size: 0.7em;
  color: #13a7bf;
  float: left;
  margin-bottom: 20px;
}
.screen-boatday .confirmed-guests .guest .profile-picture {
  margin: auto;
}
.screen-boatday-book p {
  text-align: center;
}
.screen-boatday-book select {
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
}
.screen-boatday-book .seats {
  margin-top: 30px;
}
.screen-boatday-book .seats table {
  width: 100%;
  margin-top: 20px;
}
.screen-boatday-book .seats table td {
  line-height: 40px;
}
.screen-boatday-book .seats table tr td:first-child {
  color: #13a7bf;
  font-weight: 400;
  font-size: 0.8em;
}
.screen-boatday-book .seats table tr td:last-child {
  text-align: right;
  font-size: 1em;
}
.screen-boatday-book .seats p {
  text-align: right;
  font-size: 2em;
  margin-top: 5px;
  border-top: 1px solid #e1e6ea;
  padding-top: 15px;
}
.screen-boatday-book .seats p sup {
  font-size: 0.6em;
  position: relative;
}
.screen-boatday-book .payment {
  margin-top: 50px;
}
.screen-boatday-book .payment a {
  font-size: 0.75em;
  margin: 0px 0px 15px 0px;
  display: block;
}
